Repository NVIDIA/spark-rapids-tools, pull requests merged in 2022-11, with the labels that each got.

#3 Adding Github action for project workflow
  .github/workflows/add-to-project.yml
Labels: cicd

#6 add sign-off workflow
  .github/workflows/signoff-check.yml
  .github/workflows/signoff-check/Dockerfile
  .github/workflows/signoff-check/action.yml
  .github/workflows/signoff-check/signoff-check
Labels: cicd

#5 add PR and issue template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation-request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/submit-question.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#19 Support offline clusters in Qualification command
  user_tools/README.md
  user_tools/src/spark_rapids_dataproc_tools/cost_estimator.py
  user_tools/src/spark_rapids_dataproc_tools/dataproc_utils.py
  user_tools/src/spark_rapids_dataproc_tools/dataproc_wrapper.py
  user_tools/src/spark_rapids_dataproc_tools/rapids_models.py
  user_tools/src/spark_rapids_dataproc_tools/resources/gcloud-catalog.json
  user_tools/src/spark_rapids_dataproc_tools/resources/profiling-conf.yaml
  user_tools/src/spark_rapids_dataproc_tools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_dataproc_tools/utilities.py
Labels: user_tools
