Repository NVIDIA/spark-rapids-tools, pull requests merged in 2023-06, with the labels that each got.

#295 Add configuration and initialization for Databricks Azure user qualification tool in local mode
  user_tools/src/spark_rapids_pytools/cloud_api/azurestorage.py
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_azure.py
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_azure_job.py
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
  user_tools/src/spark_rapids_pytools/common/utilities.py
  user_tools/src/spark_rapids_pytools/resources/databricks_azure-configs.json
  user_tools/src/spark_rapids_pytools/wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/databricks_azure_wrapper.py
Labels: feature request, user_tools

#366 Update operators score of Dataproc by jenkins-gen-speedup-factors-dataproc-6
  core/src/main/resources/operatorsScore-dataproc-t4.csv
Labels: tools

#368 Regenerate expected Profile tool outputs with no other code changes
  core/src/test/resources/ProfilingExpectations/executors_removed_eventlog_expectation.csv
  core/src/test/resources/ProfilingExpectations/stages_failure_eventlog_expectation.csv
Labels: tools

#342 Dataproc savings estimates and speedup based on Onprem cluster config
  user_tools/docs/user-tools-onprem.md
  user_tools/src/spark_rapids_pytools/cloud_api/onprem.py
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/resources/onprem-configs.json
  user_tools/src/spark_rapids_pytools/wrappers/onprem_wrapper.py
Labels: feature request, user_tools

#358 remove comma replacement behavior
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ClassWarehouse.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/HealthCheck.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileOutputWriter.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileUtils.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualOutputWriter.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/StringUtils.scala
  core/src/test/resources/ProfilingExpectations/executors_removed_eventlog_expectation.csv
  core/src/test/resources/ProfilingExpectations/jobs_failure_eventlog_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_duration_and_cpu_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_jobandstagemetrics2_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_jobandstagemetrics_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_jobandstagemetricsmulti_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_sqlmetrics_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_sqlmetricsagg2_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_sqlmetricsagg_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_sqlmetricsaggmulti_expectation.csv
  core/src/test/resources/ProfilingExpectations/removed_blockManagers_eventlog_expectation.csv
  core/src/test/resources/ProfilingExpectations/stages_failure_eventlog_expectation.csv
  core/src/test/resources/ProfilingExpectations/tasks_failure_eventlog_expectation.csv
  core/src/test/resources/ProfilingExpectations/unsupported_sql_eventlog_expectation.csv
  core/src/test/resources/QualificationExpectations/complex_dec_expectation.csv
  core/src/test/resources/QualificationExpectations/multi_run_freq_test_expectation.csv
  core/src/test/resources/QualificationExpectations/nested_dsv2_expectation.csv
  core/src/test/resources/QualificationExpectations/nested_type_expectation.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
Labels: bug, tools

#365 Implement cost provider and savings estimator for Databricks Azure platform
  user_tools/src/spark_rapids_pytools/cloud_api/azurestorage.py
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_azure.py
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_azure_job.py
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
  user_tools/src/spark_rapids_pytools/common/utilities.py
  user_tools/src/spark_rapids_pytools/pricing/databricks_azure_pricing.py
  user_tools/src/spark_rapids_pytools/resources/databricks_azure-configs.json
  user_tools/src/spark_rapids_pytools/resources/premium-databricks-azure-catalog.json
  user_tools/src/spark_rapids_pytools/wrappers/databricks_azure_wrapper.py
Labels: user_tools

#387 Improve logging messages in Qualification Tools
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationEventProcessor.scala
Labels: tools

#359 Add diagnostic command to collect info from Dataproc & EMR nodes
  .github/workflows/python-unit-test.yml
  user_tools/docs/index.md
  user_tools/docs/user-tools-aws-emr.md
  user_tools/docs/user-tools-dataproc.md
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc.py
  user_tools/src/spark_rapids_pytools/cloud_api/emr.py
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
  user_tools/src/spark_rapids_pytools/common/utilities.py
  user_tools/src/spark_rapids_pytools/rapids/diagnostic.py
  user_tools/src/spark_rapids_pytools/resources/collect.sh
  user_tools/src/spark_rapids_pytools/resources/diagnostic-conf.yaml
  user_tools/src/spark_rapids_pytools/wrappers/dataproc_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/emr_wrapper.py
  user_tools/tests/mock_cluster.py
  user_tools/tests/resources/dataproc-test-gpu-cluster.yaml
  user_tools/tests/test_diagnostic.py
  user_tools/tox.ini
Labels: user_tools

#388 Update version to 23.06.0
  core/pom.xml
  user_tools/src/spark_rapids_pytools/__init__.py
Labels: cicd, user_tools, tools, build

#379 Improve node collection in parallel for diagnostic command
  user_tools/docs/user-tools-aws-emr.md
  user_tools/docs/user-tools-dataproc.md
  user_tools/src/spark_rapids_pytools/rapids/diagnostic.py
  user_tools/src/spark_rapids_pytools/wrappers/dataproc_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/emr_wrapper.py
  user_tools/tests/test_diagnostic.py
Labels: user_tools

#404 Include '*.sh' as python data package to include 'collect.sh' for diagnostic tool
  user_tools/setup.cfg
Labels: bug, user_tools

#395 [TASK] Implement classes and methods to support user tools profiling command for Databricks AWS
  user_tools/src/spark_rapids_pytools/rapids/profiling.py
  user_tools/src/spark_rapids_pytools/wrappers/databricks_aws_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/dataproc_wrapper.py
Labels: feature request, user_tools

#405 Change the authors for spark-rapids-user-tools package on pypi.org
  user_tools/pyproject.toml
Labels: documentation, user_tools, build

#406 Remove dead code and legacy dataproc CLI
  user_tools/docs/index.md
  user_tools/docs/legacy-user-tools-dataproc.md
  user_tools/setup.cfg
  user_tools/src/spark_rapids_dataproc_tools/__init__.py
  user_tools/src/spark_rapids_dataproc_tools/cost_estimator.py
  user_tools/src/spark_rapids_dataproc_tools/csp/__init__.py
  user_tools/src/spark_rapids_dataproc_tools/csp/csp.py
  user_tools/src/spark_rapids_dataproc_tools/csp/dataproc.py
  user_tools/src/spark_rapids_dataproc_tools/dataproc_utils.py
  user_tools/src/spark_rapids_dataproc_tools/dataproc_wrapper.py
  user_tools/src/spark_rapids_dataproc_tools/diag.py
  user_tools/src/spark_rapids_dataproc_tools/diag_dataproc.py
  user_tools/src/spark_rapids_dataproc_tools/diag_scripts/hello_world.py
  user_tools/src/spark_rapids_dataproc_tools/diag_scripts/perf.py
  user_tools/src/spark_rapids_dataproc_tools/rapids_models.py
  user_tools/src/spark_rapids_dataproc_tools/resources/bootstrap-conf.yaml
  user_tools/src/spark_rapids_dataproc_tools/resources/gcloud-catalog.json
  user_tools/src/spark_rapids_dataproc_tools/resources/profiling-conf.yaml
  user_tools/src/spark_rapids_dataproc_tools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_dataproc_tools/utilities.py
  user_tools/tests/conftest.py
  user_tools/tests/resources/dataproc-test-gpu-cluster.yaml
  user_tools/tests/resources/dataproc-test-nongpu-cluster.yaml
  user_tools/tests/resources/dataproc-test-spark2-cluster.yaml
  user_tools/tests/resources/output_samples/qual_success_01/generation.md
  user_tools/tests/resources/output_samples/qual_success_01/tool_output_files.tar.gz
  user_tools/tests/test_basic.py
  user_tools/tests/test_bootstrap.py
  user_tools/tests/test_diag.py
  user_tools/tests/test_profiling.py
  user_tools/tests/test_qualification.py
Labels: documentation, user_tools
