Repository NVIDIA/spark-rapids-tools, pull requests merged in 2023-04, with the labels that each got.

#220 Add project basedir prefix for 'scalastyle-config.xml'
  core/pom.xml
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
Labels: build

#226 Adding user tools info into main qualification docs page
  core/docs/spark-qualification-tool.md
Labels: documentation

#232 Update qualification tool info logging to be clear about estimated GPU cluster
  user_tools/src/spark_rapids_dataproc_tools/rapids_models.py
  user_tools/tests/test_qualification.py
Labels: user_tools

#231 Fixing array exception with AutoTuner for maxPartitionBytes
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/AutoTuner.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/AutoTunerSuite.scala
Labels: bug, tools

#234 Add profiles to build jars against spark versions
  core/README.md
  core/pom.xml
Labels: bug, tools, build

#229 Fix ProjectExec parser to extract correct expression names
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SQLPlanParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/PluginTypeChecker.scala
  core/src/test/resources/QualificationExpectations/qual_test_simple_expectation.csv
  core/src/test/resources/QualificationExpectations/qual_test_simple_expectation_persql.csv
Labels: bug, tools

#238 Fix parsing of Expand expression
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SQLPlanParser.scala
Labels: bug, tools

#239 Clarify where to run user tools commands on Dataproc
  user_tools/docs/index.md
  user_tools/docs/resources/overview-01.png
Labels: bug, documentation, user_tools

#240 Handle CPU cluster that has zero worker nodes
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc.py
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
Labels: feature request, user_tools

#243 Update speedup factors for scala and pyspark
  core/src/main/resources/operatorsScore-databricks-aws.csv
  core/src/main/resources/operatorsScore.csv
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
Labels: tools

#241 Fix intermittent failure downloading dependencies in local mode
  user_tools/docs/user-tools-aws-emr.md
  user_tools/docs/user-tools-databricks-aws.md
  user_tools/docs/user-tools-dataproc.md
  user_tools/pyproject.toml
  user_tools/src/spark_rapids_pytools/common/sys_storage.py
  user_tools/src/spark_rapids_pytools/pricing/price_provider.py
  user_tools/src/spark_rapids_pytools/rapids/rapids_tool.py
  user_tools/src/spark_rapids_pytools/rapids/tool_ctxt.py
  user_tools/src/spark_rapids_pytools/resources/databricks_aws-configs.json
  user_tools/src/spark_rapids_pytools/resources/dataproc-configs.json
  user_tools/src/spark_rapids_pytools/resources/emr-configs.json
Labels: bug, user_tools

#247 Fix testing and force empty string with empty string fields
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualOutputWriter.scala
  core/src/test/resources/QualificationExpectations/complex_dec_expectation.csv
  core/src/test/resources/QualificationExpectations/db_sim_test_expectation.csv
  core/src/test/resources/QualificationExpectations/directory_test_expectation.csv
  core/src/test/resources/QualificationExpectations/jdbc_expectation.csv
  core/src/test/resources/QualificationExpectations/nds_q86_fail_test_expectation.csv
  core/src/test/resources/QualificationExpectations/nds_q86_test_expectation.csv
  core/src/test/resources/QualificationExpectations/nested_dsv2_expectation.csv
  core/src/test/resources/QualificationExpectations/nested_type_expectation.csv
  core/src/test/resources/QualificationExpectations/qual_test_missing_sql_end_expectation.csv
  core/src/test/resources/QualificationExpectations/qual_test_simple_expectation.csv
  core/src/test/resources/QualificationExpectations/read_dsv1_expectation.csv
  core/src/test/resources/QualificationExpectations/read_dsv2_expectation.csv
  core/src/test/resources/QualificationExpectations/spark2_expectation.csv
  core/src/test/resources/QualificationExpectations/truncated_1_end_expectation.csv
  core/src/test/resources/QualificationExpectations/write_format_expectation.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
Labels: tools

#213 Disable recommendations for CPU logs
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/AutoTuner.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/AutoTunerSuite.scala
Labels: tools

#261 Add GPU cluster creation script to Qualification output
  user_tools/docs/index.md
  user_tools/pyproject.toml
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_aws.py
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc.py
  user_tools/src/spark_rapids_pytools/cloud_api/emr.py
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
  user_tools/src/spark_rapids_pytools/common/utilities.py
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/rapids/rapids_tool.py
  user_tools/src/spark_rapids_pytools/resources/dataproc-configs.json
  user_tools/src/spark_rapids_pytools/resources/emr-configs.json
  user_tools/src/spark_rapids_pytools/resources/templates/dataproc-create_gpu_cluster_script.ms
  user_tools/src/spark_rapids_pytools/resources/templates/dataproc-run_bootstrap.ms
  user_tools/src/spark_rapids_pytools/resources/templates/emr-create_gpu_cluster_script.ms
  user_tools/src/spark_rapids_pytools/resources/templates/emr-run_bootstrap.ms
Labels: feature request, user_tools

#270 Add moustache templates to the package data
  user_tools/setup.cfg
Labels: bug, user_tools, build

#268 Bump snakeyaml version to 2.0
  core/pom.xml
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/AutoTuner.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
Labels: bug, tools, build

#273 Generate speedup factors for Dataproc L4 cluster
  core/docs/spark-qualification-tool.md
  core/src/main/resources/operatorsScore-dataproc-l4.csv
  core/src/main/resources/operatorsScore-dataproc-t4.csv
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/PluginTypeChecker.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualificationArgs.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/PluginTypeCheckerSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
Labels: feature request, tools

#275 roll back version upgrade
  core/pom.xml
  user_tools/src/spark_rapids_pytools/__init__.py
Labels: cicd, user_tools, tools, build
