Repository NVIDIA/spark-rapids-tools, pull requests merged in 2023-02, with the labels that each got.

#78 Bump up add-to-project version to 0.4.0 [skip ci]
  .github/workflows/add-to-project.yml
Labels: build

#79 Add pre-merge check for rapids tools & user tools
  .github/workflows/mvn-verify-check.yml
  .github/workflows/python-unit-test.yml
Labels: cicd

#83 Fix latest pylint (2.16) reported issues
  .pylintrc
  user_tools/src/spark_rapids_dataproc_tools/rapids_models.py
Labels: bug

#87 Removing static speedup factor validation
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/PluginTypeCheckerSuite.scala
Labels: tools

#89 Fix tools processing Databricks 11.3 event logs
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
Labels: bug

#80 Update operators score of Dataproc by jenkins-alex-gen-speedup-factor…
  core/src/main/resources/operatorsScore-dataproc.csv
Labels: feature request, tools

#93 Changing MODULE_NAME for new core directory for spark-rapids-tools
  core/src/test/resources/dev/generate-qualification-test-results.sh
Labels: tools

#92 Add platform command to qualification tool for dataproc
  .pylintrc
  user_tools/pyproject.toml
  user_tools/src/spark_rapids_dataproc_tools/rapids_models.py
  user_tools/src/spark_rapids_dataproc_tools/resources/profiling-conf.yaml
  user_tools/src/spark_rapids_dataproc_tools/resources/qualification-conf.yaml
Labels: bug, user_tools

#74 Profiling tool: I/O metrics in separate section
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/ReadParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Analysis.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ApplicationSummaryInfo.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ClassWarehouse.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/CollectInformation.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Profiler.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/ApplicationInfoSuite.scala
Labels: tools

#106 Improve stdout report for EMR CLI
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
  user_tools/src/spark_rapids_pytools/common/utilities.py
  user_tools/src/spark_rapids_pytools/rapids/bootstrap.py
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/rapids/rapids_tool.py
Labels: user_tools

#114 Version to 23.04.0-SNAPSHOT
  core/pom.xml
Labels: cicd, build

#121 Fix apache spark url dependency in local mode
  user_tools/src/spark_rapids_pytools/resources/emr-configs.json
Labels: bug, user_tools

#119 Fix version format to YY.MM.MICRO
  user_tools/pyproject.toml
  user_tools/src/spark_rapids_dataproc_tools/rapids_models.py
  user_tools/src/spark_rapids_dataproc_tools/resources/profiling-conf.yaml
  user_tools/src/spark_rapids_dataproc_tools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_pytools/common/utilities.py
  user_tools/src/spark_rapids_pytools/rapids/tool_ctxt.py
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
Labels: bug, user_tools

#126 Update version of tools jar to v23.02.0
  core/docs/spark-profiling-tool.md
  core/docs/spark-qualification-tool.md
Labels: documentation

#124 Implement dataproc qualification local mode
  user_tools/docs/index.md
  user_tools/docs/legacy-user-tools-dataproc.md
  user_tools/docs/user-tools-dataproc.md
  user_tools/src/spark_rapids_dataproc_tools/dataproc_utils.py
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc.py
  user_tools/src/spark_rapids_pytools/cloud_api/emr.py
  user_tools/src/spark_rapids_pytools/cloud_api/gstorage.py
  user_tools/src/spark_rapids_pytools/cloud_api/s3storage.py
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
  user_tools/src/spark_rapids_pytools/common/prop_manager.py
  user_tools/src/spark_rapids_pytools/common/sys_storage.py
  user_tools/src/spark_rapids_pytools/pricing/dataproc_pricing.py
  user_tools/src/spark_rapids_pytools/pricing/emr_pricing.py
  user_tools/src/spark_rapids_pytools/pricing/price_provider.py
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/rapids/rapids_tool.py
  user_tools/src/spark_rapids_pytools/resources/dataproc-configs.json
  user_tools/src/spark_rapids_pytools/resources/emr-configs.json
Labels: feature request, user_tools

#123 Qualification tool: Initial support for parsing ML functions
  core/docs/spark-qualification-tool.md
  core/pom.xml
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualOutputWriter.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/Qualification.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualificationArgs.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualificationMain.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ToolUtils.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
  core/src/test/resources/spark-events-qualification/xgboost_eventlog.zstd
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
Labels: feature request, tools

#132 Add configuration and initialization for databricks-aws local mode
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_aws.py
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc.py
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
  user_tools/src/spark_rapids_pytools/resources/databricks_aws-configs.json
  user_tools/src/spark_rapids_pytools/resources/emr-configs.json
  user_tools/src/spark_rapids_pytools/wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/databricks_aws_wrapper.py
Labels: feature request, user_tools
