Repository NVIDIA/spark-rapids-tools, pull requests merged in 2023-11, with the labels that each got.

#646 Support extra arguments in new user tools CLI
  user_tools/src/spark_rapids_tools/cmdli/tools_cli.py
  user_tools/src/spark_rapids_tools/utils/util.py
  user_tools/tests/spark_rapids_tools_ut/test_tool_argprocessor.py
Labels: user_tools

#647 [BUG] Support autoscaling clusters for user qualification tool on Databricks platforms
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_aws.py
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_azure.py
Labels: bug, user_tools

#648 Updating dataproc container cost to be multiplied by number of cores
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc.py
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc_gke.py
  user_tools/src/spark_rapids_pytools/cloud_api/onprem.py
  user_tools/src/spark_rapids_pytools/pricing/dataproc_gke_pricing.py
Labels: user_tools

#634 Qualification tool: Enhance mapping of Execs to stages
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
  core/src/test/resources/QualificationExpectations/complex_dec_expectation.csv
  core/src/test/resources/QualificationExpectations/jdbc_expectation.csv
  core/src/test/resources/QualificationExpectations/nds_q86_fail_test_expectation.csv
  core/src/test/resources/QualificationExpectations/nds_q86_fail_test_expectation_persql.csv
  core/src/test/resources/QualificationExpectations/nds_q86_test_expectation.csv
  core/src/test/resources/QualificationExpectations/nds_q86_test_expectation_persql.csv
  core/src/test/resources/QualificationExpectations/qual_test_simple_expectation.csv
  core/src/test/resources/QualificationExpectations/qual_test_simple_expectation_persql.csv
  core/src/test/resources/QualificationExpectations/read_dsv1_expectation.csv
  core/src/test/resources/QualificationExpectations/read_dsv2_expectation.csv
  core/src/test/resources/QualificationExpectations/spark2_expectation.csv
  core/src/test/resources/QualificationExpectations/truncated_1_end_expectation.csv
  core/src/test/resources/QualificationExpectations/write_format_expectation.csv
Labels: tools

#650 Updating autotuner to generation recommendation always, even without cluster info
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/AutoTuner.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/AutoTunerSuite.scala
  user_tools/src/spark_rapids_pytools/rapids/profiling.py
  user_tools/src/spark_rapids_pytools/resources/profiling-conf.yaml
  user_tools/src/spark_rapids_pytools/resources/templates/info_recommendations_disabled.ms
Labels: user_tools, tools

#651 Updating tools docs to remove dead links and profiling docs to not require cluster/worker info
  core/README.md
  core/docs/img/Tools/qualification-tool-app-view-01.png
  core/docs/img/Tools/qualification-tool-app-view-02.png
  core/docs/img/Tools/qualification-tool-app-view-03.png
  core/docs/img/Tools/qualification-tool-recommendation-indexview-with-persql.png
  core/docs/spark-profiling-tool.md
  core/docs/spark-qualification-tool.md
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/AutoTuner.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/AutoTunerSuite.scala
  user_tools/docs/index.md
  user_tools/docs/user-tools-aws-emr.md
  user_tools/docs/user-tools-databricks-aws.md
  user_tools/docs/user-tools-databricks-azure.md
  user_tools/docs/user-tools-dataproc-gke.md
  user_tools/docs/user-tools-dataproc.md
  user_tools/docs/user-tools-onprem.md
  user_tools/src/spark_rapids_pytools/resources/profiling-conf.yaml
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_pytools/wrappers/databricks_aws_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/databricks_azure_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/dataproc_gke_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/dataproc_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/emr_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/onprem_wrapper.py
  user_tools/src/spark_rapids_tools/cmdli/tools_cli.py
  user_tools/tests/spark_rapids_tools_ut/test_tool_argprocessor.py
Labels: user_tools, tools

#654 Profiling tool: Add support for driver log as input to generate unsupported operators report
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ClassWarehouse.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/DriverLogProcessor.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileArgs.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileMain.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Profiler.scala
  core/src/test/resources/spark-events-profiling/driverlog
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/ApplicationInfoSuite.scala
Labels: tools

#652 Improve new CLI testing ensuring complete coverage of arguments cases
  user_tools/src/spark_rapids_tools/cmdli/argprocessor.py
  user_tools/tests/spark_rapids_tools_ut/conftest.py
  user_tools/tests/spark_rapids_tools_ut/resources/worker_info.yaml
  user_tools/tests/spark_rapids_tools_ut/test_tool_argprocessor.py
Labels: user_tools

#664 Bump pyarrow version
  user_tools/pyproject.toml
Labels: user_tools

#665 Qualification tool: Ignore some of the unsupported Execs from output
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ToolUtils.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
  core/src/test/resources/QualificationExpectations/complex_dec_expectation.csv
  core/src/test/resources/QualificationExpectations/jdbc_expectation.csv
  core/src/test/resources/QualificationExpectations/nds_q86_fail_test_expectation.csv
  core/src/test/resources/QualificationExpectations/nds_q86_test_expectation.csv
  core/src/test/resources/QualificationExpectations/qual_test_simple_expectation.csv
  core/src/test/resources/QualificationExpectations/read_dsv1_expectation.csv
  core/src/test/resources/QualificationExpectations/read_dsv2_expectation.csv
  core/src/test/resources/QualificationExpectations/spark2_expectation.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
Labels: tools

#661 Unified platform handling and fetching of operator score files
  core/src/main/resources/operatorsScore-onprem.csv
  core/src/main/scala/com/nvidia/spark/rapids/tool/Platform.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/AutoTuner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Platform.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileArgs.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Profiler.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/PluginTypeChecker.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualificationArgs.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/AutoTunerSuite.scala
Labels: tools

#667 Fix platform names as string constants and reduce redundancy in unit tests
  core/src/main/scala/com/nvidia/spark/rapids/tool/Platform.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/AutoTuner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileArgs.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Profiler.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/PluginTypeChecker.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualificationArgs.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualificationMain.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/AutoTunerSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/PluginTypeCheckerSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
Labels: tools
