Repository NVIDIA/spark-rapids-tools, pull requests merged in 2023-03, with the labels that each got.

#138 Handle ReusedExchange and GenerateBloomFilter in SQLPlanParser
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SQLPlanParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/WholeStageExecParser.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
Labels: bug, tools

#146 Implement cost provider for databricks clusters
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_aws.py
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc.py
  user_tools/src/spark_rapids_pytools/cloud_api/emr.py
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
  user_tools/src/spark_rapids_pytools/pricing/databricks_pricing.py
  user_tools/src/spark_rapids_pytools/pricing/dataproc_pricing.py
  user_tools/src/spark_rapids_pytools/pricing/emr_pricing.py
  user_tools/src/spark_rapids_pytools/pricing/price_provider.py
  user_tools/src/spark_rapids_pytools/resources/databricks-premium-catalog.json
  user_tools/src/spark_rapids_pytools/resources/databricks_aws-configs.json
  user_tools/src/spark_rapids_pytools/resources/emr-configs.json
Labels: user_tools

#151 Add CLI support for dataproc-profiling in local-mode
  core/docs/spark-profiling-tool.md
  user_tools/docs/index.md
  user_tools/docs/user-tools-dataproc.md
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_aws.py
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc.py
  user_tools/src/spark_rapids_pytools/cloud_api/emr.py
  user_tools/src/spark_rapids_pytools/cloud_api/emr_job.py
  user_tools/src/spark_rapids_pytools/cloud_api/gstorage.py
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
  user_tools/src/spark_rapids_pytools/common/sys_storage.py
  user_tools/src/spark_rapids_pytools/common/utilities.py
  user_tools/src/spark_rapids_pytools/pricing/price_provider.py
  user_tools/src/spark_rapids_pytools/rapids/bootstrap.py
  user_tools/src/spark_rapids_pytools/rapids/profiling.py
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/rapids/rapids_job.py
  user_tools/src/spark_rapids_pytools/rapids/rapids_tool.py
  user_tools/src/spark_rapids_pytools/rapids/tool_ctxt.py
  user_tools/src/spark_rapids_pytools/resources/profiling-conf.yaml
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_pytools/wrappers/dataproc_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/emr_wrapper.py
Labels: user_tools

#163 Add reshaped cluster to savingEstimator
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_aws.py
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc.py
  user_tools/src/spark_rapids_pytools/cloud_api/emr.py
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
  user_tools/src/spark_rapids_pytools/pricing/price_provider.py
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
Labels: user_tools

#164 Sort the autotuner comments to match the order of the recommendations
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/AutoTuner.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/AutoTunerSuite.scala
Labels: feature request, user_tools, tools

#166 Fix initialization scripts in Qualification dataproc output
  user_tools/docs/legacy-user-tools-dataproc.md
  user_tools/docs/user-tools-dataproc.md
  user_tools/src/spark_rapids_dataproc_tools/rapids_models.py
  user_tools/src/spark_rapids_dataproc_tools/resources/profiling-conf.yaml
  user_tools/src/spark_rapids_dataproc_tools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_pytools/common/utilities.py
  user_tools/src/spark_rapids_pytools/rapids/profiling.py
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/rapids/rapids_tool.py
  user_tools/src/spark_rapids_pytools/resources/dataproc-configs.json
  user_tools/tests/resources/dataproc-test-gpu-cluster.yaml
Labels: documentation, user_tools

#175 Add support to GPUCluster shape recommendation in Qual CLI
  user_tools/docs/user-tools-aws-emr.md
  user_tools/docs/user-tools-dataproc.md
  user_tools/src/spark_rapids_dataproc_tools/rapids_models.py
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc.py
  user_tools/src/spark_rapids_pytools/common/utilities.py
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/resources/databricks_aws-configs.json
  user_tools/src/spark_rapids_pytools/resources/dataproc-configs.json
  user_tools/src/spark_rapids_pytools/resources/emr-configs.json
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_pytools/wrappers/dataproc_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/emr_wrapper.py
  user_tools/tests/test_qualification.py
Labels: feature request, user_tools

#171 Implement remaining classes to represent databricks-aws
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_aws.py
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_aws_job.py
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
  user_tools/src/spark_rapids_pytools/common/sys_storage.py
  user_tools/src/spark_rapids_pytools/pricing/databricks_pricing.py
  user_tools/src/spark_rapids_pytools/resources/databricks-premium-catalog.json
  user_tools/src/spark_rapids_pytools/resources/databricks_aws-configs.json
  user_tools/src/spark_rapids_pytools/wrappers/databricks_aws_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/dataproc_wrapper.py
Labels: user_tools

#188 Update the version to 23.02.1
  core/pom.xml
  user_tools/src/spark_rapids_pytools/__init__.py
Labels: bug, user_tools, tools, build

#177 Support for total duration of ML functions
  core/docs/spark-qualification-tool.md
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualOutputWriter.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/Qualification.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ToolUtils.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
Labels: feature request

#183 [DOC] Add documentation for Databricks AWS qualification tool
  user_tools/docs/index.md
  user_tools/docs/user-tools-aws-emr.md
  user_tools/docs/user-tools-databricks-aws.md
Labels: documentation, user_tools

#189 Adding in new columns for TCO calculator to CSV output
  user_tools/docs/index.md
  user_tools/docs/user-tools-dataproc.md
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
Labels: user_tools

#194 Adding Databricks Azure speedup factors
  core/src/main/resources/operatorsScore-databricks-azure.csv
Labels: tools

#192 Adding speedup factors specific to Databricks AWS
  core/src/main/resources/operatorsScore-databricks-aws.csv
Labels: tools

#199 Modify wrapper qualification tool `--platform` argument
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
Labels: user_tools

#198 Add cluster-mode to Dataproc Qualification
  user_tools/docs/index.md
  user_tools/docs/user-tools-dataproc.md
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_aws.py
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc.py
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc_job.py
  user_tools/src/spark_rapids_pytools/cloud_api/emr.py
  user_tools/src/spark_rapids_pytools/cloud_api/gstorage.py
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
  user_tools/src/spark_rapids_pytools/rapids/bootstrap.py
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/rapids/rapids_job.py
  user_tools/src/spark_rapids_pytools/rapids/rapids_tool.py
  user_tools/src/spark_rapids_pytools/rapids/tool_ctxt.py
  user_tools/src/spark_rapids_pytools/wrappers/dataproc_wrapper.py
Labels: user_tools

#209 Enable pre-commit check for scalastyle
  core/pom.xml
  core/scalastyle-config.xml
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SQLPlanParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualOutputWriter.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
Labels: build

#206 fix a forget updated param
  data_validation/docs/validation-tools.md
  data_validation/src/spark_rapids_validation_tool/validation_scripts/dataset_validation.py
  data_validation/src/spark_rapids_validation_tool/validation_scripts/metadata_validation.py
Labels: user_tools

#210 Adjust floating roundup to prevent zero values in cost calculations
  user_tools/src/spark_rapids_pytools/pricing/price_provider.py
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
Labels: bug, user_tools
