Repository NVIDIA/spark-rapids-tools, pull requests merged in 2023-09, with the labels that each got.

#526 Add platform encoding to plugins defined in pom
  core/pom.xml
Labels: build

#530 Updating speedup generation for more execs from NDS + validation script
  user_tools/custom_speedup_factors/README.md
  user_tools/custom_speedup_factors/defaultScores.csv
  user_tools/custom_speedup_factors/generate_speedup_factors.py
  user_tools/custom_speedup_factors/operatorsList.csv
  user_tools/custom_speedup_factors/validate_qualification_estimates.py
Labels: tools

#543 Improve AutoTuner plugin recommendation for Fat mode
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/AutoTuner.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/WebCrawlerUtil.scala
Labels: tools

#537 Bump default build to use Spark-333
  .github/workflows/mvn-verify-check.yml
  core/README.md
  core/pom.xml
  user_tools/src/spark_rapids_pytools/resources/databricks_aws-configs.json
  user_tools/src/spark_rapids_pytools/resources/databricks_azure-configs.json
  user_tools/src/spark_rapids_pytools/resources/dataproc-configs.json
  user_tools/src/spark_rapids_pytools/resources/emr-configs.json
  user_tools/src/spark_rapids_pytools/resources/onprem-configs.json
Labels: tools

#535 Improve parsing of aggregate expressions
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SQLPlanParser.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
Labels: bug, tools

#544 Improve tool error message for files with text extensions
  core/src/main/scala/com/nvidia/spark/rapids/tool/EventLogPathProcessor.scala
Labels: tools

#540 [DOC] Fix help command in documentation
  user_tools/docs/user-tools-aws-emr.md
  user_tools/docs/user-tools-databricks-aws.md
  user_tools/docs/user-tools-databricks-azure.md
  user_tools/docs/user-tools-dataproc.md
  user_tools/docs/user-tools-onprem.md
Labels: bug, documentation, user_tools

#545 Qualification should treat promote_precision as supported
  core/src/main/resources/supportedExprs.csv
  core/src/test/scala/com/nvidia/spark/rapids/BaseTestSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
Labels: bug, tools

#548 Adding TakeOrderedAndProject and BroadcastNestedLoopJoin, removing Project from speedup generation
  user_tools/custom_speedup_factors/generate_speedup_factors.py
  user_tools/custom_speedup_factors/operatorsList.csv
Labels: tools

#546 Add `translate` as supported expression in qualification tools
  core/src/main/resources/operatorsScore-databricks-aws.csv
  core/src/main/resources/operatorsScore-databricks-azure.csv
  core/src/main/resources/operatorsScore-dataproc-l4.csv
  core/src/main/resources/operatorsScore-dataproc-t4.csv
  core/src/main/resources/operatorsScore-emr-a10.csv
  core/src/main/resources/operatorsScore-emr-t4.csv
  core/src/main/resources/operatorsScore.csv
  core/src/main/resources/supportedExprs.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
Labels: bug, tools, audit_plugin

#556 Fix handling of current_databse and ArrayBuffer
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SQLPlanParser.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
Labels: bug, tools

#549 [FEA] Add support to TIMESTAMP functions
  core/src/main/resources/operatorsScore-databricks-aws.csv
  core/src/main/resources/operatorsScore-databricks-azure.csv
  core/src/main/resources/operatorsScore-dataproc-l4.csv
  core/src/main/resources/operatorsScore-dataproc-t4.csv
  core/src/main/resources/operatorsScore-emr-a10.csv
  core/src/main/resources/operatorsScore-emr-t4.csv
  core/src/main/resources/operatorsScore.csv
  core/src/main/resources/supportedExprs.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
Labels: feature request, tools, audit_plugin

#557 Remove memoryOverhead recommendations for Standalone Spark
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/AutoTuner.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/AutoTunerSuite.scala
Labels: bug, tools

#569 Fix sdk_monitor exception thrown by abfs protocol
  user_tools/pyproject.toml
Labels: bug, user_tools

#560 [FEA] Remove URLs from pydantic error messages
  user_tools/src/spark_rapids_tools/cmdli/argprocessor.py
  user_tools/src/spark_rapids_tools/exceptions.py
Labels: feature request, user_tools

#550 Add verbose option to the CLI
  user_tools/pyproject.toml
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
  user_tools/src/spark_rapids_pytools/common/sys_storage.py
  user_tools/src/spark_rapids_pytools/common/utilities.py
  user_tools/src/spark_rapids_pytools/rapids/rapids_tool.py
  user_tools/src/spark_rapids_pytools/rapids/tool_ctxt.py
  user_tools/src/spark_rapids_pytools/resources/dev/prepackage_mgr.py
  user_tools/src/spark_rapids_tools/cmdli/argprocessor.py
  user_tools/src/spark_rapids_tools/cmdli/tools_cli.py
  user_tools/src/spark_rapids_tools/utils/util.py
Labels: feature request, user_tools

#533 Add diagnostic capabilities for Databricks (AWS/Azure) environments
  user_tools/docs/user-tools-databricks-aws.md
  user_tools/docs/user-tools-databricks-azure.md
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_aws.py
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_azure.py
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc.py
  user_tools/src/spark_rapids_pytools/cloud_api/emr.py
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
  user_tools/src/spark_rapids_pytools/rapids/diagnostic.py
  user_tools/src/spark_rapids_pytools/resources/collect.sh
  user_tools/src/spark_rapids_pytools/resources/databricks_aws-configs.json
  user_tools/src/spark_rapids_pytools/resources/databricks_azure-configs.json
  user_tools/src/spark_rapids_pytools/wrappers/databricks_aws_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/databricks_azure_wrapper.py
  user_tools/tests/mock_cluster.py
  user_tools/tests/spark_rapids_tools_ut/resources/cluster/databricks/test-azure-instances-catalog.json
  user_tools/tests/test_diagnostic.py
Labels: feature request, user_tools

#587 [FEA] Add flatten function as supported in qualification tool
  core/src/main/resources/operatorsScore-databricks-aws.csv
  core/src/main/resources/operatorsScore-databricks-azure.csv
  core/src/main/resources/operatorsScore-dataproc-l4.csv
  core/src/main/resources/operatorsScore-dataproc-t4.csv
  core/src/main/resources/operatorsScore-emr-a10.csv
  core/src/main/resources/operatorsScore-emr-t4.csv
  core/src/main/resources/operatorsScore.csv
  core/src/main/resources/supportedExprs.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
  user_tools/custom_speedup_factors/operatorsList.csv
Labels: feature request, tools

#589 [FEA] Add json_tuple function as supported in qualification tool
  core/src/main/resources/operatorsScore-databricks-aws.csv
  core/src/main/resources/operatorsScore-databricks-azure.csv
  core/src/main/resources/operatorsScore-dataproc-l4.csv
  core/src/main/resources/operatorsScore-dataproc-t4.csv
  core/src/main/resources/operatorsScore-emr-a10.csv
  core/src/main/resources/operatorsScore-emr-t4.csv
  core/src/main/resources/operatorsScore.csv
  core/src/main/resources/supportedExprs.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
  user_tools/custom_speedup_factors/operatorsList.csv
Labels: feature request, tools

#583 [FEA] Add user qualification tool options for specifying pricing discounts for CPU or GPU cluster, or both
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/wrappers/databricks_aws_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/databricks_azure_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/dataproc_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/emr_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/onprem_wrapper.py
  user_tools/src/spark_rapids_tools/cmdli/argprocessor.py
  user_tools/src/spark_rapids_tools/cmdli/tools_cli.py
Labels: feature request, user_tools

#592 Fix ProjectExecParser to include digits in expression names
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SQLPlanParser.scala
Labels: bug, tools

#597 Add xxhash64 function as supported in qualification tools
  core/src/main/resources/operatorsScore-databricks-aws.csv
  core/src/main/resources/operatorsScore-databricks-azure.csv
  core/src/main/resources/operatorsScore-dataproc-l4.csv
  core/src/main/resources/operatorsScore-dataproc-t4.csv
  core/src/main/resources/operatorsScore-emr-a10.csv
  core/src/main/resources/operatorsScore-emr-t4.csv
  core/src/main/resources/operatorsScore.csv
  core/src/main/resources/supportedExprs.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
  user_tools/custom_speedup_factors/operatorsList.csv
Labels: feature request, tools

#596 [DOC] Add documentation for qualification user tool pricing discount options
  user_tools/docs/user-tools-aws-emr.md
  user_tools/docs/user-tools-databricks-aws.md
  user_tools/docs/user-tools-databricks-azure.md
  user_tools/docs/user-tools-dataproc.md
  user_tools/docs/user-tools-onprem.md
Labels: documentation, user_tools

#595 [FEA] Add qualification user tool options to support external pricing
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_aws.py
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_azure.py
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc.py
  user_tools/src/spark_rapids_pytools/cloud_api/emr.py
  user_tools/src/spark_rapids_pytools/cloud_api/onprem.py
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
  user_tools/src/spark_rapids_pytools/pricing/price_provider.py
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_tools/cmdli/argprocessor.py
  user_tools/src/spark_rapids_tools/cmdli/tools_cli.py
Labels: feature request, user_tools, new-cli
