Repository NVIDIA/spark-rapids-tools, pull requests merged in 2023-07, with the labels that each got.

#383 Prompt the user acknowledge for diagnostic tool by default
  user_tools/docs/user-tools-aws-emr.md
  user_tools/docs/user-tools-dataproc.md
  user_tools/src/spark_rapids_pytools/rapids/diagnostic.py
  user_tools/src/spark_rapids_pytools/wrappers/dataproc_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/emr_wrapper.py
  user_tools/tests/test_diagnostic.py
Labels: user_tools

#396 Add Python script used for processing Databricks Azure instance pricing
  user_tools/src/spark_rapids_pytools/resources/dev/databricks-azure-price-jobs-compute-premium-westus2-raw.txt
  user_tools/src/spark_rapids_pytools/resources/dev/process_databricks_azure_pricing.py
Labels: feature request, user_tools

#402 [DOC] Add documentation for Databricks AWS user profiling tool
  user_tools/docs/index.md
  user_tools/docs/user-tools-aws-emr.md
  user_tools/docs/user-tools-databricks-aws.md
  user_tools/docs/user-tools-databricks-azure.md
  user_tools/docs/user-tools-dataproc.md
  user_tools/src/spark_rapids_pytools/wrapper.py
Labels: documentation, user_tools

#408 Bug fix for supported expressions
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/PluginTypeChecker.scala
Labels: bug, tools

#413 [DOC] Fix documentation and consistency in arguments for the EMR user-tools
  user_tools/docs/user-tools-aws-emr.md
Labels: documentation, user_tools

#421 Remove serverless execution mode from the EMR-wrapper
  user_tools/docs/index.md
  user_tools/docs/user-tools-aws-emr.md
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_aws.py
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_azure.py
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc.py
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc_job.py
  user_tools/src/spark_rapids_pytools/cloud_api/emr.py
  user_tools/src/spark_rapids_pytools/cloud_api/emr_job.py
  user_tools/src/spark_rapids_pytools/cloud_api/onprem.py
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/wrappers/emr_wrapper.py
Labels: user_tools

#424 Remove cluster-mode execution wrapper
  user_tools/docs/index.md
  user_tools/docs/user-tools-dataproc.md
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_aws.py
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_azure.py
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc.py
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc_job.py
  user_tools/src/spark_rapids_pytools/cloud_api/emr.py
  user_tools/src/spark_rapids_pytools/cloud_api/onprem.py
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/rapids/rapids_job.py
  user_tools/src/spark_rapids_pytools/wrappers/dataproc_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/onprem_wrapper.py
Labels: user_tools

#423 [TASK] Implement classes and methods to support user tools profiling command for Databricks Azure
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_azure.py
  user_tools/src/spark_rapids_pytools/wrappers/databricks_azure_wrapper.py
Labels: feature request, user_tools

#414 Add platform argument in profiling tool for custom tuning based on the platform
  core/docs/spark-profiling-tool.md
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/AutoTuner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileArgs.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Profiler.scala
Labels: tools

#430 [DOC] Add documentation for running user tools profiling command for Databricks Azure
  user_tools/docs/index.md
  user_tools/docs/user-tools-databricks-aws.md
  user_tools/docs/user-tools-databricks-azure.md
Labels: documentation, user_tools

#435 Fix broken tables and code blocks in profiling-tool docs
  core/docs/spark-profiling-tool.md
Labels: documentation

#431 Support onprem platform for user-tools profiling command
  user_tools/docs/user-tools-onprem.md
  user_tools/src/spark_rapids_pytools/wrappers/onprem_wrapper.py
Labels: user_tools

#426 Add ascli as a new simplified tools command
  user_tools/pyproject.toml
  user_tools/setup.cfg
  user_tools/src/spark_rapids_pytools/ascli_cli/__init__.py
  user_tools/src/spark_rapids_pytools/ascli_cli/ascli.py
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
  user_tools/src/spark_rapids_pytools/rapids/profiling.py
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/rapids/rapids_tool.py
  user_tools/src/spark_rapids_pytools/resources/profiling-conf.yaml
  user_tools/src/spark_rapids_pytools/resources/templates/info_recommendations_disabled.ms
  user_tools/src/spark_rapids_pytools/wrappers/onprem_wrapper.py
Labels: feature request, user_tools

#438 [DOC] Add details to Databricks Azure user qualification tool documentation
  user_tools/docs/user-tools-databricks-azure.md
Labels: documentation, user_tools

#439 Bump build version to 23.06.2
  core/pom.xml
  user_tools/src/spark_rapids_pytools/__init__.py
Labels: cicd, user_tools, tools, build

#442 Bump dev version to 23.06.3
  core/pom.xml
  user_tools/src/spark_rapids_pytools/__init__.py
Labels: cicd, build

#444 Qualification command should run without cluster-info
  user_tools/docs/user-tools-aws-emr.md
  user_tools/docs/user-tools-databricks-aws.md
  user_tools/docs/user-tools-databricks-azure.md
  user_tools/docs/user-tools-dataproc.md
  user_tools/src/spark_rapids_pytools/ascli_cli/ascli.py
  user_tools/src/spark_rapids_pytools/cloud_api/onprem.py
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/rapids/rapids_tool.py
  user_tools/src/spark_rapids_pytools/resources/dataproc-configs.json
  user_tools/src/spark_rapids_pytools/resources/emr-configs.json
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_pytools/wrappers/databricks_aws_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/databricks_azure_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/dataproc_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/emr_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/onprem_wrapper.py
Labels: feature request, user_tools

#446 Fix mvn warning message for formatting string
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualOutputWriter.scala
Labels: tools

#440 Add Recommendations in AutoTuner for Databricks platform
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/AutoTuner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Platform.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/AutoTunerSuite.scala
Labels: tools

#452 Update the minimum spark version requirements to run tools
  core/docs/spark-profiling-tool.md
  core/docs/spark-qualification-tool.md
Labels: documentation, tools

#450 Generate speedup factors for A10 instance types in EMR
  core/docs/spark-qualification-tool.md
  core/src/main/resources/operatorsScore-emr-a10.csv
  core/src/main/resources/operatorsScore-emr-t4.csv
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/PluginTypeChecker.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualificationArgs.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/PluginTypeCheckerSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
Labels: tools

#460 Bump certifi from 2022.12.7 to 2023.7.22
  data_validation/pyproject.toml
  user_tools/pyproject.toml
Labels: user_tools, dependencies

#456 Add Progress Bar in Profiling tools
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileMain.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Profiler.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ui/ConsoleProgressBar.scala
Labels: tools

#451 [FEA] Include bootstrap recommended configs in qualification output
  user_tools/src/spark_rapids_pytools/rapids/bootstrap.py
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/rapids/rapids_tool.py
  user_tools/src/spark_rapids_pytools/resources/bootstrap-conf.yaml
  user_tools/src/spark_rapids_pytools/resources/cluster-configs.yaml
  user_tools/src/spark_rapids_pytools/resources/dataproc-configs.json
  user_tools/src/spark_rapids_pytools/resources/emr-configs.json
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
Labels: feature request, user_tools

#464 Status Reporting for Event Logs and Applications in Qualification Tool
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualOutputWriter.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/Qualification.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/OperationResult.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/ToolTestUtils.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/AppFilterSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
Labels: feature request, tools

#465 Support wildcards in eventlogs arguments
  core/src/main/scala/com/nvidia/spark/rapids/tool/EventLogPathProcessor.scala
Labels: feature request, tools
