Repository NVIDIA/spark-rapids-tools, pull requests merged in 2023-08, with the labels that each got.

#486 Add Github workflow to automate changelog and release pages
  .github/workflows/configuration.json
  .github/workflows/release.yml
  CHANGELOG.md
  user_tools/README.md
Labels: cicd, build

#475 [FEA] Enhance qualification tool to handle custom speedup factor file as input
  core/docs/spark-qualification-tool.md
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/PluginTypeChecker.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualificationArgs.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualificationMain.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/PluginTypeCheckerSuite.scala
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
Labels: tools

#488 Creating custom speedup factors README with generation script
  user_tools/custom_speedup_factors/README.md
  user_tools/custom_speedup_factors/generate_speedup_factors.py
Labels: user_tools

#490 Add sign-off and token in release workflow
  .github/workflows/release.yml
Labels: cicd, build

#491 Add secrets in the release.yml
  .github/workflows/release.yml
Labels: cicd, build

#492 Push to protected branch using third-party action
  .github/workflows/release.yml
Labels: cicd, build

#494 Revert "Push to protected branch using third-party action (#492)"
  .github/workflows/release.yml
Labels: cicd, build

#495 Try fix push issue in release action [skip ci]
  .github/workflows/release.yml
Labels: build

#505 fix gh-workflow for Python unit-tests
  .github/workflows/python-unit-test.yml
  user_tools/tox.ini
Labels: cicd

#503 Fix unit-tests for Spark-340 and Add spark-versions to gh-workflow
  .github/workflows/mvn-verify-check.yml
  core/pom.xml
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/AutoTuner.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
Labels: tools

#500 Adds profiling support for EMR in user tools.
  user_tools/docs/index.md
  user_tools/docs/user-tools-aws-emr.md
  user_tools/src/spark_rapids_pytools/wrappers/emr_wrapper.py
Labels: user_tools

#513 Handle deprecation errors in python packaging
  user_tools/pyproject.toml
  user_tools/setup.cfg
Labels: user_tools

#497 Support offline execution of user tools in restricted environments
  .gitignore
  user_tools/README.md
  user_tools/build.sh
  user_tools/pyproject.toml
  user_tools/src/spark_rapids_pytools/common/sys_storage.py
  user_tools/src/spark_rapids_pytools/rapids/tool_ctxt.py
  user_tools/src/spark_rapids_pytools/resources/dev/offline_downloader.py
Labels: user_tools, build

#509 Update speedup factors for qualification tool in Dataproc 2.1 environments
  core/src/main/resources/operatorsScore-dataproc-l4.csv
  core/src/main/resources/operatorsScore-dataproc-t4.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/PluginTypeCheckerSuite.scala
Labels: feature request, tools

#520 Filter parser should check ignored-functions
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SQLPlanParser.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
Labels: bug, tools

#516 Build tools package as single artifact for restricted environments
  .gitignore
  user_tools/README.md
  user_tools/build.sh
  user_tools/pyproject.toml
  user_tools/src/spark_rapids_pytools/rapids/rapids_tool.py
  user_tools/src/spark_rapids_pytools/rapids/tool_ctxt.py
  user_tools/src/spark_rapids_pytools/resources/dev/offline_downloader.py
  user_tools/src/spark_rapids_pytools/resources/dev/prepackage_mgr.py
Labels: feature request, user_tools

#522 Add min, median and max columns to AccumProfileResults
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ClassWarehouse.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/CollectInformation.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/GenerateDot.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ToolUtils.scala
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_sqlmetrics_expectation.csv
Labels: tools
