Repository NVIDIA/spark-rapids-tools, pull requests merged in 2023-05, with the labels that each got.

#281 Fix unit tests for spark3x
  core/pom.xml
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ToolUtils.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/GenerateDotSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
Labels: bug, tools

#291 Fix handling of Json parse exceptions on Spark340
  .gitignore
  core/pom.xml
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ToolUtils.scala
Labels: bug, tools

#300 Add stack-trace errors on failure
  user_tools/src/spark_rapids_pytools/rapids/rapids_tool.py
Labels: bug, cicd, user_tools, build

#284 User-tools: Add qualfication tool support for Onprem platform
  user_tools/docs/index.md
  user_tools/docs/resources/spark_rapids_user_tools_overview-01.drawio
  user_tools/docs/resources/spark_rapids_user_tools_overview-01.png
  user_tools/docs/user-tools-onprem.md
  user_tools/src/spark_rapids_pytools/cloud_api/onprem.py
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/resources/onprem-configs.json
  user_tools/src/spark_rapids_pytools/wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/onprem_wrapper.py
Labels: feature request, user_tools

#309 Qualification tool wrapper should handle empty rows
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
Labels: bug, user_tools

#314 AutoTuner should make comments based on RAPIDS jar
  LICENSE
  NOTICE-binary
  core/pom.xml
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ApplicationSummaryInfo.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/AutoTuner.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ToolUtils.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/WebCrawlerUtil.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/package.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/AutoTunerSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/util/ToolUtilsSuite.scala
  user_tools/LICENSE
  user_tools/src/spark_rapids_pytools/rapids/profiling.py
Labels: bug, feature request, user_tools, tools

#318 Adding --ml-option support to Python wrapper
  user_tools/src/spark_rapids_dataproc_tools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
Labels: user_tools

#317 Adding application default credentials step for Dataproc user tools docs
  user_tools/docs/user-tools-dataproc.md
Labels: documentation, user_tools

#324 Add support for SaveIntoDataSourceExec
  core/pom.xml
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/DataWritingCommandExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SQLPlanParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/PluginTypeChecker.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/ToolTestUtils.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/PluginTypeCheckerSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
Labels: feature request, tools

#335 Load HadoopConf using SparkHadoopUtil
  core/src/main/scala/com/nvidia/spark/rapids/tool/ToolTextFileWriter.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileMain.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualificationMain.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ui/QualificationReportGenerator.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/RapidsToolsConfUtil.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/package.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/CompareSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/util/ToolUtilsSuite.scala
Labels: feature request, tools

#343 Skip nds_q86_fail_test for spark-340
  core/pom.xml
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ToolUtils.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/RapidsToolsConfUtil.scala
  core/src/test/scala/com/nvidia/spark/rapids/BaseTestSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
Labels: bug, tools, build

#339 Adding default pageable pool and spill storage to memoryOverhead for bootstrap/profiler
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/AutoTuner.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/AutoTunerSuite.scala
  user_tools/src/spark_rapids_pytools/rapids/bootstrap.py
  user_tools/src/spark_rapids_pytools/resources/bootstrap-conf.yaml
Labels: user_tools, tools

#346 Keeping spark-rapids-tools and spark-rapids tools docs in sync
  core/docs/spark-profiling-tool.md
  core/docs/spark-qualification-tool.md
Labels: documentation

#348 [Followup] Load HadoopConf using SparkHadoopUtil
  core/pom.xml
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/RapidsToolsConfUtil.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/util/ToolUtilsSuite.scala
Labels: bug, cicd, tools, build

#276 CSV output string reformatting
  core/docs/spark-qualification-tool.md
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualOutputWriter.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/RunningQualificationApp.scala
  core/src/test/resources/QualificationExpectations/complex_dec_expectation.csv
  core/src/test/resources/QualificationExpectations/db_sim_test_expectation.csv
  core/src/test/resources/QualificationExpectations/directory_test_expectation.csv
  core/src/test/resources/QualificationExpectations/jdbc_expectation.csv
  core/src/test/resources/QualificationExpectations/multi_run_freq_test_expectation.csv
  core/src/test/resources/QualificationExpectations/nds_q86_fail_test_expectation.csv
  core/src/test/resources/QualificationExpectations/nds_q86_fail_test_expectation_persql.csv
  core/src/test/resources/QualificationExpectations/nds_q86_test_expectation.csv
  core/src/test/resources/QualificationExpectations/nds_q86_test_expectation_persql.csv
  core/src/test/resources/QualificationExpectations/nested_dsv2_expectation.csv
  core/src/test/resources/QualificationExpectations/nested_type_expectation.csv
  core/src/test/resources/QualificationExpectations/qual_test_missing_sql_end_expectation.csv
  core/src/test/resources/QualificationExpectations/qual_test_simple_expectation.csv
  core/src/test/resources/QualificationExpectations/qual_test_simple_expectation_persql.csv
  core/src/test/resources/QualificationExpectations/read_dsv1_expectation.csv
  core/src/test/resources/QualificationExpectations/read_dsv2_expectation.csv
  core/src/test/resources/QualificationExpectations/spark2_expectation.csv
  core/src/test/resources/QualificationExpectations/truncated_1_end_expectation.csv
  core/src/test/resources/QualificationExpectations/write_format_expectation.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/ToolTestUtils.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
Labels: bug

#351 Remove SparkHadoopUtil to avoid overriding hadoopConf
  core/pom.xml
  core/src/main/scala/com/nvidia/spark/rapids/tool/EventLogPathProcessor.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ui/QualificationReportGenerator.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/RapidsToolsConfUtil.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/ToolTestUtils.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/ApplicationInfoSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/CompareSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/HealthCheckSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/util/ToolUtilsSuite.scala
Labels: bug, cicd, tools

#355 Adding MT reader and shuffle settings in bootstrap tool
  user_tools/src/spark_rapids_pytools/rapids/bootstrap.py
Labels: user_tools
