Repository NVIDIA/spark-rapids-tools, pull requests merged in 2023-10, with the labels that each got.

#604 Updating docs for custom speedup factors for scale factor
  user_tools/custom_speedup_factors/README.md
Labels: user_tools

#602 Sync up remaining updated execs and exprs from rapids-plugin
  core/src/main/resources/operatorsScore-databricks-aws.csv
  core/src/main/resources/operatorsScore-databricks-azure.csv
  core/src/main/resources/operatorsScore-dataproc-l4.csv
  core/src/main/resources/operatorsScore-dataproc-serverless-l4.csv
  core/src/main/resources/operatorsScore-dataproc-t4.csv
  core/src/main/resources/operatorsScore-emr-a10.csv
  core/src/main/resources/operatorsScore-emr-t4.csv
  core/src/main/resources/operatorsScore.csv
  core/src/main/resources/supportedDataSource.csv
  core/src/main/resources/supportedExecs.csv
  core/src/main/resources/supportedExprs.csv
  user_tools/custom_speedup_factors/operatorsList.csv
Labels: feature request, tools

#611 Ignore pylint errors to fix python tests
  .pylintrc
Labels: bug

#605 Add argprocessor unit test for checking error messages for onprem with no eventlogs
  user_tools/tests/spark_rapids_tools_ut/test_tool_argprocessor.py
Labels: user_tools, new-cli

#613 Add support in core tools for running qualification on Dataproc GKE
  core/docs/spark-qualification-tool.md
  core/src/main/resources/operatorsScore-dataproc-gke-t4.csv
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/PluginTypeChecker.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualificationArgs.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/PluginTypeCheckerSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
Labels: tools

#614 [BUG] Update user tools to use latest Databricks CLI version 0.200+
  user_tools/docs/user-tools-databricks-aws.md
  user_tools/docs/user-tools-databricks-azure.md
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_aws.py
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_azure.py
  user_tools/src/spark_rapids_pytools/cloud_api/emr.py
  user_tools/src/spark_rapids_pytools/wrappers/databricks_aws_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/databricks_azure_wrapper.py
  user_tools/src/spark_rapids_tools/cmdli/tools_cli.py
Labels: bug, user_tools

#471 Qualification tool: Add penalty for row conversions
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualOutputWriter.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/Qualification.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualificationArgs.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualificationMain.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationEventProcessor.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
Labels: tools

#617 Generating speedup factors for Dataproc GKE L4 GPU instances
  core/docs/spark-qualification-tool.md
  core/src/main/resources/operatorsScore-dataproc-gke-l4.csv
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/PluginTypeChecker.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualificationArgs.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/PluginTypeCheckerSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
Labels: tools

#618 Add unit tests for Dataproc GKE with mock GKE cluster
  user_tools/pyproject.toml
  user_tools/src/spark_rapids_tools/cloud/dataproc/dataproccluster.py
  user_tools/tests/spark_rapids_tools_ut/conftest.py
  user_tools/tests/spark_rapids_tools_ut/resources/cluster/dataproc_gke/cpu-00.yaml
  user_tools/tox.ini
Labels: user_tools

#623 [FEA] Fix empty softwareProperties field in worker_info.yaml file for profiling tool
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/AutoTuner.scala
Labels: feature request, tools

#629 Enable Dynamic 'Zone' Configuration for Dataproc User Tools
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc.py
Labels: user_tools

#631 Fix spinner animation blocking user input in diagnostic tool
  user_tools/src/spark_rapids_pytools/common/utilities.py
  user_tools/src/spark_rapids_pytools/rapids/diagnostic.py
  user_tools/src/spark_rapids_pytools/rapids/rapids_tool.py
Labels: user_tools

#633 Fix system command processing during logging in user tools
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
Labels: user_tools

#635 Profiling tool : Update readSchema string parser
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
Labels: bug, tools

#642 Improve logs with user tools and jar version details
  user_tools/src/spark_rapids_pytools/rapids/rapids_tool.py
Labels: user_tools
