Repository NVIDIA/spark-rapids-tools, pull requests merged in 2024-07, with the labels that each got.

#1151 Add all stage metrics to tools output
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/AppSQLPlanAnalyzer.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ApplicationSummaryInfo.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/CollectInformation.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileClassWarehouse.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Profiler.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/AppStageMetricsView.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/QualRawReportGenerator.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/ApplicationInfoSuite.scala
Labels: feature request, tools

#1167 Fix parsing App IDs inside metrics directory in QualX
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_tools/tools/qualx/qualx_main.py
Labels: bug, user_tools

#1168 Disable UI-HTML report by default in Qualification tool
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualificationArgs.scala
Labels: feature request, user_tools, affect-output

#1173 Bump to certifi-2024.7.4 and urllib3-1.26.19
  data_validation/pyproject.toml
  user_tools/pyproject.toml
Labels: user_tools, build, dependencies

#1178 user-tools:Update --help for cluster argument
  user_tools/src/spark_rapids_tools/cmdli/tools_cli.py
Labels: documentation

#1161 [Bug] Fix java Qual tool handling of `--platform` argument
  core/src/main/scala/com/nvidia/spark/rapids/tool/Platform.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/PluginTypeChecker.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualificationMain.scala
Labels: bug, tools, usability

#1180 [DOC] Fix broken link to qualX docs and update python prerequisites
  user_tools/README.md
  user_tools/docs/user-tools-aws-emr.md
  user_tools/docs/user-tools-databricks-aws.md
  user_tools/docs/user-tools-databricks-azure.md
  user_tools/docs/user-tools-dataproc-gke.md
  user_tools/docs/user-tools-dataproc.md
  user_tools/docs/user-tools-onprem.md
Labels: documentation, user_tools

#1186 Updated models for new training data
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/combined.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/combined.json.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws.json.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/emr.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/emr.json.cfg
Labels: user_tools

#1189 [BUG] Fix handling of non-english characters in tools output files
  core/src/main/scala/com/nvidia/spark/rapids/tool/EventLogPathProcessor.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/ToolTextFileWriter.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ui/QualificationReportGenerator.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/FSUtils.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/util/ToolUtilsSuite.scala
Labels: bug, tools

#1184 [FEA] Support custom XGBoost model file via user tools CLI
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/rapids/qualx/prediction.py
  user_tools/src/spark_rapids_tools/cmdli/argprocessor.py
  user_tools/src/spark_rapids_tools/cmdli/tools_cli.py
  user_tools/src/spark_rapids_tools/enums.py
  user_tools/src/spark_rapids_tools/tools/qualx/qualx_main.py
Labels: feature request, user_tools

#1169 [FEA] Adding Benchmarking classes to evaluate core tools performance
  core/src/main/scala/org/apache/spark/rapids/tool/benchmarks/Benchmark.scala
  core/src/main/scala/org/apache/spark/rapids/tool/benchmarks/BenchmarkArgs.scala
  core/src/main/scala/org/apache/spark/rapids/tool/benchmarks/BenchmarkBase.scala
  core/src/main/scala/org/apache/spark/rapids/tool/benchmarks/README.md
  core/src/main/scala/org/apache/spark/rapids/tool/benchmarks/SingleThreadedQualToolBenchmark.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/MemoryMetricsTracker.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/RuntimeReporter.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/RuntimeUtil.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/ToolsTimer.scala
Labels: feature request, tools

#1187 Include status information for failed event logs in core tool
  core/src/main/scala/com/nvidia/spark/rapids/tool/EventLogPathProcessor.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/ToolBase.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Profiler.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/Qualification.scala
Labels: bug, tools

#1137 Add internal CLI to generate instance descriptions for CSPs
  user_tools/pyproject.toml
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_azure.py
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc.py
  user_tools/src/spark_rapids_pytools/cloud_api/emr.py
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
  user_tools/src/spark_rapids_pytools/common/prop_manager.py
  user_tools/src/spark_rapids_pytools/rapids/dev/instance_description.py
  user_tools/src/spark_rapids_tools/cmdli/__init__.py
  user_tools/src/spark_rapids_tools/cmdli/argprocessor.py
  user_tools/src/spark_rapids_tools/cmdli/dev_cli.py
  user_tools/src/spark_rapids_tools/utils/util.py
Labels: feature request, user_tools

#1195 Sync-up the support of parse_url in qualification tool
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SQLPlanParser.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
Labels: bug, tools

#1198 Sync plugin support for hash-hive and shift operators
  core/src/main/resources/operatorsScore-databricks-aws-a10G.csv
  core/src/main/resources/operatorsScore-databricks-aws-t4.csv
  core/src/main/resources/operatorsScore-databricks-azure-t4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-l4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-t4.csv
  core/src/main/resources/operatorsScore-dataproc-l4.csv
  core/src/main/resources/operatorsScore-dataproc-serverless-l4.csv
  core/src/main/resources/operatorsScore-dataproc-t4.csv
  core/src/main/resources/operatorsScore-emr-a10.csv
  core/src/main/resources/operatorsScore-emr-a10G.csv
  core/src/main/resources/operatorsScore-emr-t4.csv
  core/src/main/resources/operatorsScore-onprem-a100.csv
  core/src/main/resources/supportedExprs.csv
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SQLPlanParser.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
  scripts/sync_plugin_files/override_supported_configs.json
Labels: bug, tools

#1197 Add shap command to internal CLI for debugging
  user_tools/docs/qualx.md
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/combined.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/combined.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/dataproc.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/dataproc.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/emr.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/emr.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/onprem.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/onprem.metrics
  user_tools/src/spark_rapids_tools/tools/qualx/model.py
  user_tools/src/spark_rapids_tools/tools/qualx/qualx_main.py
Labels: feature request, user_tools

#1188 Qual tool tuning rec based on CPU event log coherently recommend tunings and node setup and infer cluster from eventlog
  core/src/main/scala/com/nvidia/spark/rapids/tool/Platform.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/AutoTuner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Profiler.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualOutputWriter.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/Qualification.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualificationMain.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ClassWarehouse.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ToolUtils.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/profiling/ApplicationInfo.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/AutoTunerSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/PluginTypeCheckerSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc.py
  user_tools/src/spark_rapids_pytools/common/cluster_inference.py
  user_tools/src/spark_rapids_pytools/rapids/diagnostic.py
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/rapids/rapids_tool.py
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
Labels: feature request, user_tools, affect-output

#1205 Update pre-commit hooks to check for headers and white-spaces
  .pre-commit-config.yaml
  core/README.md
  scripts/header-check.sh
  scripts/idea-code-style-settings.xml
Labels: build

#1210 Fix some basic pylint errors in qualx code
  user_tools/src/spark_rapids_tools/tools/qualx/model.py
  user_tools/src/spark_rapids_tools/tools/qualx/plot.py
  user_tools/src/spark_rapids_tools/tools/qualx/preprocess.py
  user_tools/src/spark_rapids_tools/tools/qualx/qualx_main.py
  user_tools/src/spark_rapids_tools/tools/qualx/util.py
Labels: user_tools

#1196 [FEA] Remove CLI dependency for EMR and Databricks-AWS platforms in user tool
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_aws.py
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_azure.py
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc.py
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc_gke.py
  user_tools/src/spark_rapids_pytools/cloud_api/emr.py
  user_tools/src/spark_rapids_pytools/cloud_api/onprem.py
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
  user_tools/src/spark_rapids_pytools/resources/emr-instance-catalog.json
  user_tools/tests/mock_cluster.py
  user_tools/tests/test_diagnostic.py
Labels: bug, user_tools, usability

#1219 Update header check script for pre-commit hooks
  scripts/header-check.sh
Labels: build

#1218 Disable cost saving functionality
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
Labels: feature request, user_tools

#1211 Ensure UTF-8 encoding for reading non-english characters
  core/scalastyle-config.xml
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/DriverLogProcessor.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/PluginTypeChecker.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/FSUtils.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/RapidsToolsConfUtil.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/GenerateDotSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/GenerateTimelineSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/util/ToolUtilsSuite.scala
Labels: bug, tools

#1212 Add option to add features.csv files to training set
  user_tools/docs/qualx.md
  user_tools/src/spark_rapids_pytools/rapids/qualx/train.py
  user_tools/src/spark_rapids_tools/cmdli/argprocessor.py
  user_tools/src/spark_rapids_tools/cmdli/tools_cli.py
  user_tools/src/spark_rapids_tools/tools/qualx/qualx_main.py
Labels: feature request, user_tools

#1222 Reduce memory footprint of stageInfo
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/AppSQLPlanAnalyzer.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/AppSparkMetricsAnalyzer.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/GenerateTimeline.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/StageView.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/store/StageModel.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/store/StageModelManager.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/ApplicationInfoSuite.scala
Labels: tools

#1220 Remove estimation-model column from qualification summary
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
Labels: user_tools, affect-output

#1224 Fix header check script to exclude files
  scripts/header-check.sh
Labels: bug, build

#1226 Updated models for latest dataproc eventlogs
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/combined.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/combined.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/combined.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/dataproc.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/dataproc.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/dataproc.metrics
Labels: user_tools

#1227 Fix duplicate records in DataSourceInfo report
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/CollectInformation.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Profiler.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/DataSourceView.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/QualRawReportGenerator.scala
Labels: bug, tools

#1223 [FEA] Remove gcloud CLI dependency for Dataproc platform
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc.py
  user_tools/src/spark_rapids_pytools/resources/dataproc-configs.json
  user_tools/src/spark_rapids_pytools/resources/dataproc-instance-catalog.json
  user_tools/src/spark_rapids_tools/cmdli/tools_cli.py
  user_tools/tests/mock_cluster.py
  user_tools/tests/test_diagnostic.py
Labels: feature request, user_tools, usability

#1216 Generate summary metadata file and fix node recommendation in python
  user_tools/src/spark_rapids_pytools/common/cluster_inference.py
  user_tools/src/spark_rapids_pytools/common/prop_manager.py
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_tools/tools/cluster_config_recommender.py
Labels: bug, feature request, user_tools, affect-output

#1228 Refactor QualX for Linter and Test Compatibility
  .pylintrc
  user_tools/src/spark_rapids_tools/tools/additional_heuristics.py
  user_tools/src/spark_rapids_tools/tools/model_xgboost.py
  user_tools/src/spark_rapids_tools/tools/qualx/model.py
  user_tools/src/spark_rapids_tools/tools/qualx/plot.py
  user_tools/src/spark_rapids_tools/tools/qualx/preprocess.py
  user_tools/src/spark_rapids_tools/tools/qualx/qualx_main.py
  user_tools/src/spark_rapids_tools/tools/qualx/util.py
  user_tools/tox.ini
Labels: bug, user_tools

#1231 Updated models for latest databricks-aws datasets
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/combined.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/combined.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/combined.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws.metrics
Labels: user_tools

#1230 Remove arguments related to cost-savings
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_aws.py
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_azure.py
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc.py
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
  user_tools/src/spark_rapids_pytools/common/cluster_inference.py
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_pytools/wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/databricks_aws_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/databricks_azure_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/dataproc_gke_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/dataproc_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/emr_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/onprem_wrapper.py
  user_tools/src/spark_rapids_tools/cmdli/argprocessor.py
  user_tools/src/spark_rapids_tools/cmdli/tools_cli.py
  user_tools/src/spark_rapids_tools/enums.py
  user_tools/src/spark_rapids_tools/tools/cluster_config_recommender.py
  user_tools/tests/spark_rapids_tools_ut/test_tool_argprocessor.py
Labels: user_tools, affect-output

#1232 [FEA] Generate and use instance description file for Databricks-Azure platform
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_azure.py
  user_tools/src/spark_rapids_pytools/resources/databricks_azure-instance-catalog.json
Labels: feature request, user_tools, usability

#1235 Improve console output from python tool for failed/gpu/photon event logs
  user_tools/src/spark_rapids_pytools/common/prop_manager.py
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
Labels: bug, user_tools, usability

#1237 Handle event logs with wildcards in status report generation
  core/src/main/scala/com/nvidia/spark/rapids/tool/EventLogPathProcessor.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
Labels: bug, tools

#1241 Improvements in Cluster Config Recommender
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_tools/tools/cluster_config_recommender.py
Labels: bug, user_tools

#1242 [BUG] Update Dataproc instance catalog for n1 series GPU info
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc.py
  user_tools/src/spark_rapids_pytools/resources/dataproc-instance-catalog.json
Labels: bug, user_tools

#1204 Qualification tool should print Kryo related recommendations
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/AutoTuner.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/AutoTunerSuite.scala
Labels: feature request

#1243 Add footnotes for config recommendations and speedup category in top candidate view
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
Labels: bug, user_tools
