Repository NVIDIA/spark-rapids-tools, pull requests merged in 2024-04, with the labels that each got.

#890 Add operators to ignore list and update WindowExpr parser
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SQLPlanParser.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ToolUtils.scala
Labels: tools

#893 [DOC] Update README for sync plugin supported ops script
  scripts/sync_plugin_files/README.md
Labels: documentation, tools

#891 Add Support for BloomFilterAggregate and BloomFilterMightContain exprs
  core/src/main/resources/operatorsScore-databricks-aws-t4.csv
  core/src/main/resources/operatorsScore-databricks-azure-t4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-l4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-t4.csv
  core/src/main/resources/operatorsScore-dataproc-l4.csv
  core/src/main/resources/operatorsScore-dataproc-serverless-l4.csv
  core/src/main/resources/operatorsScore-dataproc-t4.csv
  core/src/main/resources/operatorsScore-emr-a10.csv
  core/src/main/resources/operatorsScore-emr-t4.csv
  core/src/main/resources/operatorsScore-onprem-a100.csv
  core/src/main/resources/supportedExprs.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
  scripts/sync_plugin_files/override_supported_configs.json
Labels: bug, tools

#895 Add support for AtomicCreateTableAsSelectExec
  core/src/main/resources/operatorsScore-databricks-aws-t4.csv
  core/src/main/resources/operatorsScore-databricks-azure-t4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-l4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-t4.csv
  core/src/main/resources/operatorsScore-dataproc-l4.csv
  core/src/main/resources/operatorsScore-dataproc-serverless-l4.csv
  core/src/main/resources/operatorsScore-dataproc-t4.csv
  core/src/main/resources/operatorsScore-emr-a10.csv
  core/src/main/resources/operatorsScore-emr-t4.csv
  core/src/main/resources/operatorsScore-onprem-a100.csv
  core/src/main/resources/supportedExecs.csv
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/DataWritingCommandExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/DeltaLakeHelper.scala
  scripts/sync_plugin_files/override_supported_configs.json
Labels: bug, tools

#904 Fix Delta-core dependency for Spark35+
  core/pom.xml
Labels: tools, build

#898 [FEA] Add and use g5 AWS instances as default for qualification tool output
  core/src/main/resources/operatorsScore-databricks-aws-a10G.csv
  core/src/main/resources/operatorsScore-emr-a10G.csv
  core/src/main/scala/com/nvidia/spark/rapids/tool/Platform.scala
  user_tools/src/spark_rapids_pytools/resources/databricks_aws-configs.json
  user_tools/src/spark_rapids_pytools/resources/emr-configs.json
Labels: feature request, user_tools, tools

#905 [FEA] Skip Spark Structured Streaming event logs for Qualification tool
  core/src/main/scala/org/apache/spark/sql/rapids/tool/EventProcessorBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ToolUtils.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
Labels: feature request, tools

#906 Add support for WindowGroupLimitExec
  core/src/main/resources/operatorsScore-databricks-aws-a10G.csv
  core/src/main/resources/operatorsScore-databricks-aws-t4.csv
  core/src/main/resources/operatorsScore-databricks-azure-t4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-l4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-t4.csv
  core/src/main/resources/operatorsScore-dataproc-l4.csv
  core/src/main/resources/operatorsScore-dataproc-serverless-l4.csv
  core/src/main/resources/operatorsScore-dataproc-t4.csv
  core/src/main/resources/operatorsScore-emr-a10.csv
  core/src/main/resources/operatorsScore-emr-a10G.csv
  core/src/main/resources/operatorsScore-emr-t4.csv
  core/src/main/resources/operatorsScore-onprem-a100.csv
  core/src/main/resources/supportedExecs.csv
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SQLPlanParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/WindowGroupLimitParser.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ToolUtils.scala
  core/src/test/scala/com/nvidia/spark/rapids/BaseTestSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
  scripts/sync_plugin_files/override_supported_configs.json
Labels: bug, tools

#916 Re-enable support for GetJsonObject by default
  core/src/main/resources/supportedExecs.csv
  core/src/main/resources/supportedExprs.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
Labels: bug, tools

#913 Add support for PythonMapInArrowExec and MapInArrowExec
  core/src/main/resources/operatorsScore-databricks-aws-a10G.csv
  core/src/main/resources/operatorsScore-databricks-aws-t4.csv
  core/src/main/resources/operatorsScore-databricks-azure-t4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-l4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-t4.csv
  core/src/main/resources/operatorsScore-dataproc-l4.csv
  core/src/main/resources/operatorsScore-dataproc-serverless-l4.csv
  core/src/main/resources/operatorsScore-dataproc-t4.csv
  core/src/main/resources/operatorsScore-emr-a10.csv
  core/src/main/resources/operatorsScore-emr-a10G.csv
  core/src/main/resources/operatorsScore-emr-t4.csv
  core/src/main/resources/operatorsScore-onprem-a100.csv
  core/src/main/resources/supportedExecs.csv
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/PythonMapInArrowExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SQLPlanParser.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ToolUtils.scala
  scripts/sync_plugin_files/override_supported_configs.json
Labels: bug, tools

#917 Add Divide and multiple interval expressions as supported
  core/src/main/resources/supportedExprs.csv
  scripts/sync_plugin_files/override_supported_configs.json
Labels: tools

#920 Refactor `find_matches_for_node` return values
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_aws.py
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_azure.py
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc.py
  user_tools/src/spark_rapids_pytools/cloud_api/emr.py
  user_tools/src/spark_rapids_pytools/cloud_api/onprem.py
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
Labels: user_tools

#926 Adding more metrics and options for qual validation
  scripts/qual_validation/qual_validation.py
Labels: tools

#923 Add support for unsupported expressions reasons per Exec
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/ExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/WindowGroupLimitParser.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
Labels: feature request, tools

#921 Add cluster details in qualification summary output
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualOutputWriter.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/Qualification.scala
  user_tools/src/spark_rapids_pytools/common/cluster_inference.py
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_tools/utils/util.py
Labels: feature request, user_tools, tools

#919 Improve sync plugin supported CSV python script
  scripts/sync_plugin_files/process_supported_files.py
Labels: bug, tools

#930 Fix gpu cluster recommendation in user tools
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
Labels: bug, user_tools

#933 Fix Notes column in the supported ops CSV files
  core/src/main/resources/supportedExecs.csv
  core/src/main/resources/supportedExprs.csv
Labels: bug, tools

#935 Fix invalid values in cluster creation script
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc.py
  user_tools/src/spark_rapids_pytools/cloud_api/emr.py
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
  user_tools/src/spark_rapids_pytools/resources/dataproc-configs.json
  user_tools/src/spark_rapids_pytools/resources/emr-configs.json
  user_tools/src/spark_rapids_pytools/resources/templates/cluster_template/dataproc.ms
  user_tools/src/spark_rapids_pytools/resources/templates/cluster_template/emr.ms
  user_tools/src/spark_rapids_pytools/resources/templates/dataproc-create_gpu_cluster_script.ms
Labels: bug, user_tools

#941 Cluster inference should not run for unsupported platform
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
Labels: bug, user_tools

#942 Add CheckOverflowInTableInsert support: verify absence from physical plan
  core/src/test/scala/com/nvidia/spark/rapids/BaseTestSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
Labels: feature request, tools

#946 Syncup estimation model prediction logic updates
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure.json
  user_tools/src/spark_rapids_tools/tools/model_xgboost.py
Labels: bug, user_tools

#944 Support dynamic calculation of JVM resources in CLI cmd
  user_tools/pyproject.toml
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
  user_tools/src/spark_rapids_pytools/rapids/profiling.py
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/rapids/rapids_tool.py
  user_tools/src/spark_rapids_pytools/resources/profiling-conf.yaml
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_pytools/wrappers/databricks_aws_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/databricks_azure_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/dataproc_gke_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/dataproc_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/emr_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/onprem_wrapper.py
  user_tools/src/spark_rapids_tools/cmdli/argprocessor.py
  user_tools/src/spark_rapids_tools/cmdli/tools_cli.py
  user_tools/src/spark_rapids_tools/utils/util.py
Labels: feature request, user_tools

#951 Sync operators support timestamped 24-04-16
  core/src/main/resources/supportedExprs.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
Labels: tools, audit_plugin

#950 Improve error handling in prediction code
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_tools/tools/model_xgboost.py
Labels: bug, user_tools

#952 Cache CLI calls for node instance description
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_aws.py
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_azure.py
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc.py
  user_tools/src/spark_rapids_pytools/cloud_api/emr.py
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
Labels: bug, user_tools

#953 Followups on handling Photon eventlogs
  core/src/main/scala/com/nvidia/spark/rapids/tool/Platform.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/DatabricksParseHelper.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/AutoTuner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/Qualification.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/EventProcessorBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ToolUtils.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/ToolTestUtils.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/AutoTunerSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/AppFilterSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
Labels: bug, tools

#960 Add support for InSubqueryExec Expression
  core/src/main/resources/operatorsScore-databricks-aws-a10G.csv
  core/src/main/resources/operatorsScore-databricks-aws-t4.csv
  core/src/main/resources/operatorsScore-databricks-azure-t4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-l4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-t4.csv
  core/src/main/resources/operatorsScore-dataproc-l4.csv
  core/src/main/resources/operatorsScore-dataproc-serverless-l4.csv
  core/src/main/resources/operatorsScore-dataproc-t4.csv
  core/src/main/resources/operatorsScore-emr-a10.csv
  core/src/main/resources/operatorsScore-emr-a10G.csv
  core/src/main/resources/operatorsScore-emr-t4.csv
  core/src/main/resources/operatorsScore-onprem-a100.csv
  core/src/main/resources/supportedExprs.csv
  scripts/sync_plugin_files/override_supported_configs.json
Labels: bug, tools

#954 [FEA] Automate appending new operators to the platform score sheets
  .gitignore
  scripts/sync_plugin_files/README.md
  scripts/sync_plugin_files/process_supported_files.py
  scripts/sync_plugin_files/sync_operator_scores.py
Labels: feature request, tools

#963 Add AQEShuffleRead WriteFiles execs to the supportedOps and score files
  core/src/main/resources/operatorsScore-databricks-aws-a10G.csv
  core/src/main/resources/operatorsScore-databricks-aws-t4.csv
  core/src/main/resources/operatorsScore-databricks-azure-t4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-l4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-t4.csv
  core/src/main/resources/operatorsScore-dataproc-l4.csv
  core/src/main/resources/operatorsScore-dataproc-serverless-l4.csv
  core/src/main/resources/operatorsScore-dataproc-t4.csv
  core/src/main/resources/operatorsScore-emr-a10.csv
  core/src/main/resources/operatorsScore-emr-a10G.csv
  core/src/main/resources/operatorsScore-emr-t4.csv
  core/src/main/resources/operatorsScore-onprem-a100.csv
  core/src/main/resources/supportedExecs.csv
  core/src/main/resources/supportedExprs.csv
  scripts/sync_plugin_files/override_supported_configs.json
Labels: bug, tools

#967 Revert versions back to 24.02.3
  core/pom.xml
  user_tools/src/spark_rapids_pytools/__init__.py
Labels: bug, cicd, build

#968 Bump dev version to 24.02.4
  core/pom.xml
  user_tools/src/spark_rapids_pytools/__init__.py
Labels: bug, cicd, build

#958 Add speedup categories in qualification summary output
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_tools/tools/speedup_category.py
  user_tools/src/spark_rapids_tools/tools/top_candidates.py
  user_tools/src/spark_rapids_tools/utils/util.py
Labels: bug, user_tools

#972 Remove databricks profiling recommendation for dynamicFilePruning
  core/src/main/scala/com/nvidia/spark/rapids/tool/Platform.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/AutoTuner.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/AutoTunerSuite.scala
Labels: bug, tools

#975 Fix Hadoop Azure version to be compatibe with Spark-3.5.0
  user_tools/src/spark_rapids_pytools/resources/databricks_azure-configs.json
Labels: bug, user_tools
