Repository NVIDIA/spark-rapids-tools, pull requests merged in 2024-08, with the labels that each got.

#1244 Update xgboost models and metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/combined.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/combined.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/combined.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/dataproc.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/dataproc.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/dataproc.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/emr.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/onprem.metrics
  user_tools/src/spark_rapids_tools/tools/qualx/model.py
  user_tools/src/spark_rapids_tools/tools/qualx/qualx_main.py
Labels: user_tools

#1251 Fix stage level metrics output csv file
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/AppSQLPlanAnalyzer.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileClassWarehouse.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/AppStageMetricsView.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/ApplicationInfoSuite.scala
Labels: bug, tools

#1252 Replace split_nds with split_train_val
  user_tools/src/spark_rapids_tools/tools/qualx/model.py
  user_tools/src/spark_rapids_tools/tools/qualx/qualx_main.py
Labels: user_tools

#1245 Remove CLI dependency in Dataproc `_pull_gpu_hw_info` implementation
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc.py
  user_tools/tests/mock_cluster.py
  user_tools/tests/test_diagnostic.py
Labels: feature request, user_tools, usability

#1258 Rename cluster shape columns to use 'worker' prefix in the output files and rename metadata file
  core/src/main/scala/com/nvidia/spark/rapids/tool/Platform.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/AutoTuner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualOutputWriter.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ClassWarehouse.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc.py
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
  user_tools/src/spark_rapids_pytools/common/cluster_inference.py
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_pytools/resources/templates/cluster_template/databricks_aws.ms
  user_tools/src/spark_rapids_pytools/resources/templates/cluster_template/databricks_azure.ms
  user_tools/src/spark_rapids_pytools/resources/templates/cluster_template/dataproc.ms
  user_tools/src/spark_rapids_pytools/resources/templates/cluster_template/emr.ms
  user_tools/src/spark_rapids_tools/tools/cluster_config_recommender.py
Labels: bug, user_tools, tools

#1248 [FEA] Add support for `map_from_arrays` in qualification tools
  core/src/main/resources/operatorsScore-databricks-aws-a10G.csv
  core/src/main/resources/operatorsScore-databricks-aws-t4.csv
  core/src/main/resources/operatorsScore-databricks-azure-t4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-l4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-t4.csv
  core/src/main/resources/operatorsScore-dataproc-l4.csv
  core/src/main/resources/operatorsScore-dataproc-serverless-l4.csv
  core/src/main/resources/operatorsScore-dataproc-t4.csv
  core/src/main/resources/operatorsScore-emr-a10.csv
  core/src/main/resources/operatorsScore-emr-a10G.csv
  core/src/main/resources/operatorsScore-emr-t4.csv
  core/src/main/resources/operatorsScore-onprem-a100.csv
  core/src/main/resources/supportedExprs.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
Labels: feature request, tools

#1266 Sync GetJsonObject support with Rapids-Plugin
  core/src/main/resources/supportedExprs.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
Labels: feature request, tools

#1256 Clean up tools after removing CLI dependency
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_aws.py
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_azure.py
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc.py
  user_tools/src/spark_rapids_pytools/cloud_api/emr.py
  user_tools/src/spark_rapids_pytools/cloud_api/onprem.py
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/tests/test_diagnostic.py
Labels: user_tools

#1267 Fix prediction CSV files for multiple qual directories
  user_tools/src/spark_rapids_tools/tools/qualx/qualx_main.py
  user_tools/src/spark_rapids_tools/tools/qualx/util.py
Labels: bug, user_tools

#1268 Remove speedup based recommendation column from qual_summary csv
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_tools/tools/top_candidates.py
Labels: user_tools, affect-output

#1265 Include GPU information in the cluster recommendation for Dataproc and OnPrem
  core/src/main/scala/com/nvidia/spark/rapids/tool/Platform.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualOutputWriter.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ClassWarehouse.scala
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc.py
  user_tools/src/spark_rapids_pytools/cloud_api/onprem.py
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
  user_tools/src/spark_rapids_pytools/common/cluster_inference.py
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_pytools/resources/templates/cluster_template/dataproc.ms
  user_tools/src/spark_rapids_pytools/resources/templates/cluster_template/onprem.ms
  user_tools/src/spark_rapids_tools/tools/cluster_config_recommender.py
Labels: bug, user_tools, tools

#1225 Qualification tool: Add output stats file for Execs(operators)
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/rapids/qualification_stats.py
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_tools/cmdli/argprocessor.py
  user_tools/src/spark_rapids_tools/cmdli/dev_cli.py
  user_tools/src/spark_rapids_tools/tools/qualification_stats_report.py
Labels: feature request, user_tools

#1279 Remove unused argument `--target_platform` in Python Tool
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_tools/cmdli/argprocessor.py
  user_tools/src/spark_rapids_tools/cmdli/tools_cli.py
Labels: bug, user_tools

#1278 Remove calculation of gpu cluster recommendation from python tool when cluster argument is passed
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_tools/cmdli/argprocessor.py
  user_tools/src/spark_rapids_tools/cmdli/tools_cli.py
  user_tools/src/spark_rapids_tools/enums.py
  user_tools/src/spark_rapids_tools/tools/cluster_config_recommender.py
Labels: bug, user_tools

#1281 Include exception message for unknown app status in core tool
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
Labels: usability

#1289 Remove restricted google sheets link and outdated TCO section
  user_tools/docs/user-tools-dataproc-gke.md
  user_tools/docs/user-tools-dataproc.md
Labels: bug, documentation

#1285 Fix --help text for custom_model_file option
  user_tools/src/spark_rapids_tools/cmdli/tools_cli.py
Labels: bug, user_tools

#1291 Qualification tool - Add option to filter by minimum event log size
  core/src/main/scala/com/nvidia/spark/rapids/tool/EventLogPathProcessor.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualificationArgs.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualificationMain.scala
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
Labels: feature request

#1269 Save core tools logs to output log file
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualOutputWriter.scala
  user_tools/README.md
  user_tools/pyproject.toml
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
  user_tools/src/spark_rapids_pytools/common/utilities.py
  user_tools/src/spark_rapids_pytools/rapids/rapids_job.py
  user_tools/src/spark_rapids_pytools/resources/dev/log4j.properties
  user_tools/src/spark_rapids_tools/cmdli/argprocessor.py
Labels: feature request, tools, usability

#1292 Qual tool: Print more useful log messages when failures happen downloading dependencies
  user_tools/src/spark_rapids_pytools/rapids/rapids_tool.py
  user_tools/src/spark_rapids_pytools/rapids/tool_ctxt.py
Labels: bug

#1290 Skip generating timeline for stages that do not have completion time
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/GenerateTimeline.scala
Labels: bug, tools

#1298 Fix key error and cross-join error during qualx evaluate
  user_tools/src/spark_rapids_tools/tools/qualx/qualx_main.py
Labels: bug, user_tools

#1299 Qualification tool support filtering by a filesystem time range
  core/src/main/scala/com/nvidia/spark/rapids/tool/EventLogPathProcessor.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualificationArgs.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualificationMain.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppFilterImpl.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/AppFilterSuite.scala
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
Labels: feature request, tools

#1297 Enable recursive search for event logs by default and optional `--no-recursion` flag
  core/src/main/scala/com/nvidia/spark/rapids/tool/EventLogPathProcessor.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileArgs.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileMain.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualificationArgs.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualificationMain.scala
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
Labels: feature request, tools

#1308 Append HADOOP_CONF_DIR to the tools CLASSPATH execution cmd
  user_tools/src/spark_rapids_pytools/common/utilities.py
  user_tools/src/spark_rapids_pytools/rapids/rapids_job.py
  user_tools/src/spark_rapids_pytools/rapids/rapids_tool.py
  user_tools/src/spark_rapids_tools/storagelib/hdfs/hdfsfs.py
Labels: bug, user_tools

#1311 Remove arguments and code related to the html-report
  LICENSE
  NOTICE-binary
  core/.gitignore
  core/pom.xml
  core/prepare-ui-libraries.xml
  core/src/main/resources/ui/css/rapids-dashboard.css
  core/src/main/resources/ui/html/application.html
  core/src/main/resources/ui/html/index.html
  core/src/main/resources/ui/html/raw.html
  core/src/main/resources/ui/html/sql-recommendation.html
  core/src/main/resources/ui/js/app-report.js
  core/src/main/resources/ui/js/per-sql-report.js
  core/src/main/resources/ui/js/qual-report.js
  core/src/main/resources/ui/js/raw-report.js
  core/src/main/resources/ui/js/ui-config.js
  core/src/main/resources/ui/js/uiutils.js
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/Qualification.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualificationArgs.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualificationMain.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ui/QualificationReportGenerator.scala
  user_tools/LICENSE
Labels: tools, build, dependencies

#1300 Raise error for enum creation from invalid string values
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc.py
  user_tools/src/spark_rapids_pytools/cloud_api/emr.py
  user_tools/src/spark_rapids_pytools/cloud_api/onprem.py
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_tools/enums.py
Labels: bug, user_tools

#1312 Fix Qualification and Profiling tools CLI argument shorthands
  user_tools/src/spark_rapids_tools/cmdli/tools_cli.py
Labels: bug, user_tools

#1309 Mark SMJ as unsupported operator for corner cases in left join
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SQLPlanParser.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
Labels: tools

#1317 [DOC] spark_rapids CLI help cmd still shows cost savings
  user_tools/src/spark_rapids_tools/cmdli/tools_cli.py
Labels: documentation, user_tools

#1323 Mark decimalsum as supported in Qualification tool
  core/src/main/resources/operatorsScore-databricks-aws-a10G.csv
  core/src/main/resources/operatorsScore-databricks-aws-t4.csv
  core/src/main/resources/operatorsScore-databricks-azure-t4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-l4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-t4.csv
  core/src/main/resources/operatorsScore-dataproc-l4.csv
  core/src/main/resources/operatorsScore-dataproc-serverless-l4.csv
  core/src/main/resources/operatorsScore-dataproc-t4.csv
  core/src/main/resources/operatorsScore-emr-a10.csv
  core/src/main/resources/operatorsScore-emr-a10G.csv
  core/src/main/resources/operatorsScore-emr-t4.csv
  core/src/main/resources/operatorsScore-onprem-a100.csv
  core/src/main/resources/supportedExprs.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/PluginTypeCheckerSuite.scala
Labels: feature request, tools

#1318 Remove legacy SpeedupFactor from core output files
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualOutputWriter.scala
  core/src/test/resources/QualificationExpectations/complex_dec_expectation.csv
  core/src/test/resources/QualificationExpectations/db_sim_test_expectation.csv
  core/src/test/resources/QualificationExpectations/directory_test_expectation.csv
  core/src/test/resources/QualificationExpectations/jdbc_expectation.csv
  core/src/test/resources/QualificationExpectations/multi_run_freq_test_expectation.csv
  core/src/test/resources/QualificationExpectations/nds_q86_fail_test_expectation.csv
  core/src/test/resources/QualificationExpectations/nds_q86_fail_test_expectation_persql.csv
  core/src/test/resources/QualificationExpectations/nds_q86_test_expectation.csv
  core/src/test/resources/QualificationExpectations/nds_q86_test_expectation_persql.csv
  core/src/test/resources/QualificationExpectations/nested_dsv2_expectation.csv
  core/src/test/resources/QualificationExpectations/nested_type_expectation.csv
  core/src/test/resources/QualificationExpectations/qual_test_missing_sql_end_expectation.csv
  core/src/test/resources/QualificationExpectations/qual_test_simple_expectation.csv
  core/src/test/resources/QualificationExpectations/qual_test_simple_expectation_persql.csv
  core/src/test/resources/QualificationExpectations/read_dsv1_expectation.csv
  core/src/test/resources/QualificationExpectations/read_dsv2_expectation.csv
  core/src/test/resources/QualificationExpectations/spark2_expectation.csv
  core/src/test/resources/QualificationExpectations/truncated_1_end_expectation.csv
  core/src/test/resources/QualificationExpectations/write_format_expectation.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_tools/tools/qualx/qualx_main.py
  user_tools/src/spark_rapids_tools/tools/qualx/util.py
Labels: tools, affect-output
