Repository NVIDIA/spark-rapids-tools, pull requests merged in 2024-03, with the labels that each got.

#825 Fix ReadSchema in Qualification tool and NPE in Profiling tool
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/profiling/ApplicationInfo.scala
Labels: bug, tools

#828 Fix case matching error In AutoTuner
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/AutoTuner.scala
Labels: bug, tools

#830 Remove redundant initialization scripts from user tools output
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/resources/dataproc-configs.json
  user_tools/src/spark_rapids_pytools/resources/dataproc_gke-configs.json
Labels: feature request, user_tools

#722 Consider additional factors in spark.sql.shuffle.partitions recommendation in Autotuner
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ApplicationSummaryInfo.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/AutoTuner.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/AutoTunerSuite.scala
Labels: bug, tools

#810 Deduplicate SQL duration wallclock time for databricks eventlog
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileClassWarehouse.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/EventProcessorBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/EventUtils.scala
  core/src/test/resources/spark-events-qualification/db_subExecution_id.zstd
  core/src/test/scala/com/nvidia/spark/rapids/BaseTestSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
Labels: bug, tools

#853 Fix implementation of processSQLPlanMetrics in Profiler
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Analysis.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/AutoTuner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/CollectInformation.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/GenerateDot.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileClassWarehouse.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Profiler.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ToolUtils.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/profiling/ApplicationInfo.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/EventUtils.scala
  core/src/test/resources/ProfilingExpectations/rapids_duration_and_cpu_expectation.csv
Labels: bug, tools, reliability

#852 Add logic for Top Candidates in user-tools
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_tools/enums.py
  user_tools/src/spark_rapids_tools/tools/top_candidates.py
Labels: feature request, user_tools

#850 Propagate Reason/Notes for operators disabled by default from plugin to Qualification tool unsupported operators csv file
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/ExpandExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/FilterExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/GenerateExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/HashAggregateExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/ObjectHashAggregateExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/ProjectExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SQLPlanParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SortAggregateExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SortExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/TakeOrderedAndProjectExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/WindowExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/PluginTypeChecker.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ToolUtils.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
Labels: bug, tools

#863 Extend supportLevels in PluginTypeChecker
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/PluginTypeChecker.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/PluginTypeCheckerSuite.scala
Labels: feature request, tools

#859 Add action column to qual execs output
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SQLPlanParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualOutputWriter.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
Labels: feature request, tools

#847 [FEA] Generate updated supported CSV files from plugin repo
  .gitignore
  core/src/main/resources/supportedDataSource.csv
  core/src/main/resources/supportedExecs.csv
  core/src/main/resources/supportedExprs.csv
  scripts/sync_plugin_files/README.md
  scripts/sync_plugin_files/override_supported_configs.json
  scripts/sync_plugin_files/process_supported_files.py
Labels: tools

#857 Modify user tools to display top candidates in the standard output
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_tools/tools/top_candidates.py
  user_tools/src/spark_rapids_tools/tools/unsupported_ops_stage_duration.py
Labels: feature request, user_tools

#866 Implement top candidate filter for user tools CLI output
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_pytools/wrappers/databricks_aws_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/databricks_azure_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/dataproc_gke_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/dataproc_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/emr_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/onprem_wrapper.py
  user_tools/src/spark_rapids_tools/cmdli/tools_cli.py
  user_tools/src/spark_rapids_tools/enums.py
  user_tools/src/spark_rapids_tools/tools/top_candidates.py
  user_tools/src/spark_rapids_tools/tools/unsupported_ops_stage_duration.py
Labels: feature request, user_tools

#874 Fix calculation of unsupported operators stages duration and update output row
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_tools/tools/unsupported_ops_stage_duration.py
Labels: bug, user_tools

#871 Add rootExecutionID to output csv files
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Analysis.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileClassWarehouse.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualOutputWriter.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/RunningQualificationApp.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
  core/src/test/resources/ProfilingExpectations/rapids_duration_and_cpu_expectation.csv
  core/src/test/resources/QualificationExpectations/nds_q86_fail_test_expectation_persql.csv
  core/src/test/resources/QualificationExpectations/nds_q86_test_expectation_persql.csv
  core/src/test/resources/QualificationExpectations/qual_test_simple_expectation_persql.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/AnalysisSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
Labels: tools

#870 [FEA] Add Estimation Model to Qualification CLI
  user_tools/pyproject.toml
  user_tools/src/spark_rapids_pytools/rapids/profiling.py
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/rapids/rapids_tool.py
  user_tools/src/spark_rapids_pytools/resources/profiling-conf.yaml
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/dataproc_2.0-parquet.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/dataproc_2.1-orc.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/onprem.json
  user_tools/src/spark_rapids_pytools/wrappers/databricks_aws_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/databricks_azure_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/dataproc_gke_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/dataproc_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/emr_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/onprem_wrapper.py
  user_tools/src/spark_rapids_tools/cmdli/argprocessor.py
  user_tools/src/spark_rapids_tools/cmdli/tools_cli.py
  user_tools/src/spark_rapids_tools/enums.py
  user_tools/src/spark_rapids_tools/tools/model_xgboost.py
Labels: feature request, tools

#875 Introduce new csv file containing output for all apps before grouping
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
Labels: feature request, user_tools

#877 Bump default Spark-version to 3.5.0
  .github/workflows/add-to-project.yml
  .github/workflows/mvn-verify-check.yml
  .github/workflows/python-unit-test.yml
  .github/workflows/release.yml
  .github/workflows/signoff-check.yml
  core/README.md
  core/pom.xml
  user_tools/src/spark_rapids_pytools/resources/databricks_aws-configs.json
  user_tools/src/spark_rapids_pytools/resources/databricks_azure-configs.json
  user_tools/src/spark_rapids_pytools/resources/dataproc-configs.json
  user_tools/src/spark_rapids_pytools/resources/dataproc_gke-configs.json
  user_tools/src/spark_rapids_pytools/resources/emr-configs.json
  user_tools/src/spark_rapids_pytools/resources/onprem-configs.json
Labels: build, dependencies

#879 [FEA] Make top candidates view as the default view in user-tools
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_pytools/wrappers/databricks_aws_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/databricks_azure_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/dataproc_gke_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/dataproc_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/emr_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/onprem_wrapper.py
  user_tools/src/spark_rapids_tools/cmdli/argprocessor.py
  user_tools/src/spark_rapids_tools/enums.py
  user_tools/tests/spark_rapids_tools_ut/test_tool_argprocessor.py
Labels: feature request, user_tools

#885 Override estimated speedups when estimation model is enabled
  user_tools/src/spark_rapids_pytools/cloud_api/emr.py
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/dataproc.json
  user_tools/src/spark_rapids_tools/tools/model_xgboost.py
Labels: feature request, user_tools

#886 [FEA] Skip Databricks Photon jobs at app level in Qualification tool
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/Qualification.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ToolUtils.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ui/ConsoleProgressBar.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/OperationResult.scala
Labels: feature request, tools

#889 Add support to RoundCeil and RoundFloor expressions
  core/src/main/resources/operatorsScore-databricks-aws-t4.csv
  core/src/main/resources/operatorsScore-databricks-azure-t4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-l4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-t4.csv
  core/src/main/resources/operatorsScore-dataproc-l4.csv
  core/src/main/resources/operatorsScore-dataproc-serverless-l4.csv
  core/src/main/resources/operatorsScore-dataproc-t4.csv
  core/src/main/resources/operatorsScore-emr-a10.csv
  core/src/main/resources/operatorsScore-emr-t4.csv
  core/src/main/resources/operatorsScore-onprem-a100.csv
  core/src/main/resources/supportedExecs.csv
  core/src/main/resources/supportedExprs.csv
  scripts/sync_plugin_files/override_supported_configs.json
Labels: bug, tools
