Repository NVIDIA/spark-rapids-tools, pull requests merged in 2024-11, with the labels that each got.

#1395 [FEA] Allow users to specify custom Dependency jars
  user_tools/src/spark_rapids_pytools/rapids/rapids_tool.py
  user_tools/src/spark_rapids_pytools/resources/databricks_aws-configs.json
  user_tools/src/spark_rapids_pytools/resources/databricks_azure-configs.json
  user_tools/src/spark_rapids_pytools/resources/dataproc-configs.json
  user_tools/src/spark_rapids_pytools/resources/dataproc_gke-configs.json
  user_tools/src/spark_rapids_pytools/resources/dev/prepackage_mgr.py
  user_tools/src/spark_rapids_pytools/resources/emr-configs.json
  user_tools/src/spark_rapids_pytools/resources/onprem-configs.json
  user_tools/src/spark_rapids_tools/cmdli/argprocessor.py
  user_tools/src/spark_rapids_tools/cmdli/tools_cli.py
  user_tools/src/spark_rapids_tools/configuration/__init__.py
  user_tools/src/spark_rapids_tools/configuration/common.py
  user_tools/src/spark_rapids_tools/configuration/runtime_conf.py
  user_tools/src/spark_rapids_tools/configuration/tools_config.py
  user_tools/src/spark_rapids_tools/enums.py
  user_tools/src/spark_rapids_tools/storagelib/tools/fs_utils.py
  user_tools/tests/spark_rapids_tools_ut/conftest.py
  user_tools/tests/spark_rapids_tools_ut/resources/tools_config/invalid/tools_config_inv_00.yaml
  user_tools/tests/spark_rapids_tools_ut/resources/tools_config/invalid/tools_config_inv_01.yaml
  user_tools/tests/spark_rapids_tools_ut/resources/tools_config/invalid/tools_config_inv_02.yaml
  user_tools/tests/spark_rapids_tools_ut/resources/tools_config/sample-config-specification.json
  user_tools/tests/spark_rapids_tools_ut/resources/tools_config/valid/tools_config_00.yaml
  user_tools/tests/spark_rapids_tools_ut/test_tool_argprocessor.py
Labels: feature request, user_tools, usability

#1410 Update models for latest emr, onprem eventlogs
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/combined.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/combined.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/combined.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/emr.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/emr.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/emr.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/onprem.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/onprem.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/onprem.metrics
Labels: user_tools

#1412 Remove estimated GPU duration from qualification output
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualOutputWriter.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/Qualification.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/RunningQualificationApp.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
  core/src/test/resources/QualificationExpectations/complex_dec_expectation.csv
  core/src/test/resources/QualificationExpectations/db_sim_test_expectation.csv
  core/src/test/resources/QualificationExpectations/directory_test_expectation.csv
  core/src/test/resources/QualificationExpectations/jdbc_expectation.csv
  core/src/test/resources/QualificationExpectations/multi_run_freq_test_expectation.csv
  core/src/test/resources/QualificationExpectations/nds_q86_fail_test_expectation.csv
  core/src/test/resources/QualificationExpectations/nds_q86_fail_test_expectation_persql.csv
  core/src/test/resources/QualificationExpectations/nds_q86_test_expectation.csv
  core/src/test/resources/QualificationExpectations/nds_q86_test_expectation_persql.csv
  core/src/test/resources/QualificationExpectations/nested_dsv2_expectation.csv
  core/src/test/resources/QualificationExpectations/nested_type_expectation.csv
  core/src/test/resources/QualificationExpectations/qual_test_missing_sql_end_expectation.csv
  core/src/test/resources/QualificationExpectations/qual_test_simple_expectation.csv
  core/src/test/resources/QualificationExpectations/qual_test_simple_expectation_persql.csv
  core/src/test/resources/QualificationExpectations/read_dsv1_expectation.csv
  core/src/test/resources/QualificationExpectations/read_dsv2_expectation.csv
  core/src/test/resources/QualificationExpectations/spark2_expectation.csv
  core/src/test/resources/QualificationExpectations/truncated_1_end_expectation.csv
  core/src/test/resources/QualificationExpectations/write_format_expectation.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
Labels: core_tools, affect-output

#1396 Refactor Exec Parsers - remove individual parser classes
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/AggregateInPandasExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/ArrowEvalPythonExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/CartesianProductExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/CoalesceExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/CollectLimitExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/CustomShuffleReaderExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/ExpandExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/FilterExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/FlatMapGroupsInPandasExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/GenerateExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/GenericExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/GlobalLimitExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/HashAggregateExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/InMemoryTableScanExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/LocalLimitExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/MapInPandasExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/ObjectHashAggregateExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/ProjectExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/PythonMapInArrowExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/RangeExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SQLPlanParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SampleExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SortAggregateExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SortExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/TakeOrderedAndProjectExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/UnionExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/WindowExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/WindowInPandasExecParser.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
Labels: feature request, core_tools

#1414 Add sparkRuntime property to capture runtime type in application_information
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileClassWarehouse.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/InformationView.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ClusterTagPropHandler.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/CacheablePropsHandler.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/ApplicationInfoSuite.scala
Labels: core_tools, affect-output

#1417 Add qualx support for platform runtime variants (DB AWS)
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/combined.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/combined.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/combined.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws_photon.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws_photon.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws_photon.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/dataproc.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/dataproc.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/dataproc.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/emr.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/emr.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/onprem.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/onprem.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/onprem.metrics
  user_tools/src/spark_rapids_tools/tools/qualx/model.py
  user_tools/src/spark_rapids_tools/tools/qualx/preprocess.py
  user_tools/src/spark_rapids_tools/tools/qualx/qualx_main.py
  user_tools/src/spark_rapids_tools/tools/qualx/util.py
Labels: user_tools

#1419 Adding EMR-specific tunings for shuffle manager and ignoring jar
  core/src/main/scala/com/nvidia/spark/rapids/tool/Platform.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/AutoTuner.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/AutoTunerSuite.scala
Labels: core_tools

#1409 Add qualification support for Photon jobs in the Python Tool
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/rapids/tool_ctxt.py
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_tools/exceptions.py
  user_tools/src/spark_rapids_tools/storagelib/cspfs.py
  user_tools/src/spark_rapids_tools/tools/speedup_category.py
Labels: feature request, user_tools, affect-output

#1425 Remove custom-speedup module from user-tools
  user_tools/custom_speedup_factors/README.md
  user_tools/custom_speedup_factors/defaultScores.csv
  user_tools/custom_speedup_factors/generate_speedup_factors.py
  user_tools/custom_speedup_factors/operatorsList.csv
  user_tools/custom_speedup_factors/validate_qualification_estimates.py
Labels: user_tools

#1424 Trigger GC at the beginning of each benchmark iteration
  core/src/main/scala/org/apache/spark/rapids/tool/benchmarks/Benchmark.scala
Labels: core_tools

#1427 Add model for databricks-azure_photon and update combined model
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/combined.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/combined.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/combined.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure_photon.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure_photon.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure_photon.metrics
Labels: user_tools

#1426 Reduce the log noise caused by core report summary
  core/src/main/scala/com/nvidia/spark/rapids/tool/ToolTextFileWriter.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Profiler.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/Qualification.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/RuntimeReporter.scala
Labels: core_tools

#1375 [FEA] Add stage/task level diagnostic output for GPU slowness in Profiler tool
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/AggRawMetricsResult.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/AnalysisUtils.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/AppSQLPlanAnalyzer.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/AppSparkMetricsAggTrait.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/AppSparkMetricsAnalyzer.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/DiagnosticSummaryInfo.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileClassWarehouse.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileOutputWriter.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Profiler.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/TunerContext.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/AggMetricsResultSorter.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/QualRawReportGenerator.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/RawMetricProfView.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/package.scala
  core/src/main/scala/org/apache/spark/rapids/tool/benchmarks/SingleThreadedProfileToolBenchmark.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/store/AccumNameRef.scala
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_stagediagnosticmetricsagg_expectation.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/AnalysisSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/ApplicationInfoSuite.scala
Labels: feature request, core_tools, affect-output

#1432 Include expression parsers for HashAggregate and ObjectHashAggregate
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/GenericExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/HashAggregateExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/ObjectHashAggregateExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SQLPlanParser.scala
Labels: bug, core_tools

#1439 [BUG] Fix Profiler tool index out of bound exception when generating diagnostic metrics
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/AppSparkMetricsAnalyzer.scala
Labels: bug, core_tools

#1442 Update models for latest code and dataset JSON
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/combined.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/combined.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/combined.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure_photon.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure_photon.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure_photon.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/dataproc.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/dataproc.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/dataproc.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/emr.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/emr.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/onprem.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/onprem.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/onprem.metrics
Labels: user_tools
