Repository NVIDIA/spark-rapids-tools, pull requests merged in 2024-12, with the labels that each got.

#1443 More flexible regexes; fix default split function
  user_tools/src/spark_rapids_tools/tools/qualx/model.py
  user_tools/src/spark_rapids_tools/tools/qualx/preprocess.py
  user_tools/src/spark_rapids_tools/tools/qualx/util.py
Labels: user_tools

#1437 Fix missing exec-to-stageId mapping in Qual tool
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/AppSQLPlanAnalyzer.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SQLPlanParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/WholeStageExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/photon/PhotonStageExecParser.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AccumToStageRetriever.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/ToolsPlanGraph.scala
  core/src/test/resources/QualificationExpectations/complex_dec_expectation.csv
  core/src/test/resources/QualificationExpectations/read_dsv1_expectation.csv
  core/src/test/resources/QualificationExpectations/read_dsv2_expectation.csv
  core/src/test/resources/QualificationExpectations/truncated_1_end_expectation.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/BasePlanParserSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
Labels: bug, core_tools

#1440 Enable license header check
  .github/workflows/license-header-check.yml
  core/src/test/resources/worker_info-autotuner-example-8cores-16gmemory.yaml
  data_validation/pyproject.toml
  data_validation/templates/datavalid_conf.yml
  data_validation/tox.ini
  user_tools/pyproject.toml
  user_tools/src/spark_rapids_pytools/resources/bootstrap-conf.yaml
  user_tools/src/spark_rapids_pytools/resources/cluster-configs.yaml
  user_tools/src/spark_rapids_pytools/resources/dev/process_databricks_azure_pricing.py
  user_tools/src/spark_rapids_pytools/resources/diagnostic-conf.yaml
  user_tools/src/spark_rapids_pytools/resources/profiling-conf.yaml
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/tests/spark_rapids_tools_ut/resources/cluster/dataproc/cpu-00.yaml
  user_tools/tests/spark_rapids_tools_ut/resources/cluster/dataproc_gke/cpu-00.yaml
  user_tools/tests/spark_rapids_tools_ut/resources/cluster/onprem/cpu-00.yaml
  user_tools/tests/spark_rapids_tools_ut/resources/tools_config/invalid/tools_config_inv_00.yaml
  user_tools/tests/spark_rapids_tools_ut/resources/tools_config/invalid/tools_config_inv_01.yaml
  user_tools/tests/spark_rapids_tools_ut/resources/tools_config/invalid/tools_config_inv_02.yaml
  user_tools/tests/spark_rapids_tools_ut/resources/tools_config/valid/tools_config_00.yaml
  user_tools/tests/spark_rapids_tools_ut/resources/worker_info.yaml
  user_tools/tox.ini
Labels: cicd, build

#1444 Report all operators in the output file
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/BatchScanExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/BroadcastExchangeExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/BroadcastHashJoinExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/BroadcastNestedLoopJoinExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/DataWritingCommandExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/DeltaLakeHelper.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/ExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/FileSourceScanExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/GenericExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/ReadParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SQLPlanParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/ShuffleExchangeExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/ShuffledHashJoinExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SortMergeJoinExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SubqueryBroadcastExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SubqueryExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/WholeStageExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/WindowGroupLimitParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/WriteFilesExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/ops/OpRef.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/ops/OperatorCounter.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/ops/OperatorRefBase.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/ops/OperatorRefTrait.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/ops/UnsupportedExprOpRef.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/PluginTypeChecker.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualOutputWriter.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/Qualification.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ToolUtils.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
  core/src/test/resources/QualificationExpectations/db_sim_test_expectation.csv
  core/src/test/resources/QualificationExpectations/directory_test_expectation.csv
  core/src/test/resources/QualificationExpectations/jdbc_expectation.csv
  core/src/test/resources/QualificationExpectations/qual_test_missing_sql_end_expectation.csv
  core/src/test/resources/QualificationExpectations/qual_test_simple_expectation.csv
  core/src/test/resources/QualificationExpectations/truncated_1_end_expectation.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/PluginTypeCheckerSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
  user_tools/src/spark_rapids_tools/tools/qualx/preprocess.py
Labels: feature request, core_tools, affect-output

#1446 [BUG] Fix sync plugin files script to handle empty or non-existing cvs files
  scripts/sync_plugin_files/process_supported_files.py
Labels: bug, dependencies

#1448 Update models for latest tools code
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/combined.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/combined.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/combined.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws_photon.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws_photon.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws_photon.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure_photon.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure_photon.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure_photon.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/dataproc.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/dataproc.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/dataproc.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/dataproc_2.0-parquet.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/dataproc_2.1-orc.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/emr.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/emr.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/emr.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/onprem.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/onprem.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/onprem.metrics
Labels: user_tools

#1449 Count expressions per Exec in SQLPlanParser
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SQLPlanParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/WholeStageExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/WindowGroupLimitParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/ops/ExprOpRef.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/ops/OpRefWrapperBase.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/ops/OperatorCounter.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/ops/UnsupportedExprOpRef.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/PluginTypeChecker.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualOutputWriter.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
Labels: feature request, core_tools

#1458 Fix dataframe handling of column-types
  user_tools/src/spark_rapids_tools/tools/qualification_stats_report.py
  user_tools/src/spark_rapids_tools/tools/qualx/preprocess.py
Labels: bug, user_tools

#1464 Deduplicate calls to aggregateSparkMetricsBySql
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/AppSparkMetricsAggTrait.scala
Labels: bug, core_tools

#1465 Mark RunningWindowFunction as supported in Qual tool
  core/src/main/resources/operatorsScore-databricks-aws-a10G.csv
  core/src/main/resources/operatorsScore-databricks-aws-t4.csv
  core/src/main/resources/operatorsScore-databricks-azure-t4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-l4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-t4.csv
  core/src/main/resources/operatorsScore-dataproc-l4.csv
  core/src/main/resources/operatorsScore-dataproc-serverless-l4.csv
  core/src/main/resources/operatorsScore-dataproc-t4.csv
  core/src/main/resources/operatorsScore-emr-a10.csv
  core/src/main/resources/operatorsScore-emr-a10G.csv
  core/src/main/resources/operatorsScore-emr-t4.csv
  core/src/main/resources/operatorsScore-onprem-a100.csv
  core/src/main/resources/supportedExecs.csv
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/GenericExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SQLPlanParser.scala
Labels: core_tools

#1466 Adding Spark 3.5.2 support in auto tuner for EMR
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/AutoTuner.scala
Labels: bug, core_tools

#1429 Add Arguments for Distributed Mode in Qualification Tool CLI
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_azure.py
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc.py
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc_gke.py
  user_tools/src/spark_rapids_pytools/cloud_api/emr.py
  user_tools/src/spark_rapids_pytools/cloud_api/onprem.py
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/rapids/rapids_job.py
  user_tools/src/spark_rapids_pytools/rapids/rapids_tool.py
  user_tools/src/spark_rapids_pytools/rapids/tool_ctxt.py
  user_tools/src/spark_rapids_pytools/resources/databricks_aws-configs.json
  user_tools/src/spark_rapids_tools/cmdli/argprocessor.py
  user_tools/src/spark_rapids_tools/cmdli/tools_cli.py
  user_tools/src/spark_rapids_tools/configuration/common.py
  user_tools/src/spark_rapids_tools/configuration/runtime_conf.py
  user_tools/src/spark_rapids_tools/configuration/submission/__init__.py
  user_tools/src/spark_rapids_tools/configuration/submission/distributed_config.py
  user_tools/src/spark_rapids_tools/configuration/submission/local_config.py
  user_tools/src/spark_rapids_tools/configuration/tools_config.py
  user_tools/src/spark_rapids_tools/enums.py
  user_tools/src/spark_rapids_tools_distributed/jar_cmd_args.py
  user_tools/tests/spark_rapids_tools_ut/conftest.py
  user_tools/tests/spark_rapids_tools_ut/resources/tools_config/sample-distributed-config-specification.json
  user_tools/tests/spark_rapids_tools_ut/resources/tools_config/sample-local-config-specification.json
  user_tools/tests/spark_rapids_tools_ut/resources/tools_config/valid/tools_config_01.yaml
  user_tools/tests/spark_rapids_tools_ut/resources/tools_config/valid/tools_config_02.yaml
  user_tools/tests/spark_rapids_tools_ut/test_tool_argprocessor.py
Labels: feature request, user_tools

#1474 Improve implementation of finding median in StatisticsMetrics
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/AppSQLPlanAnalyzer.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/AppSparkMetricsAnalyzer.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/StatisticsMetrics.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/store/AccumInfo.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/InPlaceMedianArrView.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/util/ToolUtilsSuite.scala
Labels: core_tools

#1473 Follow Up: Make '--platform' argument mandatory in CLI
  user_tools/src/spark_rapids_tools/cmdli/tools_cli.py
Labels: bug

#1421 Skip processing apps with invalid platform and spark runtime configurations
  core/src/main/scala/com/nvidia/spark/rapids/tool/Platform.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Profiler.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ToolUtils.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/profiling/ApplicationInfo.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/ToolTestUtils.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/BasePlanParserSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/PhotonPlanParserSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/AnalysisSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/ApplicationInfoSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
  user_tools/tests/spark_rapids_tools_e2e/features/event_log_processing.feature
Labels: bug, core_tools

#1471 Split AutoTuner for Profiling and Qualification and Override BATCH_SIZE_BYTES
  core/src/main/scala/com/nvidia/spark/rapids/tool/Platform.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileArgs.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Profiler.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/Qualification.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualificationArgs.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualificationMain.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/AutoTuner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/QualificationAutoTuner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/QualificationAutoTunerRunner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/TunerContext.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/BaseAutoTunerSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/ProfilingAutoTunerSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/QualificationAutoTunerSuite.scala
Labels: feature request, core_tools

#1479 Refine Qualification AutoTuner recommendations for shuffle partitions for CPU event logs
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/AutoTuner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/QualificationAutoTuner.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/QualificationAutoTunerSuite.scala
Labels: bug, core_tools
