Repository NVIDIA/spark-rapids-tools, pull requests merged in 2024-06, with the labels that each got.

#1060 Port training model code into user tools
  user_tools/pyproject.toml
  user_tools/src/spark_rapids_tools/tools/qualx/model.py
  user_tools/src/spark_rapids_tools/tools/qualx/plot.py
  user_tools/src/spark_rapids_tools/tools/qualx/preprocess.py
  user_tools/src/spark_rapids_tools/tools/qualx/qualx_main.py
  user_tools/src/spark_rapids_tools/tools/qualx/util.py
Labels: user_tools

#1064 Update tools with latest qualx and add CLI for train
  user_tools/README.md
  user_tools/docs/qualx.md
  user_tools/src/spark_rapids_pytools/cloud_api/emr.py
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/rapids/qualx/prediction.py
  user_tools/src/spark_rapids_pytools/rapids/qualx/qualx_tool.py
  user_tools/src/spark_rapids_pytools/rapids/qualx/train.py
  user_tools/src/spark_rapids_tools/cmdli/argprocessor.py
  user_tools/src/spark_rapids_tools/cmdli/tools_cli.py
  user_tools/src/spark_rapids_tools/tools/additional_heuristics.py
  user_tools/src/spark_rapids_tools/tools/model_xgboost.py
  user_tools/src/spark_rapids_tools/tools/qualx/preprocess.py
  user_tools/src/spark_rapids_tools/tools/qualx/qualx_main.py
  user_tools/src/spark_rapids_tools/tools/qualx/util.py
Labels: feature request, user_tools

#1075 Include entry points for internal usage
  user_tools/docs/qualx.md
  user_tools/src/spark_rapids_tools/cmdli/tools_cli.py
  user_tools/src/spark_rapids_tools/tools/qualx/model.py
  user_tools/src/spark_rapids_tools/tools/qualx/qualx_main.py
Labels: user_tools

#1076 Port QualX repo and add CLI for train
  .pylintrc
  user_tools/README.md
  user_tools/docs/qualx.md
  user_tools/pyproject.toml
  user_tools/src/spark_rapids_pytools/cloud_api/emr.py
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/rapids/qualx/prediction.py
  user_tools/src/spark_rapids_pytools/rapids/qualx/qualx_tool.py
  user_tools/src/spark_rapids_pytools/rapids/qualx/train.py
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/combined.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/dataproc.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/dataproc_2.0-parquet.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/emr.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/onprem.json
  user_tools/src/spark_rapids_tools/cmdli/argprocessor.py
  user_tools/src/spark_rapids_tools/cmdli/tools_cli.py
  user_tools/src/spark_rapids_tools/tools/additional_heuristics.py
  user_tools/src/spark_rapids_tools/tools/model_xgboost.py
  user_tools/src/spark_rapids_tools/tools/qualx/model.py
  user_tools/src/spark_rapids_tools/tools/qualx/plot.py
  user_tools/src/spark_rapids_tools/tools/qualx/preprocess.py
  user_tools/src/spark_rapids_tools/tools/qualx/qualx_main.py
  user_tools/src/spark_rapids_tools/tools/qualx/util.py
  user_tools/tox.ini
Labels: user_tools

#1065 Handling FileNotFound exception in AutoTuner
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/AutoTuner.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/AutoTunerSuite.scala
Labels: bug, tools

#1080 Remove using Profiler metrics for QualX and Heuristics
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/rapids/qualx/prediction.py
  user_tools/src/spark_rapids_tools/cmdli/tools_cli.py
  user_tools/src/spark_rapids_tools/tools/additional_heuristics.py
  user_tools/src/spark_rapids_tools/tools/qualx/model.py
  user_tools/src/spark_rapids_tools/tools/qualx/preprocess.py
  user_tools/src/spark_rapids_tools/tools/qualx/qualx_main.py
  user_tools/src/spark_rapids_tools/tools/qualx/util.py
Labels: user_tools

#1082 Reduce the maximum number of Java threads in CLI
  user_tools/src/spark_rapids_tools/utils/util.py
Labels: bug, user_tools

#1083 sync w/ internal repo; update models
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/combined.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/dataproc.json
  user_tools/src/spark_rapids_tools/tools/qualx/model.py
  user_tools/src/spark_rapids_tools/tools/qualx/preprocess.py
  user_tools/src/spark_rapids_tools/tools/qualx/qualx_main.py
Labels: user_tools

#1069 Update the Qual tool AutoTuner Heuristics against CPU event logs
  core/src/main/scala/com/nvidia/spark/rapids/tool/Platform.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/AutoTuner.scala
  core/src/test/resources/worker_info-autotuner-example-8cores-16gmemory.yaml
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/AutoTunerSuite.scala
Labels: feature request, tools

#1085 Fix java Qual tool Autotuner output when GPU device is missing
  core/src/main/scala/com/nvidia/spark/rapids/tool/Platform.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/AutoTuner.scala
Labels: bug, tools, usability

#1089 Update QualX to return default speedups and fix App Duration for incomplete apps
  user_tools/src/spark_rapids_tools/tools/qualx/preprocess.py
  user_tools/src/spark_rapids_tools/tools/qualx/qualx_main.py
  user_tools/src/spark_rapids_tools/tools/qualx/util.py
Labels: user_tools

#1066 Sync tools with plugin newly supported operators
  core/src/main/resources/operatorsScore-databricks-aws-a10G.csv
  core/src/main/resources/operatorsScore-databricks-aws-t4.csv
  core/src/main/resources/operatorsScore-databricks-azure-t4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-l4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-t4.csv
  core/src/main/resources/operatorsScore-dataproc-l4.csv
  core/src/main/resources/operatorsScore-dataproc-serverless-l4.csv
  core/src/main/resources/operatorsScore-dataproc-t4.csv
  core/src/main/resources/operatorsScore-emr-a10.csv
  core/src/main/resources/operatorsScore-emr-a10G.csv
  core/src/main/resources/operatorsScore-emr-t4.csv
  core/src/main/resources/operatorsScore-onprem-a100.csv
  core/src/main/resources/supportedExprs.csv
Labels: feature request, tools

#1092 Fix missing appEndTime in raw_metrics folder
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/profiling/ApplicationInfo.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
Labels: bug, tools

#1093 Fix internal predict CLI and remove preprocessed argument
  user_tools/src/spark_rapids_tools/tools/qualx/qualx_main.py
Labels: user_tools

#1095 Handle QualX behaviour when Qual Tool does not generate any outputs
  user_tools/docs/qualx.md
  user_tools/src/spark_rapids_pytools/rapids/qualx/prediction.py
  user_tools/src/spark_rapids_tools/tools/qualx/qualx_main.py
Labels: user_tools

#1098 Fix missing assignment to savings_recommendations
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_tools/tools/unsupported_ops_stage_duration.py
Labels: bug, user_tools

#1096 clip appDuration to at least Duration
  user_tools/src/spark_rapids_tools/tools/qualx/qualx_main.py
Labels: user_tools

#1102 Fix qualx app metrics
  user_tools/src/spark_rapids_tools/tools/qualx/model.py
  user_tools/src/spark_rapids_tools/tools/qualx/preprocess.py
  user_tools/src/spark_rapids_tools/tools/qualx/qualx_main.py
Labels: bug, user_tools

#1104 Fix nan label issue in training
  user_tools/src/spark_rapids_tools/tools/qualx/model.py
Labels: bug, user_tools

#1105 Add support to Python3.11
  .github/workflows/python-unit-test.yml
  user_tools/pyproject.toml
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
  user_tools/tox.ini
Labels: bug, user_tools

#1108 Enable xgboost prediction model by default
  user_tools/src/spark_rapids_tools/cmdli/tools_cli.py
  user_tools/src/spark_rapids_tools/enums.py
Labels: feature request, user_tools

#1110 user-tools: Update log messages
  user_tools/src/spark_rapids_pytools/rapids/rapids_tool.py
  user_tools/src/spark_rapids_tools/cmdli/argprocessor.py
Labels: bug, user_tools, usability

#1111 Add support to Python 3.12
  .github/workflows/python-unit-test.yml
  user_tools/pyproject.toml
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc.py
  user_tools/src/spark_rapids_pytools/cloud_api/emr.py
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
  user_tools/src/spark_rapids_pytools/common/utilities.py
  user_tools/src/spark_rapids_pytools/rapids/rapids_tool.py
  user_tools/src/spark_rapids_tools/cmdli/argprocessor.py
  user_tools/tox.ini
Labels: feature request, user_tools

#1113 Fix typo in Profiler class using qual instead of prof
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Profiler.scala
Labels: bug, tools

#1114 Disable the spark_rapids bootstrap command
  user_tools/README.md
  user_tools/docs/index.md
  user_tools/docs/user-tools-aws-emr.md
  user_tools/docs/user-tools-dataproc.md
  user_tools/src/spark_rapids_tools/cmdli/argprocessor.py
  user_tools/src/spark_rapids_tools/cmdli/tools_cli.py
Labels: feature request, user_tools, usability

#1119 Include number of executors per node in cluster information
  core/src/main/scala/com/nvidia/spark/rapids/tool/Platform.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualOutputWriter.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ClassWarehouse.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
  core/src/test/resources/spark-events-qualification/cluster_information/eventlog_3nodes_12cores_multiple_executors
  core/src/test/resources/spark-events-qualification/cluster_information/eventlog_4nodes_8cores_dynamic_alloc
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
Labels: bug, tools

#1124 Handle different exception thrown by incomplete eventlogs
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/EventUtils.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
Labels: bug, tools

#1130 Fix Python runtime error caused by numpy 2.0.0 release
  .github/workflows/python-unit-test.yml
  user_tools/pyproject.toml
  user_tools/tests/mock_cluster.py
  user_tools/tox.ini
Labels: bug, user_tools

#1135 [FEA] Display full failure messages in failed CSV files
  .github/workflows/mvn-verify-check.yml
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/HealthCheck.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileClassWarehouse.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileOutputWriter.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileUtils.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualOutputWriter.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/JobView.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/StageView.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/TaskView.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ToolUtils.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/StringUtils.scala
  core/src/test/resources/ProfilingExpectations/stages_failure_eventlog_expectation.csv
  core/src/test/resources/ProfilingExpectations/tasks_failure_eventlog_expectation.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/HealthCheckSuite.scala
Labels: feature request, tools

#1145 Disable pylint-unreachable code in tox.ini
  .pylintrc
  user_tools/src/spark_rapids_tools/cmdli/argprocessor.py
Labels: user_tools, build

#1140 Update qualx readme for training
  user_tools/docs/qualx.md
Labels: documentation, user_tools

#1142 Mark wholestageCodeGen as shouldRemove when child nodes are removed
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SQLPlanParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/WholeStageExecParser.scala
  core/src/test/resources/QualificationExpectations/write_format_expectation.csv
Labels: bug, tools

#1146 Follow-up 1142: remove TODO line
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/WholeStageExecParser.scala
Labels: tools

#1150 Unsupported op logic should read action column from qual's output
  user_tools/src/spark_rapids_tools/tools/qualx/preprocess.py
Labels: bug, user_tools

#1148 Add plugin mechanism for dataset-specific preprocessing in qualx
  user_tools/src/spark_rapids_tools/tools/qualx/model.py
  user_tools/src/spark_rapids_tools/tools/qualx/preprocess.py
  user_tools/src/spark_rapids_tools/tools/qualx/qualx_main.py
  user_tools/src/spark_rapids_tools/tools/qualx/util.py
Labels: user_tools

#1141 Refactor Databricks-AWS Qual tool to cache and process pricing info from DB website
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_aws.py
  user_tools/src/spark_rapids_pytools/pricing/databricks_aws_pricing.py
  user_tools/src/spark_rapids_pytools/pricing/databricks_pricing.py
  user_tools/src/spark_rapids_pytools/resources/databricks-premium-catalog.json
  user_tools/src/spark_rapids_pytools/resources/databricks_aws-configs.json
Labels: feature request, user_tools
