Repository NVIDIA/spark-rapids-tools, pull requests merged in 2024-02, with the labels that each got.

#776 Speedup generator script fails after adding runtime_properties
  user_tools/custom_speedup_factors/generate_speedup_factors.py
Labels: bug, tools

#771 [FEA] Qualification user_tools runs AutoTuner by default
  core/src/main/scala/com/nvidia/spark/rapids/tool/Platform.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ApplicationSummaryInfo.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/AutoTuner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/Qualification.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/QualAppSummaryInfoProvider.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/QualificationAutoTuner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/TunerContext.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
  user_tools/src/spark_rapids_pytools/rapids/profiling.py
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/rapids/rapids_tool.py
  user_tools/src/spark_rapids_pytools/rapids/tool_ctxt.py
  user_tools/src/spark_rapids_pytools/resources/dataproc-configs.json
  user_tools/src/spark_rapids_pytools/resources/emr-configs.json
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
Labels: feature request, user_tools

#778 Fix missing config file for Dataproc GKE
  user_tools/src/spark_rapids_pytools/resources/dataproc_gke-configs.json
Labels: user_tools, build

#766 Consolidate unsupportedOperators into a single view
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/DataWritingCommandExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/DeltaLakeHelper.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/FileSourceScanExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SQLPlanParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualOutputWriter.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/Qualification.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ToolUtils.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/profiling/ApplicationInfo.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
Labels: feature request, tools

#740 Introduce GpuDevice abstraction and refactor AutoTuner
  core/src/main/resources/operatorsScore-databricks-aws-t4.csv
  core/src/main/resources/operatorsScore-databricks-azure-t4.csv
  core/src/main/resources/operatorsScore-onprem-a100.csv
  core/src/main/scala/com/nvidia/spark/rapids/tool/GpuDevice.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/Platform.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/AutoTuner.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ToolUtils.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/AutoTunerSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/PluginTypeCheckerSuite.scala
Labels: tools

#784 Qualification should mark WriteFiles as supported
  core/src/main/resources/operatorsScore-databricks-aws-t4.csv
  core/src/main/resources/operatorsScore-databricks-azure-t4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-l4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-t4.csv
  core/src/main/resources/operatorsScore-dataproc-l4.csv
  core/src/main/resources/operatorsScore-dataproc-serverless-l4.csv
  core/src/main/resources/operatorsScore-dataproc-t4.csv
  core/src/main/resources/operatorsScore-emr-a10.csv
  core/src/main/resources/operatorsScore-emr-t4.csv
  core/src/main/resources/operatorsScore-onprem-a100.csv
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SQLPlanParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/WriteFilesExecParser.scala
  core/src/test/scala/com/nvidia/spark/rapids/BaseTestSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
Labels: bug, tools

#790 Incorrect parsing of aggregates in DB queries
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SQLPlanParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualOutputWriter.scala
Labels: bug, tools

#791 Qualification should mark empty2null as supported
  core/src/main/resources/operatorsScore-databricks-aws-t4.csv
  core/src/main/resources/operatorsScore-databricks-azure-t4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-l4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-t4.csv
  core/src/main/resources/operatorsScore-dataproc-l4.csv
  core/src/main/resources/operatorsScore-dataproc-serverless-l4.csv
  core/src/main/resources/operatorsScore-dataproc-t4.csv
  core/src/main/resources/operatorsScore-emr-a10.csv
  core/src/main/resources/operatorsScore-emr-t4.csv
  core/src/main/resources/operatorsScore-onprem-a100.csv
  core/src/main/resources/supportedExprs.csv
Labels: bug, tools

#796 Sync up supported ops for 24.02 plugin release
  core/src/main/resources/operatorsScore-databricks-aws-t4.csv
  core/src/main/resources/operatorsScore-databricks-azure-t4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-l4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-t4.csv
  core/src/main/resources/operatorsScore-dataproc-l4.csv
  core/src/main/resources/operatorsScore-dataproc-serverless-l4.csv
  core/src/main/resources/operatorsScore-dataproc-t4.csv
  core/src/main/resources/operatorsScore-emr-a10.csv
  core/src/main/resources/operatorsScore-emr-t4.csv
  core/src/main/resources/operatorsScore-onprem-a100.csv
  core/src/main/resources/supportedExprs.csv
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SQLPlanParser.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
Labels: bug, tools

#789 Generate cluster information from event logs in Qualification tool
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileClassWarehouse.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualOutputWriter.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/Qualification.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualificationArgs.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualificationMain.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ClassWarehouse.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/EventProcessorBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/profiling/ApplicationInfo.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/profiling/EventsProcessor.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
  core/src/test/resources/spark-events-qualification/cluster_information/eventlog_2nodes_8cores
  core/src/test/resources/spark-events-qualification/cluster_information/eventlog_3nodes_12cores_db
  core/src/test/resources/spark-events-qualification/cluster_information/eventlog_3nodes_12cores_exec_removed
  core/src/test/resources/spark-events-qualification/cluster_information/eventlog_3nodes_12cores_same_host
  core/src/test/resources/spark-events-qualification/cluster_information/eventlog_3nodes_12cores_variable_cores
  core/src/test/resources/spark-events-qualification/cluster_information/eventlog_driver_only
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
Labels: feature request, tools

#801 [FEA] Qualification tool should mark WriteIntoDeltaCommand as supported
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/DeltaLakeHelper.scala
Labels: feature request, tools

#803 Estimate cluster instances and generate cost savings
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_aws.py
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_azure.py
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc.py
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc_gke.py
  user_tools/src/spark_rapids_pytools/cloud_api/emr.py
  user_tools/src/spark_rapids_pytools/cloud_api/onprem.py
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
  user_tools/src/spark_rapids_pytools/common/cluster_inference.py
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/resources/databricks_aws-configs.json
  user_tools/src/spark_rapids_pytools/resources/databricks_azure-configs.json
  user_tools/src/spark_rapids_pytools/resources/dataproc-configs.json
  user_tools/src/spark_rapids_pytools/resources/emr-configs.json
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_pytools/resources/templates/cluster_template/databricks_aws.ms
  user_tools/src/spark_rapids_pytools/resources/templates/cluster_template/databricks_azure.ms
  user_tools/src/spark_rapids_pytools/resources/templates/cluster_template/dataproc.ms
  user_tools/src/spark_rapids_pytools/resources/templates/cluster_template/emr.ms
  user_tools/src/spark_rapids_pytools/resources/templates/cluster_template/emr_node.ms
Labels: feature request, user_tools
