Repository NVIDIA/spark-rapids-tools, pull requests merged in 2024-10, with the labels that each got.

#1365 Update models for updated datasets and latest code
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/combined.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/combined.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/combined.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/dataproc.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/emr.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/onprem.json
Labels: user_tools

#1366 Generate log files for Python Profiling cli
  user_tools/src/spark_rapids_pytools/common/utilities.py
  user_tools/src/spark_rapids_pytools/rapids/rapids_job.py
  user_tools/src/spark_rapids_pytools/rapids/tool_ctxt.py
  user_tools/src/spark_rapids_pytools/resources/profiling-conf.yaml
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_tools/cmdli/argprocessor.py
Labels: bug, user_tools

#1362 Add Reflection to support custom Spark Implementation at Runtime
  core/src/main/scala/com/nvidia/spark/rapids/SparkRapidsBuildInfoEvent.scala
  core/src/main/scala/org/apache/spark/scheduler/SparkListenerEvent.scala
  core/src/main/scala/org/apache/spark/scheduler/ToolsListenerEventExtraAPIs.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/annotation/ToolsReflection.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/ToolsPlanGraph.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/stubs/DefaultGraphReflectionAPI.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/stubs/GraphReflectionAPI.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/stubs/GraphReflectionAPIHelper.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/stubs/GraphReflectionEntry.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/stubs/bd/BDGraphClusterStub.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/stubs/bd/BDGraphNodeStub.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/stubs/bd/BDGraphReflectionAPI.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/stubs/db/DBGraphClusterStub.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/stubs/db/DBGraphEdgeStub.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/stubs/db/DBGraphNodeStub.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/stubs/db/DBGraphReflectionAPI.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/stubs/db/DBGraphSQLMetricStub.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/stubs/package.scala
Labels: core_tools, build, dependencies

#1376 Remove total core second heuristic and filter apps only in top candidate view
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_tools/tools/additional_heuristics.py
  user_tools/src/spark_rapids_tools/tools/top_candidates.py
Labels: bug, user_tools, usability

#1369 Cluster information should handle dynamic allocation and nodes being removed and added
  core/README.md
  core/src/main/scala/com/nvidia/spark/rapids/tool/Platform.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/AutoTuner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Profiler.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/PluginTypeChecker.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualOutputWriter.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/Qualification.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualificationMain.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/RunningQualificationApp.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/QualificationAutoTuner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/TunerContext.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ClassWarehouse.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/EventProcessorBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
  core/src/test/resources/spark-events-qualification/cluster_information/eventlog_4nodes_8cores_dynamic_alloc
  core/src/test/resources/spark-events-qualification/cluster_information/eventlog_4nodes_8cores_dynamic_alloc.zstd
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/AutoTunerSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
  user_tools/tests/spark_rapids_tools_e2e/features/installation_checks.feature
Labels: feature request

#1383 Use StorageLib to download dependencies
  user_tools/pyproject.toml
  user_tools/src/spark_rapids_pytools/rapids/rapids_job.py
  user_tools/src/spark_rapids_pytools/rapids/rapids_tool.py
  user_tools/src/spark_rapids_pytools/resources/databricks_aws-configs.json
  user_tools/src/spark_rapids_pytools/resources/databricks_azure-configs.json
  user_tools/src/spark_rapids_pytools/resources/dataproc-configs.json
  user_tools/src/spark_rapids_pytools/resources/dataproc_gke-configs.json
  user_tools/src/spark_rapids_pytools/resources/dev/prepackage_mgr.py
  user_tools/src/spark_rapids_pytools/resources/emr-configs.json
  user_tools/src/spark_rapids_pytools/resources/onprem-configs.json
  user_tools/src/spark_rapids_tools/enums.py
  user_tools/src/spark_rapids_tools/storagelib/cspfs.py
  user_tools/src/spark_rapids_tools/storagelib/csppath.py
  user_tools/src/spark_rapids_tools/storagelib/tools/fs_utils.py
  user_tools/src/spark_rapids_tools/tools/qualx/qualx_main.py
  user_tools/src/spark_rapids_tools/utils/net_utils.py
Labels: user_tools

#1338 Add support for processing Photon event logs in Scala
  .pre-commit-config.yaml
  core/src/main/resources/photonOperatorMappings/databricks-13_3.json
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/BroadcastNestedLoopJoinExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/DatabricksParseHelper.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SQLPlanParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/WholeStageExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/photon/PhotonBroadcastNestedLoopJoinExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/photon/PhotonPlanParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/photon/PhotonStageExecParser.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ToolUtils.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/ToolsPlanGraph.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/plangraph/PhotonPlan.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/plangraph/PlanGraphTransformer.scala
  core/src/test/resources/spark-events-qualification/nds_q88_photon_db_13_3.zstd
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/BasePlanParserSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/PhotonPlanParserSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
  user_tools/tests/spark_rapids_tools_e2e/features/event_log_processing.feature
Labels: feature request, core_tools

#1389 Use environment variables to set thresholds in static yaml configurations
  user_tools/pyproject.toml
  user_tools/src/spark_rapids_pytools/common/prop_manager.py
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_tools/tools/additional_heuristics.py
  user_tools/src/spark_rapids_tools/tools/top_candidates.py
  user_tools/src/spark_rapids_tools/utils/propmanager.py
Labels: cicd, user_tools, build, dependencies

#1391 user-tools should add xms argument to java cmd
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/RuntimeUtil.scala
  user_tools/src/spark_rapids_pytools/rapids/rapids_tool.py
  user_tools/src/spark_rapids_tools/utils/util.py
Labels: user_tools, reliability

#1390 Add support for Photon-specific SQL Metrics
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/AppSparkMetricsAnalyzer.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/DatabricksParseHelper.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/DataSourceView.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/store/AccumManager.scala
  core/src/test/resources/ProfilingExpectations/nds_q88_photon_db_13_3_job_metrics_agg_expectation.csv
  core/src/test/resources/ProfilingExpectations/nds_q88_photon_db_13_3_sql_metrics_agg_expectation.csv
  core/src/test/resources/ProfilingExpectations/nds_q88_photon_db_13_3_stage_metrics_agg_expectation.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/AnalysisSuite.scala
Labels: bug, core_tools

#1394 Update error handling in python for parsing cluster information
  user_tools/src/spark_rapids_pytools/common/cluster_inference.py
Labels: bug, user_tools

#1407 Reduce default memory allocation to the java process
  user_tools/src/spark_rapids_tools/cmdli/argprocessor.py
  user_tools/src/spark_rapids_tools/utils/util.py
Labels: bug, user_tools
