Repository NVIDIA/spark-rapids-tools, pull requests merged in 2024-09, with the labels that each got.

#1332 Update signoff usage [skip ci]
  .github/workflows/signoff-check.yml
  .github/workflows/signoff-check/Dockerfile
  .github/workflows/signoff-check/action.yml
  .github/workflows/signoff-check/signoff-check
Labels: cicd

#1328 Sync up DAYTIME and YEARMONTH fields with CSV plugin files
  core/src/main/resources/supportedDataSource.csv
  core/src/main/resources/supportedExecs.csv
  core/src/main/resources/supportedExprs.csv
  scripts/sync_plugin_files/override_supported_configs.json
  scripts/sync_plugin_files/process_supported_files.py
Labels: tools

#1330 Follow-up 1318: Fix QualX fallback with default speedup and duration columns
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_tools/tools/qualx/qualx_main.py
Labels: bug, user_tools

#1324 Add safeguards to prevent older attempts from generating metrics output in Scala Tool
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Profiler.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/AppSubscriber.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/Qualification.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppMetaData.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/EventProcessorBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ui/ConsoleProgressBar.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/OperationResult.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/RuntimeReporter.scala
  core/src/test/resources/spark-events-qualification/cluster_information/eventlog_2nodes_8cores
  core/src/test/resources/spark-events-qualification/cluster_information/eventlog_3nodes_12cores_exec_removed
  core/src/test/resources/spark-events-qualification/cluster_information/eventlog_3nodes_12cores_variable_cores
  core/src/test/resources/spark-events-qualification/cluster_information/platform/dataproc
  core/src/test/resources/spark-events-qualification/cluster_information/platform/emr
  core/src/test/resources/spark-events-qualification/cluster_information/platform/onprem
  core/src/test/resources/spark-events-qualification/eventlog_same_app_id_1.zstd
  core/src/test/resources/spark-events-qualification/eventlog_same_app_id_2.zstd
  core/src/test/resources/spark-events-qualification/multiple_attempts/attempt_1_eventlog.zstd
  core/src/test/resources/spark-events-qualification/multiple_attempts/attempt_2_eventlog.zstd
  core/src/test/resources/spark-events-qualification/multiple_attempts/attempt_3_eventlog.zstd
  core/src/test/resources/spark-events-qualification/multiple_attempts/attempt_4_eventlog.zstd
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/AppFilterSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
Labels: bug, tools

#1335 Add support to MaxBy and MinBy in Qualification tool
  core/src/main/resources/operatorsScore-databricks-aws-a10G.csv
  core/src/main/resources/operatorsScore-databricks-aws-t4.csv
  core/src/main/resources/operatorsScore-databricks-azure-t4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-l4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-t4.csv
  core/src/main/resources/operatorsScore-dataproc-l4.csv
  core/src/main/resources/operatorsScore-dataproc-serverless-l4.csv
  core/src/main/resources/operatorsScore-dataproc-t4.csv
  core/src/main/resources/operatorsScore-emr-a10.csv
  core/src/main/resources/operatorsScore-emr-a10G.csv
  core/src/main/resources/operatorsScore-emr-t4.csv
  core/src/main/resources/operatorsScore-onprem-a100.csv
  core/src/main/resources/supportedExprs.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
  scripts/sync_plugin_files/override_supported_configs.json
Labels: feature request, tools

#1320 [FEA] Add total core seconds in Qualification core tool output
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualOutputWriter.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ClassWarehouse.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
  core/src/test/resources/QualificationExpectations/complex_dec_expectation.csv
  core/src/test/resources/QualificationExpectations/db_sim_test_expectation.csv
  core/src/test/resources/QualificationExpectations/directory_test_expectation.csv
  core/src/test/resources/QualificationExpectations/jdbc_expectation.csv
  core/src/test/resources/QualificationExpectations/multi_run_freq_test_expectation.csv
  core/src/test/resources/QualificationExpectations/nds_q86_fail_test_expectation.csv
  core/src/test/resources/QualificationExpectations/nds_q86_test_expectation.csv
  core/src/test/resources/QualificationExpectations/nested_dsv2_expectation.csv
  core/src/test/resources/QualificationExpectations/nested_type_expectation.csv
  core/src/test/resources/QualificationExpectations/qual_test_missing_sql_end_expectation.csv
  core/src/test/resources/QualificationExpectations/qual_test_simple_expectation.csv
  core/src/test/resources/QualificationExpectations/read_dsv1_expectation.csv
  core/src/test/resources/QualificationExpectations/read_dsv2_expectation.csv
  core/src/test/resources/QualificationExpectations/spark2_expectation.csv
  core/src/test/resources/QualificationExpectations/truncated_1_end_expectation.csv
  core/src/test/resources/QualificationExpectations/write_format_expectation.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
Labels: tools, affect-output

#1326 Allow spark dependency to be configured dynamically
  user_tools/src/spark_rapids_pytools/__init__.py
  user_tools/src/spark_rapids_pytools/build.py
  user_tools/src/spark_rapids_pytools/rapids/rapids_tool.py
  user_tools/src/spark_rapids_pytools/resources/databricks_aws-configs.json
  user_tools/src/spark_rapids_pytools/resources/databricks_azure-configs.json
  user_tools/src/spark_rapids_pytools/resources/dataproc-configs.json
  user_tools/src/spark_rapids_pytools/resources/dataproc_gke-configs.json
  user_tools/src/spark_rapids_pytools/resources/dev/prepackage_mgr.py
  user_tools/src/spark_rapids_pytools/resources/emr-configs.json
  user_tools/src/spark_rapids_pytools/resources/onprem-configs.json
Labels: feature request, user_tools

#1337 Add documentation for qualx plugins
  user_tools/docs/qualx.md
Labels: documentation, user_tools

#1313 Add end-to-end behavioural tests for the python CLI
  scripts/header-check.sh
  user_tools/docs/resources/debug-behave-intellij.png
  user_tools/docs/tools_e2e_tests.md
  user_tools/pyproject.toml
  user_tools/tests/spark_rapids_tools_e2e/features/environment.py
  user_tools/tests/spark_rapids_tools_e2e/features/event_log_processing.feature
  user_tools/tests/spark_rapids_tools_e2e/features/hdfs_storage.feature
  user_tools/tests/spark_rapids_tools_e2e/features/installation_checks.feature
  user_tools/tests/spark_rapids_tools_e2e/features/steps/e2e_utils.py
  user_tools/tests/spark_rapids_tools_e2e/features/steps/test_steps.py
  user_tools/tests/spark_rapids_tools_e2e/resources/event_logs/gpu_eventlog.zstd
  user_tools/tests/spark_rapids_tools_e2e/resources/event_logs/incorrect_app_status_eventlog.zstd
  user_tools/tests/spark_rapids_tools_e2e/resources/event_logs/join_agg_on_yarn_eventlog.zstd
  user_tools/tests/spark_rapids_tools_e2e/resources/event_logs/photon_eventlog.zstd
  user_tools/tests/spark_rapids_tools_e2e/resources/event_logs/streaming_eventlog.zstd
  user_tools/tests/spark_rapids_tools_e2e/resources/scripts/common.sh
  user_tools/tests/spark_rapids_tools_e2e/resources/scripts/hdfs/cleanup_hdfs.sh
  user_tools/tests/spark_rapids_tools_e2e/resources/scripts/hdfs/setup_hdfs.sh
  user_tools/tests/spark_rapids_tools_e2e/resources/scripts/hdfs/templates/core-site.xml
  user_tools/tests/spark_rapids_tools_e2e/resources/scripts/hdfs/templates/hdfs-site.xml
  user_tools/tests/spark_rapids_tools_e2e/resources/scripts/setup_env.sh
  user_tools/tox.ini
Labels: feature request, user_tools

#1340 Reduce console output tree level, exclude JAR tool output files and remove incorrect logging
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
Labels: bug, feature request, user_tools

#1345 Add support to ArrayJoin in Qualification tool
  core/src/main/resources/operatorsScore-databricks-aws-a10G.csv
  core/src/main/resources/operatorsScore-databricks-aws-t4.csv
  core/src/main/resources/operatorsScore-databricks-azure-t4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-l4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-t4.csv
  core/src/main/resources/operatorsScore-dataproc-l4.csv
  core/src/main/resources/operatorsScore-dataproc-serverless-l4.csv
  core/src/main/resources/operatorsScore-dataproc-t4.csv
  core/src/main/resources/operatorsScore-emr-a10.csv
  core/src/main/resources/operatorsScore-emr-a10G.csv
  core/src/main/resources/operatorsScore-emr-t4.csv
  core/src/main/resources/operatorsScore-onprem-a100.csv
  core/src/main/resources/supportedExprs.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
Labels: feature request, tools

#1350 Rename tag core to core_tools
  .github/workflows/configuration.json
Labels: build

#1346 Add PartitionFilters and DataFilters to the dataSourceInfo table
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/HiveParseHelper.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/ReadParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileClassWarehouse.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/DataSourceView.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/ReadParserSuite.scala
Labels: feature request, core_tools, affect-output

#1353 Disable `too-many-positional-arguments` in pylintrc
  .pylintrc
Labels: bug, user_tools

#1354 Improve AQE support by capturing SQLPlan versions
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/AppSQLPlanAnalyzer.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/SparkSQLPlanInfoVisitor.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/ReadParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/CollectInformation.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/GenerateDot.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfSQLPlanClassifier.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileClassWarehouse.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/DataSourceView.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/EventProcessorBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/profiling/ApplicationInfo.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/profiling/EventsProcessor.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/store/DataSourceRecord.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/store/SQLPlanModel.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/store/SQLPlanModelManager.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/store/SQLPlanModelWithDSCaching.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/store/SQLPlanVersion.scala
Labels: feature request, core_tools, affect-output

#1358 [FOLLOWUP-1326] Set Spark version to 3.4.2 by default for onprem environment
  user_tools/src/spark_rapids_pytools/resources/onprem-configs.json
Labels: user_tools

#1357 Fix python tool picking up wrong JAR version in Fat wheel mode
  user_tools/build.sh
  user_tools/src/spark_rapids_pytools/rapids/tool_ctxt.py
  user_tools/src/spark_rapids_pytools/resources/profiling-conf.yaml
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
Labels: bug, user_tools

#1342 [FEA] Add total core seconds into top candidate view
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_tools/tools/additional_heuristics.py
  user_tools/src/spark_rapids_tools/tools/top_candidates.py
Labels: feature request, user_tools, affect-output

#1361 Isolate dataset for qualx plugin invocations
  user_tools/docs/qualx.md
  user_tools/src/spark_rapids_tools/tools/qualx/model.py
  user_tools/src/spark_rapids_tools/tools/qualx/preprocess.py
  user_tools/src/spark_rapids_tools/tools/qualx/qualx_main.py
Labels: user_tools
