Repository NVIDIA/spark-rapids-tools, pull requests merged in 2024-05, with the labels that each got.

#976 Update docs for building to clarify to build in a virtual environment
  user_tools/README.md
Labels: documentation, user_tools

#982 Adding SHAP predict values as new output file
  user_tools/pyproject.toml
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_tools/tools/model_xgboost.py
Labels: user_tools

#983 Refactor AppBase to use common AppMetaData between Q/P tools
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Analysis.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/CollectInformation.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileClassWarehouse.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/RunningAppMetadata.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/RunningQualificationApp.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppFilterImpl.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppMetaData.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/EventProcessorBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/FilterAppInfo.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/profiling/ApplicationInfo.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/profiling/EventsProcessor.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationEventProcessor.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/RunningQualificationEventProcessor.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/store/StageModel.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/AnalysisSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/ApplicationInfoSuite.scala
Labels: feature request, tools

#991 Fix handling of clusterTags and SparkVersion in Q/P Tools
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/DatabricksParseHelper.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualOutputWriter.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ClusterTagPropHandler.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/profiling/ApplicationInfo.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/CacheablePropsHandler.scala
Labels: bug, tools

#993 [Followup] Fix handling of clusterTags and SparkVersion in Q/P Tools
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ClusterTagPropHandler.scala
  user_tools/docs/index.md
  user_tools/docs/user-tools-aws-emr.md
  user_tools/docs/user-tools-databricks-aws.md
  user_tools/docs/user-tools-databricks-azure.md
  user_tools/docs/user-tools-dataproc-gke.md
  user_tools/docs/user-tools-dataproc.md
  user_tools/docs/user-tools-onprem.md
  user_tools/src/spark_rapids_pytools/resources/profiling-conf.yaml
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_pytools/wrappers/databricks_aws_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/databricks_azure_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/dataproc_gke_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/dataproc_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/emr_wrapper.py
  user_tools/src/spark_rapids_pytools/wrappers/onprem_wrapper.py
  user_tools/src/spark_rapids_tools/cmdli/tools_cli.py
Labels: bug, tools

#992 Account for joboverhead time in qualification tool estimation
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
  core/src/test/resources/QualificationExpectations/complex_dec_expectation.csv
  core/src/test/resources/QualificationExpectations/db_sim_test_expectation.csv
  core/src/test/resources/QualificationExpectations/directory_test_expectation.csv
  core/src/test/resources/QualificationExpectations/jdbc_expectation.csv
  core/src/test/resources/QualificationExpectations/multi_run_freq_test_expectation.csv
  core/src/test/resources/QualificationExpectations/nds_q86_fail_test_expectation.csv
  core/src/test/resources/QualificationExpectations/nds_q86_test_expectation.csv
  core/src/test/resources/QualificationExpectations/nested_dsv2_expectation.csv
  core/src/test/resources/QualificationExpectations/nested_type_expectation.csv
  core/src/test/resources/QualificationExpectations/qual_test_missing_sql_end_expectation.csv
  core/src/test/resources/QualificationExpectations/qual_test_simple_expectation.csv
  core/src/test/resources/QualificationExpectations/read_dsv1_expectation.csv
  core/src/test/resources/QualificationExpectations/read_dsv2_expectation.csv
  core/src/test/resources/QualificationExpectations/spark2_expectation.csv
  core/src/test/resources/QualificationExpectations/truncated_1_end_expectation.csv
  core/src/test/resources/QualificationExpectations/write_format_expectation.csv
Labels: bug, tools

#996 Get stages from sqlId for collecting info for output writer functions
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Analysis.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/EventProcessorBase.scala
Labels: bug, tools

#961 [FEA] Add CLI to run prediction on estimation_model
  user_tools/src/spark_rapids_pytools/rapids/prediction.py
  user_tools/src/spark_rapids_tools/cmdli/argprocessor.py
  user_tools/src/spark_rapids_tools/cmdli/tools_cli.py
Labels: feature request, user_tools

#994 [BUG] Catch Profiler error when app info is empty
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Profiler.scala
Labels: bug, tools

#1001 Updating qual validation script to directly use top candidate view recommendation
  scripts/qual_validation/qual_validation.py
Labels: user_tools

#1015 Fix failure in github workflow's pylint
  user_tools/src/spark_rapids_pytools/cloud_api/onprem.py
  user_tools/src/spark_rapids_pytools/pricing/price_provider.py
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
Labels: user_tools, build

#1002 Add heuristics using stage spill metrics to skip apps
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_tools/tools/additional_heuristics.py
  user_tools/src/spark_rapids_tools/tools/speedup_category.py
  user_tools/src/spark_rapids_tools/utils/util.py
Labels: feature request, user_tools

#1020 Sync supported operators with plugin changes and update default score
  core/src/main/resources/operatorsScore-databricks-aws-a10G.csv
  core/src/main/resources/operatorsScore-databricks-aws-t4.csv
  core/src/main/resources/operatorsScore-databricks-azure-t4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-l4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-t4.csv
  core/src/main/resources/operatorsScore-dataproc-l4.csv
  core/src/main/resources/operatorsScore-dataproc-serverless-l4.csv
  core/src/main/resources/operatorsScore-dataproc-t4.csv
  core/src/main/resources/operatorsScore-emr-a10.csv
  core/src/main/resources/operatorsScore-emr-a10G.csv
  core/src/main/resources/operatorsScore-emr-t4.csv
  core/src/main/resources/operatorsScore-onprem-a100.csv
  core/src/main/resources/supportedExprs.csv
  scripts/sync_plugin_files/README.md
  scripts/sync_plugin_files/sync_operator_scores.py
Labels: tools

#1016 Update Databricks Azure qual tool to set env variable for ABFS paths
  user_tools/src/spark_rapids_pytools/cloud_api/azurestorage.py
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_azure_job.py
  user_tools/src/spark_rapids_tools/storagelib/adls/adlspath.py
Labels: bug, user_tools

#1021 Fix potential problems and AQE updates in Qual tool
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/AppSQLPlanAnalyzer.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/AppSparkMetricsAnalyzer.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/CollectInformation.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileClassWarehouse.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/PluginTypeChecker.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualSQLPlanAnalyzer.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/RunningQualificationApp.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/QualRawReportGenerator.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/EventProcessorBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ToolUtils.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/profiling/ApplicationInfo.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationEventProcessor.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/store/StageModelManager.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/store/TaskModelManager.scala
  core/src/test/resources/QualificationExpectations/jdbc_expectation.csv
  core/src/test/resources/QualificationExpectations/read_dsv1_expectation.csv
  core/src/test/resources/QualificationExpectations/read_dsv2_expectation.csv
  core/src/test/resources/QualificationExpectations/write_format_expectation.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
Labels: bug, tools

#1006 Fix calculation of unsupported operators stage duration percentage
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualOutputWriter.scala
  core/src/test/resources/QualificationExpectations/complex_dec_expectation.csv
  core/src/test/resources/QualificationExpectations/db_sim_test_expectation.csv
  core/src/test/resources/QualificationExpectations/directory_test_expectation.csv
  core/src/test/resources/QualificationExpectations/jdbc_expectation.csv
  core/src/test/resources/QualificationExpectations/multi_run_freq_test_expectation.csv
  core/src/test/resources/QualificationExpectations/nds_q86_fail_test_expectation.csv
  core/src/test/resources/QualificationExpectations/nds_q86_test_expectation.csv
  core/src/test/resources/QualificationExpectations/nested_dsv2_expectation.csv
  core/src/test/resources/QualificationExpectations/nested_type_expectation.csv
  core/src/test/resources/QualificationExpectations/qual_test_missing_sql_end_expectation.csv
  core/src/test/resources/QualificationExpectations/qual_test_simple_expectation.csv
  core/src/test/resources/QualificationExpectations/qual_test_simple_expectation_persql.csv
  core/src/test/resources/QualificationExpectations/read_dsv1_expectation.csv
  core/src/test/resources/QualificationExpectations/read_dsv2_expectation.csv
  core/src/test/resources/QualificationExpectations/spark2_expectation.csv
  core/src/test/resources/QualificationExpectations/truncated_1_end_expectation.csv
  core/src/test/resources/QualificationExpectations/write_format_expectation.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_tools/tools/top_candidates.py
  user_tools/src/spark_rapids_tools/tools/unsupported_ops_stage_duration.py
Labels: bug, user_tools, tools

#1005 Store Cluster Shape Recommendation in User Tools Qualification Output
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc.py
  user_tools/src/spark_rapids_pytools/cloud_api/emr.py
  user_tools/src/spark_rapids_pytools/cloud_api/onprem.py
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
  user_tools/src/spark_rapids_pytools/common/sys_storage.py
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
Labels: feature request, user_tools

#1033 Qualification tool - Handle cancelled jobs and stages better and don't skip the app
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationEventProcessor.scala
Labels: bug, tools

#1035 Skip Cluster Inference when CSP CLIs are missing or not configured
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
Labels: bug, user_tools

#1039 Hook up the auto tuner in the qualification tool
  core/src/main/scala/com/nvidia/spark/rapids/tool/AppSummaryInfoBaseProvider.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/GpuDevice.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/Platform.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/AppSQLPlanAnalyzer.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ApplicationSummaryInfo.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/AutoTuner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Profiler.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/Qualification.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/QualAppSummaryInfoProvider.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/QualificationAutoTuner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/TunerContext.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/QualRawReportGenerator.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/AutoTunerSuite.scala
Labels: feature request, tools

#1043 Refactor ProfileResult classes to implement new interface design and add CSV output to Qual Tool
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/AppSQLPlanAnalyzer.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/CollectInformation.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Profiler.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/DataSourceView.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/InformationView.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/PropertiesView.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/QualRawReportGenerator.scala
Labels: tools

#1044 Split JobStageAggTaskMetrics file into two different files
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/AggRawMetricsResult.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/AppSparkMetricsAnalyzer.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ApplicationSummaryInfo.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileClassWarehouse.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Profiler.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/QualAppSummaryInfoProvider.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/AggMetricsResultSorter.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/RawMetricProfView.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/package.scala
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_jobandstagemetrics2_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_jobandstagemetrics_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_jobandstagemetricsmulti_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_jobmetricsagg2_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_jobmetricsagg_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_jobmetricsaggmulti_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_stagemetricsagg2_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_stagemetricsagg_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_stagemetricsaggmulti_expectation.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/AnalysisSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/ApplicationInfoSuite.scala
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_tools/tools/additional_heuristics.py
Labels: user_tools, tools

#1050 Split job and stage level aggregated metrics into different files
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/AggRawMetricsResult.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/AppSparkMetricsAnalyzer.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ApplicationSummaryInfo.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileClassWarehouse.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Profiler.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/QualAppSummaryInfoProvider.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/AggMetricsResultSorter.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/RawMetricProfView.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/package.scala
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_jobandstagemetrics2_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_jobandstagemetrics_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_jobandstagemetricsmulti_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_jobmetricsagg2_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_jobmetricsagg_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_jobmetricsaggmulti_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_stagemetricsagg2_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_stagemetricsagg_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_stagemetricsaggmulti_expectation.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/AnalysisSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/ApplicationInfoSuite.scala
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_tools/tools/additional_heuristics.py
  user_tools/src/spark_rapids_tools/tools/model_xgboost.py
Labels: feature request, user_tools, tools

#1052 Handle metric names from legacy spark
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/AppSQLPlanAnalyzer.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/ObjectHashAggregateExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/ShuffledHashJoinExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SubqueryBroadcastExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SubqueryExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/DataSourceView.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/ViewableTrait.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ToolUtils.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/EventUtils.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/ToolsPlanGraph.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
Labels: bug, tools

#1053 Handle missing pricing info for user qual tool on Databricks platforms
  user_tools/src/spark_rapids_pytools/pricing/databricks_azure_pricing.py
  user_tools/src/spark_rapids_pytools/pricing/databricks_pricing.py
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
Labels: feature request, user_tools

#1054 User tools fallback to default zone/region
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc.py
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
  user_tools/src/spark_rapids_pytools/resources/databricks_aws-configs.json
  user_tools/src/spark_rapids_pytools/resources/dataproc-configs.json
  user_tools/src/spark_rapids_pytools/resources/dataproc_gke-configs.json
  user_tools/src/spark_rapids_pytools/resources/emr-configs.json
Labels: user_tools, usability
