Repository NVIDIA/spark-rapids-tools, pull requests merged in 2024-01, with the labels that each got.

#640 Profiling tool : Profiling tool throws NPE when appInfo is null and unchecked
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Analysis.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/CollectInformation.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/AnalysisSuite.scala
Labels: bug, tools

#711 AutoTuner should poll maven-meta to retrieve the latest jar version
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/WebCrawlerUtil.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/util/ToolUtilsSuite.scala
Labels: bug, tools

#705 Generate an output file with runtime and build information
  core/pom.xml
  core/src/main/resources/configs/build.properties
  core/src/main/scala/com/nvidia/spark/rapids/tool/ToolTextFileWriter.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Profiler.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/Qualification.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/RapidsToolsConfUtil.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/RuntimeReportGenerator.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/SortedJProperties.scala
Labels: feature request, tools

#723 Add support of HiveTableScan and InsertIntoHive text-format
  core/pom.xml
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/DataWritingCommandExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/FileSourceScanExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/HiveParseHelper.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/ReadParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SQLPlanParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualOutputWriter.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/EventProcessorBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/FilterAppInfo.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/profiling/EventsProcessor.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationEventProcessor.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/EventUtils.scala
  core/src/test/resources/key-value-pairs.txt
  core/src/test/scala/com/nvidia/spark/rapids/tool/ToolTestUtils.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
Labels: feature request, tools

#728 [FEA] AutoTuner should not skip non-gpu eventlogs
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ApplicationSummaryInfo.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/AutoTuner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/DriverLogProcessor.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Profiler.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/AutoTunerSuite.scala
Labels: feature request, tools

#707 [BUG] Fix databricks-aws user profiling tool error with `--gpu_cluster` argument
  data_validation/src/spark_rapids_validation_tool/utilities.py
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
Labels: bug, user_tools

#732 Add auto-copyright for precommits
  .gitignore
  .pre-commit-config.yaml
  scripts/auto-copyrighter.sh
Labels: build

#736 [FEA] AutoTuner warns that non-utf8 may not support some GPU expressions
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ApplicationSummaryInfo.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/AutoTuner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/CollectInformation.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileUtils.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Profiler.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppFilterImpl.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/EventProcessorBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/FilterAppInfo.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ToolUtils.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/profiling/ApplicationInfo.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/profiling/EventsProcessor.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationEventProcessor.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/EventUtils.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/StringUtils.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/ApplicationInfoSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/AutoTunerSuite.scala
Labels: feature request, tools

#737 Disable support of GetJsonObject in Qualification tool
  core/src/main/resources/supportedExprs.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
Labels: bug, tools

#739 [FEA] Qualification tool triggers the AutoTuner module
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ApplicationSummaryInfo.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/Qualification.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualificationArgs.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualificationMain.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/QualAppSummaryInfoProvider.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/QualificationAutoTuner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/TunerContext.scala
Labels: feature request, tools

#748 Update unsupported operator csv file's app duration column
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualOutputWriter.scala
Labels: bug, tools

#741 Remove ReusedSubquery from SparkPlanGraph construction
  .pre-commit-config.yaml
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SQLPlanParser.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/profiling/ApplicationInfo.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/ToolsPlanGraph.scala
  core/src/test/resources/spark-events-profiling/nds_q66_gpu.zstd
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/ApplicationInfoSuite.scala
Labels: bug, tools

#745 [FEA] Extend the list of operators to be ignored in Qualification
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/AggregateInPandasExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/ArrowEvalPythonExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/BatchScanExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/BroadcastExchangeExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/BroadcastHashJoinExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/BroadcastNestedLoopJoinExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/CartesianProductExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/CoalesceExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/CollectLimitExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/CustomShuffleReaderExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/DataWritingCommandExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/ExpandExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/FileSourceScanExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/FilterExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/FlatMapGroupsInPandasExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/GenerateExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/GlobalLimitExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/HashAggregateExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/InMemoryTableScanExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/LocalLimitExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/MapInPandasExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/ObjectHashAggregateExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/ProjectExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/RangeExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SQLPlanParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SampleExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/ShuffleExchangeExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/ShuffledHashJoinExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SortAggregateExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SortExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SortMergeJoinExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SubqueryBroadcastExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/TakeOrderedAndProjectExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/UnionExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/WholeStageExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/WindowExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/WindowInPandasExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualOutputWriter.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ToolUtils.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/profiling/ApplicationInfo.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
  core/src/test/resources/ProfilingExpectations/unsupported_sql_eventlog_expectation.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
Labels: feature request, tools

#753 Fix Qualification crash during aggregation of stats
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
Labels: bug, tools

#754 Qualification fails to detect sortMergeJoin with arguments
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SQLPlanParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SortMergeJoinExecParser.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
Labels: bug, tools

#756 Add support to appendDataExecV1 and overwriteByExprExecV1
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/DataWritingCommandExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/DeltaLakeHelper.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/HiveParseHelper.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SQLPlanParser.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
Labels: bug, tools

#757 Add penalty for stages with UDF's
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/FileSourceScanExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SQLPlanParser.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
  core/src/test/resources/QualificationExpectations/qual_test_simple_expectation.csv
  core/src/test/resources/QualificationExpectations/qual_test_simple_expectation_persql.csv
Labels: tools

#761 Fix node constructor for DB platforms
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/ToolsPlanGraph.scala
Labels: bug, tools

#763 Fix SQLPLanMetric constructor for DB Platforms
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/ToolsPlanGraph.scala
Labels: bug, tools

#764 Amendment to PR-763
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/ToolsPlanGraph.scala
Labels: bug, tools

#765 Fix SparkPlanGraphCluster constructor for DB Platforms
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/ToolsPlanGraph.scala
Labels: bug, tools

#768 Tools fail on DB10.4 clusters with IllegalArgException
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/ToolsPlanGraph.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
Labels: bug, tools
