Repository NVIDIA/spark-rapids-tools, pull requests merged in 2025-09, with the labels that each got.

#1897 Add Qual's support to expressions uuid and mapZipWith
  core/src/main/resources/operatorsScore-databricks-aws-a10G.csv
  core/src/main/resources/operatorsScore-databricks-aws-t4.csv
  core/src/main/resources/operatorsScore-databricks-azure-t4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-l4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-t4.csv
  core/src/main/resources/operatorsScore-dataproc-l4.csv
  core/src/main/resources/operatorsScore-dataproc-serverless-l4.csv
  core/src/main/resources/operatorsScore-dataproc-t4.csv
  core/src/main/resources/operatorsScore-emr-a10.csv
  core/src/main/resources/operatorsScore-emr-a10G.csv
  core/src/main/resources/operatorsScore-emr-t4.csv
  core/src/main/resources/operatorsScore-onprem-a100.csv
  core/src/main/resources/supportedExprs.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
Labels: feature request, core_tools

#1900 Add Invoke to the supportedExprs in core-tools
  core/src/main/resources/operatorsScore-databricks-aws-a10G.csv
  core/src/main/resources/operatorsScore-databricks-aws-t4.csv
  core/src/main/resources/operatorsScore-databricks-azure-t4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-l4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-t4.csv
  core/src/main/resources/operatorsScore-dataproc-l4.csv
  core/src/main/resources/operatorsScore-dataproc-serverless-l4.csv
  core/src/main/resources/operatorsScore-dataproc-t4.csv
  core/src/main/resources/operatorsScore-emr-a10.csv
  core/src/main/resources/operatorsScore-emr-a10G.csv
  core/src/main/resources/operatorsScore-emr-t4.csv
  core/src/main/resources/operatorsScore-onprem-a100.csv
  core/src/main/resources/supportedExprs.csv
Labels: feature request, core_tools

#1879 Add "preserve" and "exclude" sections to target cluster
  core/docs/sampleFiles/targetClusterInfo/targetCluster07.yaml
  core/src/main/resources/bootstrap/tuningTable.yaml
  core/src/main/scala/com/nvidia/spark/rapids/tool/Platform.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/AutoTuner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/QualificationAutoTuner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/TargetClusterProps.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/TuningEntryDefinition.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/PropertiesLoader.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/ToolTestUtils.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/QualificationAutoTunerSuite.scala
Labels: core_tools, autotuner

#1904 Qualx model updates from weekly KPI run 2025-09-07
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws_photon.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws_photon.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws_photon.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure_photon.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure_photon.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure_photon.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/dataproc.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/dataproc.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/dataproc.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/emr.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/emr.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/emr.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/onprem.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/onprem.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/onprem.metrics
Labels: user_tools

#1906 set buildver-356 to be active by default
  core/pom.xml
Labels: core_tools, build

#1912 Extract compression from InsertIntoHadoop cmd
  core/src/main/resources/configs/reports/coreRawMetricsReport.yaml
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/DataWritingCommandExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SQLPlanParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/WriteOpMetaExtractorTrait.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/OutHeaderRegistry.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/WriteOpsView.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/store/WriteOperationStore.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/EventlogProviderImpl.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/WriteOperationParserSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
Labels: core_tools, api_change

#1910 Move Core jar build to a single step
  .github/workflows/python-unit-test.yml
  scripts/prefetch_deps.sh
  user_tools/tests/spark_rapids_tools_e2e/resources/scripts/hdfs/setup_hdfs.sh
  user_tools/tox.ini
Labels: user_tools, build

#1918 Upgrade dependencies in of DeltaLake in core-tools
  .gitignore
  core/pom.xml
Labels: core_tools, dependencies

#1923 Add Iceberg to core pom dependency
  .github/workflows/mvn-verify-check.yml
  core/pom.xml
  core/src/main/scala/com/nvidia/spark/rapids/tool/Platform.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SupportedBlankExec.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/PluginTypeChecker.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/stubs/GraphReflectionAPIHelper.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
Labels: core_tools

#1908 Add a new rule to recommend AQE post shuffle partition num
  core/src/main/resources/bootstrap/tuningConfigs.yaml
  core/src/main/scala/com/nvidia/spark/rapids/tool/AppSummaryInfoBaseProvider.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ApplicationSummaryInfo.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/AutoTuner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/TargetClusterProps.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/BaseAutoTunerSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/ProfilingAutoTunerSuiteV2.scala
Labels: core_tools, autotuner

#1936 Add TableCacheQueryStageExec to the list of static execs file
  core/src/main/resources/supportedExecs.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
Labels: core_tools

#1939 Remove noise from core tools log messages
  core/src/main/scala/com/nvidia/spark/rapids/tool/EventLogPathProcessor.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/Platform.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Profiler.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/EventUtils.scala
Labels: core_tools

#1941 Upmerging scala-2.13 working branch with dev
  .github/workflows/shell-check.yml
  core/src/main/resources/bootstrap/tuningConfigs.yaml
  core/src/main/resources/supportedExecs.csv
  core/src/main/scala/com/nvidia/spark/rapids/tool/AppSummaryInfoBaseProvider.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/EventLogPathProcessor.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/Platform.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/GenericExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/GroupParserTrait.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SQLPlanParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SupportedBlankExec.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SupportedOpStub.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/WriteOpMetaExtractorTrait.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/delta/DeltaLakeBlankExec.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/delta/DeltaLakeOps.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/iceberg/AppendDataIcebergExtract.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/iceberg/AppendDataIcebergParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/iceberg/IcebergHelper.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/iceberg/IcebergWriteOps.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ApplicationSummaryInfo.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Profiler.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/RunningQualificationApp.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/AutoTuner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/TargetClusterProps.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/store/SQLPlanModelManager.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/store/SQLPlanVersion.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/CacheablePropsHandler.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/EventUtils.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/WriteOperationParserSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/BaseAutoTunerSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/ProfilingAutoTunerSuiteV2.scala
  scripts/header-check.sh
  user_tools/build.sh
  user_tools/src/spark_rapids_pytools/resources/collect.sh
Labels: user_tools, core_tools

#1934 Python changes to support Scala 2.13
  core/pom.xml
  user_tools/build.sh
  user_tools/src/spark_rapids_pytools/rapids/rapids_tool.py
  user_tools/src/spark_rapids_pytools/rapids/tool_ctxt.py
  user_tools/src/spark_rapids_pytools/resources/databricks_aws-configs.json
  user_tools/src/spark_rapids_pytools/resources/databricks_azure-configs.json
  user_tools/src/spark_rapids_pytools/resources/dataproc-configs.json
  user_tools/src/spark_rapids_pytools/resources/dataproc_gke-configs.json
  user_tools/src/spark_rapids_pytools/resources/emr-configs.json
  user_tools/src/spark_rapids_pytools/resources/onprem-configs.json
  user_tools/src/spark_rapids_pytools/resources/profiling-conf.yaml
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
Labels: user_tools, core_tools

#1947 Documentation update for adding Scala2.13 support
  core/README.md
  user_tools/README.md
  user_tools/docs/index.md
Labels: user_tools, core_tools
