Repository NVIDIA/spark-rapids-tools, pull requests merged in 2025-06, with the labels that each got.

#1715 Add support for user enforced spark property overrides in Profiling Tool's AutoTuner
  core/src/main/scala/com/nvidia/spark/rapids/tool/ClusterConfigurationStrategy.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/Platform.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/AutoTuner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/TargetClusterProps.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/TuningEntry.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/ToolTestUtils.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/ClusterRecommendationSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/ProfilingAutoTunerSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/ProfilingAutoTunerSuiteV2.scala
Labels: feature request, core_tools, autotuner

#1624 [FEA] Add option to enable diagnostic views generation in Profiler tools
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/AppAnalysisBase.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/AppSQLPlanAnalyzer.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/AppSparkMetricsAnalyzer.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/ProfSparkMetricsAggregator.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/QualSparkMetricsAggregator.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileArgs.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Profiler.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/TunerContext.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/QualRawReportGenerator.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/RawMetricProfView.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/SQLView.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/profiling/ApplicationInfo.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/ToolTestUtils.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/AnalysisSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/ApplicationInfoSuite.scala
  user_tools/src/spark_rapids_pytools/rapids/rapids_tool.py
  user_tools/src/spark_rapids_pytools/resources/profiling-conf.yaml
Labels: feature request, user_tools, core_tools, API change

#1726 Use qual_tool_filter config to enable/disable stage-filtering in Qualx
  user_tools/docs/qualx.md
  user_tools/src/spark_rapids_pytools/rapids/qualx/prediction.py
  user_tools/src/spark_rapids_pytools/rapids/qualx/train.py
  user_tools/src/spark_rapids_tools/cmdli/argprocessor.py
  user_tools/src/spark_rapids_tools/cmdli/tools_cli.py
  user_tools/src/spark_rapids_tools/tools/qualx/featurizers/default.py
  user_tools/src/spark_rapids_tools/tools/qualx/qualx_main.py
Labels: user_tools

#1722 QualX to use the pre-packaged tools_jar as part of whl
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/ProfSparkMetricsAggregator.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/QualSparkMetricsAggregator.scala
  user_tools/docs/qualx.md
  user_tools/src/spark_rapids_pytools/rapids/qualx/qualx_tool.py
  user_tools/src/spark_rapids_pytools/rapids/tool_ctxt.py
Labels: user_tools, core_tools

#1735 Changes to patch per-app core output changes with user tools
  .gitignore
  user_tools/build.sh
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/rapids/qualification_stats.py
  user_tools/src/spark_rapids_pytools/rapids/qualx/prediction.py
  user_tools/src/spark_rapids_pytools/rapids/tool_ctxt.py
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_tools/tools/core/__init__.py
  user_tools/src/spark_rapids_tools/tools/core/qual_handler.py
  user_tools/src/spark_rapids_tools/tools/core/qual_output_reader.py
  user_tools/src/spark_rapids_tools/tools/core/qual_table_definitions.py
  user_tools/src/spark_rapids_tools/tools/core/qual_table_loader.py
  user_tools/src/spark_rapids_tools/tools/qualification_stats_report.py
  user_tools/src/spark_rapids_tools/tools/qualx/preprocess.py
  user_tools/src/spark_rapids_tools/tools/qualx/qualx_main.py
  user_tools/src/spark_rapids_tools/tools/qualx/util.py
  user_tools/src/spark_rapids_tools/utils/data_utils.py
Labels: user_tools

#1738 Increase the throughput of scanning eventlogs in core-tools
  core/src/main/resources/parser/eventlog-parser.yaml
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/EventLogParserTrait.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/profiling/EventsProcessor.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/EventLogReaderConf.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/EventUtils.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/ToolsMetric.scala
  core/src/test/resources/spark-events-profiling/malformed_json_eventlog.zstd
Labels: core_tools, performance

#1743 Add support for target cluster worker info and spark overrides for OnPrem in Profiling Tool's AutoTuner
  core/src/main/resources/targetClusterInfo/target-cluster-01.yaml
  core/src/main/resources/targetClusterInfo/target-cluster-02.yaml
  core/src/main/resources/targetClusterInfo/target-cluster-03.yaml
  core/src/main/resources/targetClusterInfo/target-cluster-04.yaml
  core/src/main/scala/com/nvidia/spark/rapids/tool/ClusterConfigurationStrategy.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/Platform.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/AutoTuner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/TargetClusterProps.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/EventLogReaderConf.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/PropertiesLoader.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/ToolTestUtils.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/ProfilingAutoTunerSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/ProfilingAutoTunerSuiteV2.scala
Labels: feature request, core_tools, autotuner

#1745 Adding QualCoreHandler to the context instead of passing to individual functions
  core/src/main/resources/configs/qualOutputTable.yaml
  user_tools/pyproject.toml
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/rapids/qualification_stats.py
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_tools/cmdli/dev_cli.py
  user_tools/src/spark_rapids_tools/tools/qualification_stats_report.py
  user_tools/tests/spark_rapids_tools_e2e/features/environment.py
  user_tools/tests/spark_rapids_tools_ut/qualx/test_preprocess.py
Labels: user_tools, core_tools

#1755 Add description to Qual tables and generate qual_core_output.md
  .gitignore
  core/docs/qual_core_output.md
  core/src/main/resources/configs/qualOutputTable.yaml
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/qualification/QualOutputTableDefition.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/qualification/QualYamlConfigLoader.scala
  scripts/header-check.sh
  user_tools/src/spark_rapids_pytools/resources/core/.gitkeep
Labels: documentation, user_tools, core_tools
