Repository NVIDIA/spark-rapids-tools, pull requests merged in 2025-01, with the labels that each got.

#1482 Bump minimum Spark version to 3.2.0 and improve AutoTuner unit tests for multiple Spark versions
  .github/workflows/mvn-verify-check.yml
  core/pom.xml
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ToolUtils.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/BaseAutoTunerSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/ProfilingAutoTunerSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/QualificationAutoTunerSuite.scala
Labels: bug, core_tools

#1485 Update models for latest code/datasets
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/combined.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/combined.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/combined.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws_photon.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws_photon.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws_photon.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure_photon.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure_photon.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure_photon.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/dataproc.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/dataproc.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/dataproc.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/emr.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/emr.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/emr.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/onprem.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/onprem.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/onprem.metrics
Labels: user_tools

#1486 Support Python 3.9-3.12
  .github/workflows/python-unit-test.yml
  user_tools/README.md
  user_tools/pyproject.toml
  user_tools/src/spark_rapids_pytools/common/utilities.py
  user_tools/tox.ini
Labels: user_tools, build, dependencies

#1487 Support group-limit optimization for ROW_NUMBER in Qualification
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/WindowGroupLimitParser.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
Labels: feature request, core_tools

#1488 Make spill heuristic 1 TB by default
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
Labels: user_tools

#1483 Improve shuffle manager recommendation in AutoTuner with version validation
  core/src/main/scala/com/nvidia/spark/rapids/tool/Platform.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/AutoTuner.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/ProfilingAutoTunerSuite.scala
Labels: bug, core_tools

#1477 Add Implementation for Distributed Mode in Qualification Tool CLI
  user_tools/pyproject.toml
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/rapids/rapids_job.py
  user_tools/src/spark_rapids_pytools/resources/distributed-tools-conf.yaml
  user_tools/src/spark_rapids_tools/storagelib/csppath.py
  user_tools/src/spark_rapids_tools/utils/util.py
  user_tools/src/spark_rapids_tools_distributed/__init__.py
  user_tools/src/spark_rapids_tools_distributed/distributed_main.py
  user_tools/src/spark_rapids_tools_distributed/jar_cmd_args.py
  user_tools/src/spark_rapids_tools_distributed/output_processing/__init__.py
  user_tools/src/spark_rapids_tools_distributed/output_processing/combiner.py
  user_tools/src/spark_rapids_tools_distributed/output_processing/processors.py
  user_tools/src/spark_rapids_tools_distributed/spark_management/__init__.py
  user_tools/src/spark_rapids_tools_distributed/spark_management/spark_job_submitter.py
  user_tools/src/spark_rapids_tools_distributed/spark_management/spark_session_builder.py
  user_tools/src/spark_rapids_tools_distributed/spark_map_task/__init__.py
  user_tools/src/spark_rapids_tools_distributed/spark_map_task/jar_runner.py
  user_tools/src/spark_rapids_tools_distributed/spark_map_task/status_reporter.py
Labels: feature request, user_tools

#1491 Pin scikit-learn dependency for shap
  user_tools/pyproject.toml
Labels: user_tools

#1494 Fix future warnings for pandas>=2.2
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_tools/tools/qualx/preprocess.py
  user_tools/src/spark_rapids_tools/tools/top_candidates.py
Labels: user_tools

#1493 Improve scalastyle rules to detect spaces
  core/scalastyle-config.xml
  core/src/main/scala/com/nvidia/spark/rapids/tool/AppSummaryInfoBaseProvider.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/Platform.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/DeltaLakeHelper.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/ReadParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/SQLPlanParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/DriverLogProcessor.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/GenerateTimeline.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/HealthCheck.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileClassWarehouse.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/PluginTypeChecker.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/Qualification.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/RunningAppMetadata.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/RunningQualOutputWriter.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/RunningQualificationApp.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/AutoTuner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/QualRawReportGenerator.scala
  core/src/main/scala/org/apache/spark/rapids/tool/benchmarks/Benchmark.scala
  core/src/main/scala/org/apache/spark/rapids/tool/benchmarks/BenchmarkArgs.scala
  core/src/main/scala/org/apache/spark/rapids/tool/benchmarks/BenchmarkBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppFilterImpl.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/EventProcessorBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/profiling/ApplicationInfo.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/store/DataSourceRecord.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/store/SQLPlanModelManager.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/store/SQLPlanVersion.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ui/ConsoleProgressBar.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/EventUtils.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/MemoryMetricsTracker.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/OperationResult.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/stubs/db/DBGraphSQLMetricStub.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/AnalysisSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/AppFilterSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/ApplicationInfoSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/GenerateTimelineSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/QualificationInfoUtils.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/AppFilterSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/PluginTypeCheckerSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/ProfilingAutoTunerSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/QualificationAutoTunerSuite.scala
Labels: core_tools, build

#1495 Qualx model updates from weekly KPI run 2025-01-10
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws_photon.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws_photon.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws_photon.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure_photon.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure_photon.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure_photon.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/dataproc.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/dataproc.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/dataproc.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/emr.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/emr.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/emr.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/onprem.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/onprem.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/onprem.metrics
Labels: user_tools

#1499 Fix additional FutureWarning issues
  user_tools/src/spark_rapids_tools/tools/qualx/preprocess.py
Labels: user_tools

#1500 Add compute_precision_recall utility function
  user_tools/src/spark_rapids_tools/tools/qualx/util.py
Labels: user_tools

#1503 Fix Hadoop JAR Download Timeouts in Behave Tests
  user_tools/tests/spark_rapids_tools_e2e/resources/scripts/hdfs/setup_hdfs.sh
Labels: bug, user_tools

#1505 Use common add-to-project action [skip ci]
  .github/workflows/add-to-project.yml
Labels: cicd

#1498 Revert "Follow Up: Make '--platform' argument mandatory in CLI (#1473)"
  user_tools/src/spark_rapids_tools/cmdli/tools_cli.py
Labels: bug, user_tools

#1501 Improve AutoTuner cluster configuration recommendations for GPU runs
  core/src/main/scala/com/nvidia/spark/rapids/tool/ClusterConfigurationStrategy.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/Platform.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualOutputWriter.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/AutoTuner.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ClassWarehouse.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/BaseAutoTunerSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/ProfilingAutoTunerSuite.scala
  user_tools/tests/spark_rapids_tools_e2e/features/installation_checks.feature
Labels: bug, core_tools

#1504 [BUG] Remove duplicated executor CPU time and runtime metric from SQLTaskAggMetricsProfileResult
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/AppSparkMetricsAnalyzer.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ApplicationSummaryInfo.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileClassWarehouse.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/QualAppSummaryInfoProvider.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/AggMetricsResultSorter.scala
  core/src/test/resources/ProfilingExpectations/nds_q88_photon_db_13_3_sql_metrics_agg_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_sqlmetricsagg2_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_sqlmetricsagg_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_sqlmetricsaggmulti_expectation.csv
Labels: bug, core_tools, affect-output

#1506 Add stringType and binaryType to the list of dataType map
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/PluginTypeChecker.scala
Labels: core_tools

#1478 Sync plugin support as of 2024-12-31
  core/src/main/resources/operatorsScore-databricks-aws-a10G.csv
  core/src/main/resources/operatorsScore-databricks-aws-t4.csv
  core/src/main/resources/operatorsScore-databricks-azure-t4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-l4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-t4.csv
  core/src/main/resources/operatorsScore-dataproc-l4.csv
  core/src/main/resources/operatorsScore-dataproc-serverless-l4.csv
  core/src/main/resources/operatorsScore-dataproc-t4.csv
  core/src/main/resources/operatorsScore-emr-a10.csv
  core/src/main/resources/operatorsScore-emr-a10G.csv
  core/src/main/resources/operatorsScore-emr-t4.csv
  core/src/main/resources/operatorsScore-onprem-a100.csv
  core/src/main/resources/supportedDataSource.csv
  core/src/main/resources/supportedExecs.csv
  core/src/main/resources/supportedExprs.csv
  core/src/test/resources/QualificationExpectations/qual_test_simple_expectation.csv
  core/src/test/resources/QualificationExpectations/qual_test_simple_expectation_persql.csv
  core/src/test/resources/QualificationExpectations/read_dsv1_expectation.csv
  core/src/test/resources/QualificationExpectations/read_dsv2_expectation.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
Labels: feature request, core_tools

#1510 Update core tools rules to allow cross-build between 2.12 and 2.13
  core/scalastyle-config.xml
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileMain.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualificationMain.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/AutoTuner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/DataSourceView.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/GenerateDotSuite.scala
Labels: core_tools

#1508 Fix string comparison for memory overhead in pinned pool size recommendation in AutoTuner
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/AutoTuner.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/ProfilingAutoTunerSuite.scala
Labels: bug, core_tools

#1511 [BUG] Qual tool should convert time units at stage/job/sql level
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationEventProcessor.scala
  core/src/test/resources/QualificationExpectations/complex_dec_expectation.csv
  core/src/test/resources/QualificationExpectations/db_sim_test_expectation.csv
  core/src/test/resources/QualificationExpectations/directory_test_expectation.csv
  core/src/test/resources/QualificationExpectations/jdbc_expectation.csv
  core/src/test/resources/QualificationExpectations/multi_run_freq_test_expectation.csv
  core/src/test/resources/QualificationExpectations/nds_q86_test_expectation.csv
  core/src/test/resources/QualificationExpectations/nested_dsv2_expectation.csv
  core/src/test/resources/QualificationExpectations/nested_type_expectation.csv
  core/src/test/resources/QualificationExpectations/qual_test_missing_sql_end_expectation.csv
  core/src/test/resources/QualificationExpectations/qual_test_simple_expectation.csv
  core/src/test/resources/QualificationExpectations/read_dsv1_expectation.csv
  core/src/test/resources/QualificationExpectations/read_dsv2_expectation.csv
  core/src/test/resources/QualificationExpectations/spark2_expectation.csv
  core/src/test/resources/QualificationExpectations/truncated_1_end_expectation.csv
  core/src/test/resources/QualificationExpectations/write_format_expectation.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
Labels: bug, core_tools

#1451 [FEA] Add IO diagnostic output for GPU slowness in Profiler tool
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/AnalysisUtils.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/AppSQLPlanAnalyzer.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/AppSparkMetricsAnalyzer.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/util/DiagnosticMetrics.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/CollectInformation.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/DiagnosticSummaryInfo.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileClassWarehouse.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Profiler.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/SQLView.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/store/AccumNameRef.scala
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_iodiagnosticmetrics_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_stagediagnosticmetrics_expectation.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/AnalysisSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/ApplicationInfoSuite.scala
Labels: feature request, core_tools, affect-output

#1514 AutoTuner: Set recommendation for spark.task.resource.gpu.amount to a very low value
  core/src/main/scala/com/nvidia/spark/rapids/tool/Platform.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/AutoTuner.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/ProfilingAutoTunerSuite.scala
Labels: bug, core_tools

#1518 Fix 2024 and 2025 year in license headers
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_azure.py
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc.py
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc_gke.py
  user_tools/src/spark_rapids_pytools/cloud_api/emr.py
  user_tools/src/spark_rapids_pytools/cloud_api/onprem.py
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
  user_tools/src/spark_rapids_pytools/rapids/rapids_job.py
  user_tools/src/spark_rapids_pytools/rapids/rapids_tool.py
  user_tools/src/spark_rapids_pytools/rapids/tool_ctxt.py
  user_tools/src/spark_rapids_pytools/resources/distributed-tools-conf.yaml
  user_tools/src/spark_rapids_tools/cmdli/argprocessor.py
  user_tools/src/spark_rapids_tools/configuration/common.py
  user_tools/src/spark_rapids_tools/configuration/runtime_conf.py
  user_tools/src/spark_rapids_tools/configuration/submission/__init__.py
  user_tools/src/spark_rapids_tools/configuration/submission/distributed_config.py
  user_tools/src/spark_rapids_tools/configuration/submission/local_config.py
  user_tools/src/spark_rapids_tools/configuration/tools_config.py
  user_tools/src/spark_rapids_tools/enums.py
  user_tools/src/spark_rapids_tools/storagelib/csppath.py
  user_tools/src/spark_rapids_tools/utils/util.py
  user_tools/src/spark_rapids_tools_distributed/__init__.py
  user_tools/src/spark_rapids_tools_distributed/distributed_main.py
  user_tools/src/spark_rapids_tools_distributed/jar_cmd_args.py
  user_tools/src/spark_rapids_tools_distributed/output_processing/__init__.py
  user_tools/src/spark_rapids_tools_distributed/output_processing/combiner.py
  user_tools/src/spark_rapids_tools_distributed/output_processing/processors.py
  user_tools/src/spark_rapids_tools_distributed/spark_management/__init__.py
  user_tools/src/spark_rapids_tools_distributed/spark_management/spark_job_submitter.py
  user_tools/src/spark_rapids_tools_distributed/spark_management/spark_session_builder.py
  user_tools/src/spark_rapids_tools_distributed/spark_map_task/__init__.py
  user_tools/src/spark_rapids_tools_distributed/spark_map_task/jar_runner.py
  user_tools/src/spark_rapids_tools_distributed/spark_map_task/status_reporter.py
  user_tools/tests/spark_rapids_tools_ut/conftest.py
  user_tools/tests/spark_rapids_tools_ut/test_tool_argprocessor.py
Labels: bug, user_tools

#1517 Generate a separate file to list bootstrap properties
  core/src/main/resources/bootstrap/tuningTable.yaml
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Profiler.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/AutoTuner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/BootstrapReport.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/QualificationAutoTunerRunner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/TunerContext.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/TuningEntry.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/TuningEntryDefinition.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/TuningEntryTrait.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/TuningOpTypes.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/ProfilingAutoTunerSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/QualificationAutoTunerSuite.scala
Labels: feature request, core_tools
