Repository NVIDIA/spark-rapids-tools, pull requests merged in 2025-02, with the labels that each got.

#1523 Recommend G6 instead of G5 on EMR
  core/src/main/scala/com/nvidia/spark/rapids/tool/Platform.scala
  user_tools/tests/spark_rapids_tools_e2e/features/installation_checks.feature
Labels: core_tools

#1516 Merge Distributed Qualification Tools CLI
  user_tools/pyproject.toml
  user_tools/src/spark_rapids_pytools/cloud_api/databricks_azure.py
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc.py
  user_tools/src/spark_rapids_pytools/cloud_api/dataproc_gke.py
  user_tools/src/spark_rapids_pytools/cloud_api/emr.py
  user_tools/src/spark_rapids_pytools/cloud_api/onprem.py
  user_tools/src/spark_rapids_pytools/cloud_api/sp_types.py
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/rapids/rapids_job.py
  user_tools/src/spark_rapids_pytools/rapids/rapids_tool.py
  user_tools/src/spark_rapids_pytools/rapids/tool_ctxt.py
  user_tools/src/spark_rapids_pytools/resources/databricks_aws-configs.json
  user_tools/src/spark_rapids_pytools/resources/distributed-tools-conf.yaml
  user_tools/src/spark_rapids_tools/cmdli/argprocessor.py
  user_tools/src/spark_rapids_tools/cmdli/tools_cli.py
  user_tools/src/spark_rapids_tools/configuration/common.py
  user_tools/src/spark_rapids_tools/configuration/runtime_conf.py
  user_tools/src/spark_rapids_tools/configuration/submission/__init__.py
  user_tools/src/spark_rapids_tools/configuration/submission/distributed_config.py
  user_tools/src/spark_rapids_tools/configuration/submission/local_config.py
  user_tools/src/spark_rapids_tools/configuration/tools_config.py
  user_tools/src/spark_rapids_tools/enums.py
  user_tools/src/spark_rapids_tools/storagelib/csppath.py
  user_tools/src/spark_rapids_tools/utils/util.py
  user_tools/src/spark_rapids_tools_distributed/__init__.py
  user_tools/src/spark_rapids_tools_distributed/distributed_main.py
  user_tools/src/spark_rapids_tools_distributed/jar_cmd_args.py
  user_tools/src/spark_rapids_tools_distributed/output_processing/__init__.py
  user_tools/src/spark_rapids_tools_distributed/output_processing/combiner.py
  user_tools/src/spark_rapids_tools_distributed/output_processing/processors.py
  user_tools/src/spark_rapids_tools_distributed/spark_management/__init__.py
  user_tools/src/spark_rapids_tools_distributed/spark_management/spark_job_submitter.py
  user_tools/src/spark_rapids_tools_distributed/spark_management/spark_session_builder.py
  user_tools/src/spark_rapids_tools_distributed/spark_map_task/__init__.py
  user_tools/src/spark_rapids_tools_distributed/spark_map_task/jar_runner.py
  user_tools/src/spark_rapids_tools_distributed/spark_map_task/status_reporter.py
  user_tools/tests/spark_rapids_tools_ut/conftest.py
  user_tools/tests/spark_rapids_tools_ut/resources/tools_config/sample-distributed-config-specification.json
  user_tools/tests/spark_rapids_tools_ut/resources/tools_config/sample-local-config-specification.json
  user_tools/tests/spark_rapids_tools_ut/resources/tools_config/valid/tools_config_01.yaml
  user_tools/tests/spark_rapids_tools_ut/resources/tools_config/valid/tools_config_02.yaml
  user_tools/tests/spark_rapids_tools_ut/test_tool_argprocessor.py
Labels: feature request, user_tools

#1525 Use a stub to store Spark StageInfo
  core/pom.xml
  core/src/main/resources/configs/build.properties
  core/src/main/scala/org/apache/spark/rapids/tool/benchmarks/DevRuntimeCheckpoint.scala
  core/src/main/scala/org/apache/spark/rapids/tool/benchmarks/NoOpRuntimeCheckpoint.scala
  core/src/main/scala/org/apache/spark/rapids/tool/benchmarks/RuntimeCheckpointTrait.scala
  core/src/main/scala/org/apache/spark/rapids/tool/benchmarks/RuntimeInjector.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/store/StageModel.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/RuntimeUtil.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/stubs/StageInfoStub.scala
Labels: core_tools, performance

#1532 Disable diagnostics pytests
  user_tools/tests/test_diagnostic.py
Labels: cicd, build

#1528 Add support for configurable qualx label column
  user_tools/src/spark_rapids_tools/tools/qualx/config.py
  user_tools/src/spark_rapids_tools/tools/qualx/model.py
  user_tools/src/spark_rapids_tools/tools/qualx/preprocess.py
  user_tools/src/spark_rapids_tools/tools/qualx/qualx_main.py
  user_tools/src/spark_rapids_tools/tools/qualx/util.py
Labels: user_tools

#1530 Disable Per-SQL summary text output
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualOutputWriter.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/Qualification.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/RunningQualOutputWriter.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/RunningQualificationApp.scala
  core/src/test/resources/QualificationExpectations/nds_q86_fail_test_expectation_persql.csv
  core/src/test/resources/QualificationExpectations/nds_q86_test_expectation_persql.csv
  core/src/test/resources/QualificationExpectations/qual_test_simple_expectation_persql.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
Labels: core_tools, API change, performance

#1547 Add comment for each expected_raw_feature indicating CSV source
  user_tools/src/spark_rapids_tools/tools/qualx/preprocess.py
Labels: user_tools

#1544 Generate a detailed report for the write ops
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/DataWritingCommandExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/DeltaLakeHelper.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/HiveParseHelper.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/ReadParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/ops/OperatorRefBase.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ApplicationSummaryInfo.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/CollectInformation.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Profiler.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualSQLPlanAnalyzer.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/JobView.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/QualRawReportGenerator.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/WriteOpsView.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/store/SQLPlanModel.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/store/SQLPlanModelManager.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/store/SQLPlanModelWithDSCaching.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/store/SQLPlanVersion.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/store/WriteOperationStore.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/StringUtils.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/WriteOperationParserSuite.scala
Labels: core_tools, API change

#1554 Disable dataproc enhanced optimizer configs
  core/src/main/resources/bootstrap/tuningTable.yaml
  core/src/main/scala/com/nvidia/spark/rapids/tool/Platform.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/AutoTuner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/TuningEntryDefinition.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/ProfilingAutoTunerSuite.scala
Labels: bug, autotuner

#1543 Calculate task metric aggregates on-the-fly to reduce memory usage
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/AppSQLPlanAnalyzer.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/AppSparkMetricsAnalyzer.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/StatisticsMetrics.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/GenerateTimeline.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/store/AccumInfo.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/store/AccumManager.scala
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_iodiagnosticmetrics_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_sqlmetrics_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_stagediagnosticmetrics_expectation.csv
  user_tools/src/spark_rapids_tools/utils/util.py
Labels: core_tools, performance

#1559 Qualx model updates from weekly KPI run 2025-02-23
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/onprem.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/onprem.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/onprem.metrics
Labels: user_tools
