Repository NVIDIA/spark-rapids-tools, pull requests merged in 2025-04, with the labels that each got.

#1603 Reduce qualx logging noise
  user_tools/src/spark_rapids_tools/tools/qualx/model.py
  user_tools/src/spark_rapids_tools/tools/qualx/preprocess.py
  user_tools/src/spark_rapids_tools/tools/qualx/qualx_main.py
  user_tools/src/spark_rapids_tools/tools/qualx/util.py
Labels: user_tools

#1609 Fix unused global warnings from new flake8 7.2.0
  user_tools/src/spark_rapids_pytools/common/sys_storage.py
Labels: bug, user_tools

#1604 Qualx model updates from weekly KPI run 2025-03-30
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws_photon.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws_photon.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure_photon.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure_photon.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/dataproc.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/dataproc.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/emr.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/emr.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/onprem.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/onprem.json
Labels: user_tools

#1607 Improve Profiling AutoTuner to provide cluster-aware configuration recommendations
  core/src/main/scala/com/nvidia/spark/rapids/tool/AppSummaryInfoBaseProvider.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ApplicationSummaryInfo.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Profiler.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/AutoTuner.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/profiling/ApplicationInfo.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/ProfilingAutoTunerSuite.scala
Labels: bug, core_tools, autotuner

#1615 Disable dropping sqlIDs with failures during qualx prediction
  user_tools/src/spark_rapids_tools/tools/qualx/preprocess.py
  user_tools/src/spark_rapids_tools/tools/qualx/qualx_main.py
Labels: feature request, user_tools

#1619 Remove Compare/Combined modes from Profiling tool
  .gitignore
  core/src/main/scala/com/nvidia/spark/rapids/tool/EventLogPathProcessor.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/AppIndexMapperTrait.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/AppSQLPlanAnalyzer.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/AppSparkMetricsAggTrait.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/AppSparkMetricsAnalyzer.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/CompareApplications.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/CompareSummaryInfo.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/GenerateDot.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/HealthCheck.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileArgs.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileClassWarehouse.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileMain.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileOutputWriter.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Profiler.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualSQLPlanAnalyzer.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/Qualification.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/TunerContext.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/AggMetricsResultSorter.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/AppStageMetricsView.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/DataSourceView.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/ExecutorView.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/InformationView.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/JobView.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/QualRawReportGenerator.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/SQLView.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/StageView.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/TaskView.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/WriteOpsView.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/profiling/ApplicationInfo.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/StringUtils.scala
  core/src/test/resources/ProfilingExpectations/executors_removed_eventlog_expectation.csv
  core/src/test/resources/ProfilingExpectations/jobs_failure_eventlog_expectation.csv
  core/src/test/resources/ProfilingExpectations/nds_q88_photon_db_13_3_job_metrics_agg_expectation.csv
  core/src/test/resources/ProfilingExpectations/nds_q88_photon_db_13_3_sql_metrics_agg_expectation.csv
  core/src/test/resources/ProfilingExpectations/nds_q88_photon_db_13_3_stage_metrics_agg_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_duration_and_cpu_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_iodiagnosticmetrics_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_jobmetricsagg2_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_jobmetricsagg_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_jobmetricsaggmulti_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_sqlmetrics_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_sqlmetricsagg2_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_sqlmetricsagg_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_sqlmetricsaggmulti_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_stagediagnosticmetrics_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_stagemetricsagg2_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_stagemetricsagg_expectation.csv
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_stagemetricsaggmulti_expectation.csv
  core/src/test/resources/ProfilingExpectations/removed_blockManagers_eventlog_expectation.csv
  core/src/test/resources/ProfilingExpectations/stages_failure_eventlog_expectation.csv
  core/src/test/resources/ProfilingExpectations/tasks_failure_eventlog_expectation.csv
  core/src/test/resources/ProfilingExpectations/unsupported_sql_eventlog_expectation.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/ToolTestUtils.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/AnalysisSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/ApplicationInfoSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/CompareSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/HealthCheckSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/util/ToolUtilsSuite.scala
  user_tools/src/spark_rapids_tools/tools/qualx/preprocess.py
Labels: feature request, user_tools, core_tools, usability, API change

#1618 Sync supported ops with RAPIDS plugin as of 04-01-2025
  core/src/main/resources/operatorsScore-databricks-aws-a10G.csv
  core/src/main/resources/operatorsScore-databricks-aws-t4.csv
  core/src/main/resources/operatorsScore-databricks-azure-t4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-l4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-t4.csv
  core/src/main/resources/operatorsScore-dataproc-l4.csv
  core/src/main/resources/operatorsScore-dataproc-serverless-l4.csv
  core/src/main/resources/operatorsScore-dataproc-t4.csv
  core/src/main/resources/operatorsScore-emr-a10.csv
  core/src/main/resources/operatorsScore-emr-a10G.csv
  core/src/main/resources/operatorsScore-emr-t4.csv
  core/src/main/resources/operatorsScore-onprem-a100.csv
  core/src/main/resources/supportedExecs.csv
  core/src/main/resources/supportedExprs.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/BasePlanParserSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/SqlPlanParserSuite.scala
  scripts/sync_plugin_files/override_supported_configs.json
Labels: core_tools

#1627 Add attemptId to app summaries
  core/src/main/scala/com/nvidia/spark/rapids/tool/Identifiable.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileClassWarehouse.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualOutputWriter.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/RunningQualificationApp.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/InformationView.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppMetaData.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
  core/src/test/resources/QualificationExpectations/complex_dec_expectation.csv
  core/src/test/resources/QualificationExpectations/db_sim_test_expectation.csv
  core/src/test/resources/QualificationExpectations/directory_test_expectation.csv
  core/src/test/resources/QualificationExpectations/jdbc_expectation.csv
  core/src/test/resources/QualificationExpectations/multi_run_freq_test_expectation.csv
  core/src/test/resources/QualificationExpectations/nds_q86_fail_test_expectation.csv
  core/src/test/resources/QualificationExpectations/nds_q86_test_expectation.csv
  core/src/test/resources/QualificationExpectations/nested_dsv2_expectation.csv
  core/src/test/resources/QualificationExpectations/nested_type_expectation.csv
  core/src/test/resources/QualificationExpectations/qual_test_missing_sql_end_expectation.csv
  core/src/test/resources/QualificationExpectations/qual_test_simple_expectation.csv
  core/src/test/resources/QualificationExpectations/read_dsv1_expectation.csv
  core/src/test/resources/QualificationExpectations/read_dsv2_expectation.csv
  core/src/test/resources/QualificationExpectations/spark2_expectation.csv
  core/src/test/resources/QualificationExpectations/truncated_1_end_expectation.csv
  core/src/test/resources/QualificationExpectations/write_format_expectation.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/ApplicationInfoSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
Labels: core_tools

#1632 Add java-cmd to the system-properties CSV file
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/CacheablePropsHandler.scala
Labels: feature request, core_tools

#1630 Remove the calculation of job frequency from core-tools
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualOutputWriter.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/Qualification.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/RunningQualificationApp.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/qualification/QualificationAppInfo.scala
  core/src/test/resources/QualificationExpectations/complex_dec_expectation.csv
  core/src/test/resources/QualificationExpectations/db_sim_test_expectation.csv
  core/src/test/resources/QualificationExpectations/directory_test_expectation.csv
  core/src/test/resources/QualificationExpectations/jdbc_expectation.csv
  core/src/test/resources/QualificationExpectations/multi_run_freq_test_expectation.csv
  core/src/test/resources/QualificationExpectations/nds_q86_fail_test_expectation.csv
  core/src/test/resources/QualificationExpectations/nds_q86_test_expectation.csv
  core/src/test/resources/QualificationExpectations/nested_dsv2_expectation.csv
  core/src/test/resources/QualificationExpectations/nested_type_expectation.csv
  core/src/test/resources/QualificationExpectations/qual_test_missing_sql_end_expectation.csv
  core/src/test/resources/QualificationExpectations/qual_test_simple_expectation.csv
  core/src/test/resources/QualificationExpectations/read_dsv1_expectation.csv
  core/src/test/resources/QualificationExpectations/read_dsv2_expectation.csv
  core/src/test/resources/QualificationExpectations/spark2_expectation.csv
  core/src/test/resources/QualificationExpectations/truncated_1_end_expectation.csv
  core/src/test/resources/QualificationExpectations/write_format_expectation.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
Labels: core_tools

#1635 Disable assertions in core-tools
  core/pom.xml
Labels: user_tools, core_tools, build

#1636 Fix handling of driver logs in core-tools
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/DriverLogProcessor.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileMain.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Profiler.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/BaseAutoTunerSuite.scala
Labels: bug, core_tools

#1639 Fix filtered eventlogs in Profiling tool
  core/pom.xml
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileMain.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/ToolTestUtils.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/AppFilterSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
Labels: bug, core_tools

#1645 Qualx pipeline API
  user_tools/src/spark_rapids_pytools/resources/qualx-conf.yaml
  user_tools/src/spark_rapids_tools/tools/qualx/config.py
  user_tools/src/spark_rapids_tools/tools/qualx/featurizers/default.py
  user_tools/src/spark_rapids_tools/tools/qualx/featurizers/hash_plan.py
  user_tools/src/spark_rapids_tools/tools/qualx/hash_util.py
  user_tools/src/spark_rapids_tools/tools/qualx/model.py
  user_tools/src/spark_rapids_tools/tools/qualx/modifiers/align_sql_id.py
  user_tools/src/spark_rapids_tools/tools/qualx/preprocess.py
  user_tools/src/spark_rapids_tools/tools/qualx/qualx_config.py
  user_tools/src/spark_rapids_tools/tools/qualx/qualx_main.py
  user_tools/src/spark_rapids_tools/tools/qualx/qualx_pipeline.py
  user_tools/src/spark_rapids_tools/tools/qualx/split_functions/split_all_test.py
  user_tools/src/spark_rapids_tools/tools/qualx/split_functions/split_random.py
  user_tools/src/spark_rapids_tools/tools/qualx/split_functions/split_stratified.py
  user_tools/src/spark_rapids_tools/tools/qualx/split_functions/split_train_val.py
  user_tools/src/spark_rapids_tools/tools/qualx/util.py
  user_tools/tests/spark_rapids_tools_e2e/features/steps/preprocess_steps.py
  user_tools/tests/spark_rapids_tools_e2e/resources/datasets/onprem/nds.json
  user_tools/tests/spark_rapids_tools_ut/qualx/test_config.py
  user_tools/tests/spark_rapids_tools_ut/qualx/test_hash_util.py
  user_tools/tests/spark_rapids_tools_ut/qualx/test_model.py
  user_tools/tests/spark_rapids_tools_ut/qualx/test_preprocess.py
  user_tools/tests/spark_rapids_tools_ut/qualx/test_qualx_config.py
  user_tools/tests/spark_rapids_tools_ut/qualx/test_utils.py
Labels: user_tools

#1652 Improve unit handling for memory-related configs in AutoTuner
  core/src/main/resources/bootstrap/tuningTable.yaml
  core/src/main/scala/com/nvidia/spark/rapids/tool/ClusterConfigurationStrategy.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/EventLogPathProcessor.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/GpuDevice.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/Platform.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/AutoTuner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/TuningEntry.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/TuningEntryDefinition.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/TuningEntryTrait.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ToolUtils.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/StringUtils.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/ProfilingAutoTunerSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/QualificationAutoTunerSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/util/ToolUtilsSuite.scala
Labels: bug, core_tools, autotuner

#1654 Add more qualx unit tests
  user_tools/src/spark_rapids_tools/tools/qualx/hash_util.py
  user_tools/src/spark_rapids_tools/tools/qualx/preprocess.py
  user_tools/src/spark_rapids_tools/tools/qualx/split_functions/split_stratified.py
  user_tools/src/spark_rapids_tools/tools/qualx/util.py
  user_tools/tests/spark_rapids_tools_e2e/features/preprocess.feature
  user_tools/tests/spark_rapids_tools_e2e/features/steps/preprocess_steps.py
  user_tools/tests/spark_rapids_tools_ut/qualx/test_modifiers.py
  user_tools/tests/spark_rapids_tools_ut/qualx/test_preprocess.py
  user_tools/tests/spark_rapids_tools_ut/qualx/test_qualx_config.py
  user_tools/tests/spark_rapids_tools_ut/qualx/test_split_functions.py
  user_tools/tests/spark_rapids_tools_ut/qualx/test_utils.py
Labels: user_tools
