Repository NVIDIA/spark-rapids-tools, pull requests merged in 2025-08, with the labels that each got.

#1820 New memory tuning logic
  core/src/main/resources/bootstrap/tuningConfigs.yaml
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/AutoTuner.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/ProfilingAutoTunerSuite.scala
Labels: core_tools, autotuner

#1802 QualX model calibration functionality
  user_tools/src/spark_rapids_pytools/resources/qualx-conf.yaml
  user_tools/src/spark_rapids_tools/tools/qualx/model.py
  user_tools/src/spark_rapids_tools/tools/qualx/qualx_config.py
  user_tools/src/spark_rapids_tools/tools/qualx/qualx_main.py
  user_tools/tests/spark_rapids_tools_ut/qualx/test_model.py
Labels: user_tools, qualx

#1843 Fix 'spark.plugin' logic and GPU discovery script recommendations
  core/src/main/resources/bootstrap/tuningTable.yaml
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/AutoTuner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/QualificationAutoTuner.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/ProfilingAutoTunerSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/ProfilingAutoTunerSuiteV2.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/QualificationAutoTunerSuite.scala
Labels: bug, core_tools, autotuner

#1840 Add unit test for new memory tune logic
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/QualificationAutoTunerSuite.scala
Labels: core_tools, autotuner, test

#1842 New rule to tune pinned memory pool size
  core/src/main/resources/bootstrap/tuningConfigs.yaml
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/AutoTuner.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/QualificationAutoTunerSuite.scala
Labels: feature request, core_tools, autotuner

#1856 Add a report combiner based on appIds to the Tools-API
  user_tools/src/spark_rapids_tools/api_v1/__init__.py
  user_tools/src/spark_rapids_tools/api_v1/app_handler.py
  user_tools/src/spark_rapids_tools/api_v1/builder.py
  user_tools/src/spark_rapids_tools/api_v1/common.py
  user_tools/src/spark_rapids_tools/api_v1/core/qual_handler.py
  user_tools/src/spark_rapids_tools/api_v1/report_reader.py
  user_tools/src/spark_rapids_tools/api_v1/result_handler.py
  user_tools/src/spark_rapids_tools/api_v1/table_definition.py
  user_tools/src/spark_rapids_tools/utils/data_utils.py
  user_tools/src/spark_rapids_tools/utils/util.py
  user_tools/tests/spark_rapids_tools_ut/api/__init__.py
  user_tools/tests/spark_rapids_tools_ut/api/test_app_handlers.py
Labels: feature request, user_tools

#1853 Add modular categories to changelog release action
  .github/workflows/configuration.json
  .github/workflows/release.yml
Labels: cicd

#1860 Pin optuna version as a required dependency
  user_tools/pyproject.toml
Labels: dependencies, qualx

#1857 Use Tools-API to load qual reports in QualX
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/rapids/qualx/prediction.py
  user_tools/src/spark_rapids_tools/api_v1/builder.py
  user_tools/src/spark_rapids_tools/api_v1/common.py
  user_tools/src/spark_rapids_tools/api_v1/report_reader.py
  user_tools/src/spark_rapids_tools/api_v1/result_handler.py
  user_tools/src/spark_rapids_tools/tools/qualx/model.py
  user_tools/src/spark_rapids_tools/tools/qualx/preprocess.py
  user_tools/src/spark_rapids_tools/tools/qualx/qualx_main.py
  user_tools/src/spark_rapids_tools/tools/qualx/util.py
  user_tools/tests/spark_rapids_tools_e2e/features/result_handler.feature
  user_tools/tests/spark_rapids_tools_e2e/features/steps/test_result_handler_steps.py
  user_tools/tests/spark_rapids_tools_ut/conftest.py
  user_tools/tests/spark_rapids_tools_ut/test_cluster.py
  user_tools/tests/spark_rapids_tools_ut/test_tool_argprocessor.py
  user_tools/tests/utils/test_data_utils.py
  user_tools/tests/utils/test_net_utils.py
  user_tools/tox.ini
Labels: user_tools, qualx

#1864 Correct qual_summary formatting
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_tools/tools/additional_heuristics.py
  user_tools/src/spark_rapids_tools/tools/speedup_category.py
  user_tools/tests/spark_rapids_tools_e2e/features/event_log_processing.feature
Labels: bug

#1870 AutoTuner: Support Custom Core Multiplier Property for Multithread Read
  core/src/main/resources/bootstrap/tuningConfigs.yaml
  core/src/main/scala/com/nvidia/spark/rapids/tool/Platform.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/AutoTuner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/TuningEntryDefinition.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/QualificationAutoTunerSuite.scala
Labels: autotuner

#1874 Replace the legacy QualCoreHandler by toolsAPI in python wrapper
  user_tools/src/spark_rapids_pytools/rapids/profiling_core.py
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/rapids/qualification_core.py
  user_tools/src/spark_rapids_pytools/rapids/qualification_stats.py
  user_tools/src/spark_rapids_pytools/rapids/rapids_tool.py
  user_tools/src/spark_rapids_tools/api_v1/builder.py
  user_tools/src/spark_rapids_tools/api_v1/report_reader.py
  user_tools/src/spark_rapids_tools/enums.py
  user_tools/src/spark_rapids_tools/tools/core/__init__.py
  user_tools/src/spark_rapids_tools/tools/core/qual_handler.py
  user_tools/src/spark_rapids_tools/tools/core/qual_output_reader.py
  user_tools/src/spark_rapids_tools/tools/core/qual_table_definitions.py
  user_tools/src/spark_rapids_tools/tools/core/qual_table_loader.py
  user_tools/src/spark_rapids_tools/tools/qualification_stats_report.py
Labels: user_tools

#1871 Use enforced offheapLimit.size for pinned memory
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/AutoTuner.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/QualificationAutoTunerSuite.scala
Labels: bug, core_tools, autotuner

#1890 Update Python fire module dependency.
  user_tools/pyproject.toml
Labels: dependencies

#1892 Fix compute_sample_weights when LOG_LABEL=True
  user_tools/src/spark_rapids_tools/tools/qualx/model.py
Labels: qualx
