Repository NVIDIA/spark-rapids-tools, pull requests merged in 2025-05, with the labels that each got.

#1657 Use config file and add docs for Qualx hash_util
  user_tools/src/spark_rapids_pytools/resources/qualx-hash-conf.yaml
  user_tools/src/spark_rapids_tools/tools/qualx/hash_config.py
  user_tools/src/spark_rapids_tools/tools/qualx/hash_util.py
Labels: user_tools

#1649 Adding 'Not Recommended Reason' to qualification summary
  user_tools/src/spark_rapids_pytools/rapids/qualification.py
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_tools/tools/additional_heuristics.py
  user_tools/src/spark_rapids_tools/tools/speedup_category.py
  user_tools/src/spark_rapids_tools/tools/unsupported_ops_stage_duration.py
  user_tools/tests/spark_rapids_tools_e2e/features/environment.py
  user_tools/tests/spark_rapids_tools_e2e/features/event_log_processing.feature
  user_tools/tests/spark_rapids_tools_e2e/features/steps/e2e_utils.py
  user_tools/tests/spark_rapids_tools_e2e/features/steps/preprocess_steps.py
  user_tools/tests/spark_rapids_tools_e2e/features/steps/test_steps.py
Labels: user_tools

#1660 Integrate Qualx train_and_evaluate into spark_rapids CLI with docs
  user_tools/docs/qualx.md
  user_tools/src/spark_rapids_pytools/rapids/qualx/train_and_evaluate.py
  user_tools/src/spark_rapids_tools/cmdli/argprocessor.py
  user_tools/src/spark_rapids_tools/cmdli/tools_cli.py
  user_tools/src/spark_rapids_tools/tools/qualx/preprocess.py
  user_tools/src/spark_rapids_tools/tools/qualx/qualx_config.py
  user_tools/src/spark_rapids_tools/tools/qualx/qualx_pipeline.py
  user_tools/tests/spark_rapids_tools_e2e/features/steps/preprocess_steps.py
  user_tools/tests/spark_rapids_tools_ut/qualx/test_preprocess.py
  user_tools/tests/spark_rapids_tools_ut/qualx/test_qualx_config.py
Labels: user_tools

#1663 Fix Bootstrap to avoid carrying forward CPU run memory configs when insufficient for GPU runs
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/AutoTuner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/QualificationAutoTunerRunner.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/ProfilingAutoTunerSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/QualificationAutoTunerSuite.scala
Labels: bug, core_tools, API change, autotuner

#1665 Add deepwiki badge [skip ci]
  README.md
Labels: documentation

#1672 Add support to expressions Sha1 ArrayDistinct and Conv
  core/src/main/resources/operatorsScore-databricks-aws-a10G.csv
  core/src/main/resources/operatorsScore-databricks-aws-t4.csv
  core/src/main/resources/operatorsScore-databricks-azure-t4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-l4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-t4.csv
  core/src/main/resources/operatorsScore-dataproc-l4.csv
  core/src/main/resources/operatorsScore-dataproc-serverless-l4.csv
  core/src/main/resources/operatorsScore-dataproc-t4.csv
  core/src/main/resources/operatorsScore-emr-a10.csv
  core/src/main/resources/operatorsScore-emr-a10G.csv
  core/src/main/resources/operatorsScore-emr-t4.csv
  core/src/main/resources/operatorsScore-onprem-a100.csv
  core/src/main/resources/supportedExprs.csv
Labels: feature request, core_tools

#1673 Add support for custom target GPU cluster info in Profiling Tool
  core/src/main/scala/com/nvidia/spark/rapids/tool/ClusterConfigurationStrategy.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/Platform.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileArgs.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileClassWarehouse.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileOutputWriter.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Profiler.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualOutputWriter.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/Qualification.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualificationArgs.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualificationMain.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/AutoTuner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/TargetClusterProps.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/package.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ClassWarehouse.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/ToolUtils.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/PropertiesLoader.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/ToolTestUtils.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/ClusterRecommendationSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/PluginTypeCheckerSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/ProfilingAutoTunerSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/QualificationAutoTunerSuite.scala
  user_tools/src/spark_rapids_pytools/resources/profiling-conf.yaml
  user_tools/tests/spark_rapids_tools_e2e/features/installation_checks.feature
Labels: feature request, user_tools, core_tools, API change

#1680 Change core mvn profiles to spark-xyz
  core/README.md
  core/pom.xml
Labels: cicd, core_tools, build

#1687 Add support for Bit operations
  core/src/main/resources/operatorsScore-databricks-aws-a10G.csv
  core/src/main/resources/operatorsScore-databricks-aws-t4.csv
  core/src/main/resources/operatorsScore-databricks-azure-t4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-l4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-t4.csv
  core/src/main/resources/operatorsScore-dataproc-l4.csv
  core/src/main/resources/operatorsScore-dataproc-serverless-l4.csv
  core/src/main/resources/operatorsScore-dataproc-t4.csv
  core/src/main/resources/operatorsScore-emr-a10.csv
  core/src/main/resources/operatorsScore-emr-a10G.csv
  core/src/main/resources/operatorsScore-emr-t4.csv
  core/src/main/resources/operatorsScore-onprem-a100.csv
  core/src/main/resources/supportedExprs.csv
Labels: feature request, core_tools

#1684 Enable tool-specific cluster sizing strategies for Qualification and Profiling tool
  core/src/main/scala/com/nvidia/spark/rapids/tool/ClusterConfigurationStrategy.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/Platform.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/AutoTuner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/QualificationAutoTuner.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/ClusterRecommendationSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/ProfilingAutoTunerSuite.scala
Labels: feature request, core_tools, API change, autotuner

#1685 Add support to parse gpu metrics stored in non-numeric format
  core/src/main/scala/org/apache/spark/sql/rapids/tool/store/AccumInfo.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/store/AccumManager.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/store/AccumMetaRef.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/EventUtils.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/StringUtils.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/util/ToolUtilsSuite.scala
Labels: feature request, core_tools

#1688 Remove cast of taskCpu and taskGpu to int in Qualx default.py featurizer
  user_tools/src/spark_rapids_tools/tools/qualx/featurizers/default.py
Labels: user_tools

#1698 Remove toml deprecation and update build and gitignore
  .gitignore
  user_tools/build.sh
  user_tools/pyproject.toml
Labels: user_tools, build

#1695 AutoTuner: Fix executor memory recommendation by accounting for off-heap usage and container reservations
  core/src/main/scala/com/nvidia/spark/rapids/tool/ClusterConfigurationStrategy.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/Platform.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/AutoTuner.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/BaseAutoTunerSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/ProfilingAutoTunerSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/QualificationAutoTunerSuite.scala
Labels: core_tools, API change, autotuner

#1701 Qualx model updates from weekly KPI run 2025-05-25
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws_photon.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure_photon.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/dataproc.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/emr.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/onprem.json
Labels: user_tools

#1704 Support unzipped eventlogs in Qualx train_and_evaluate pipeline
  user_tools/src/spark_rapids_tools/tools/qualx/preprocess.py
  user_tools/src/spark_rapids_tools/tools/qualx/qualx_main.py
  user_tools/src/spark_rapids_tools/tools/qualx/qualx_pipeline.py
  user_tools/src/spark_rapids_tools/tools/qualx/util.py
  user_tools/tests/spark_rapids_tools_e2e/features/steps/preprocess_steps.py
Labels: user_tools
