Repository NVIDIA/spark-rapids-tools, pull requests merged in 2025-07, with the labels that each got.

#1756 Fix typo in file QualOutputTableDefition.scala
  core/docs/qual_core_output.md
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/qualification/QualOutputTableDefinition.scala
Labels: core_tools

#1771 Improve qualx hash algorithm for rewritten plans
  user_tools/src/spark_rapids_pytools/resources/qualx-hash-conf.yaml
  user_tools/src/spark_rapids_tools/tools/qualx/hash_util.py
Labels: user_tools

#1765 Add target cluster info to Qualification Tool JAR and unify cluster info output format
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileArgs.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileOutputWriter.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Profiler.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/Qualification.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualificationArgs.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualificationMain.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/QualRawReportGenerator.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/qualification/QualReportGenConfProvider.scala
  core/src/test/resources/spark-events-qualification/nds_q72_dataproc_2_2.zstd
  core/src/test/scala/com/nvidia/spark/rapids/tool/ToolTestUtils.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/ClusterRecommendationSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/qualification/QualificationNoSparkSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/BaseAutoTunerSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/QualificationAutoTunerSuite.scala
Labels: feature request, core_tools, API change

#1777 Validate custom target cluster info YAML and comment on speedup accuracy in Qual Tool
  user_tools/src/spark_rapids_pytools/rapids/rapids_tool.py
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_tools/cmdli/argprocessor.py
  user_tools/src/spark_rapids_tools/cmdli/tools_cli.py
  user_tools/tests/spark_rapids_tools_e2e/features/event_log_processing.feature
  user_tools/tests/spark_rapids_tools_e2e/features/installation_checks.feature
  user_tools/tests/spark_rapids_tools_e2e/features/steps/e2e_utils.py
  user_tools/tests/spark_rapids_tools_e2e/features/steps/test_steps.py
  user_tools/tests/spark_rapids_tools_e2e/resources/target_cluster_files/target-cluster-only-spark-props.yaml
  user_tools/tests/spark_rapids_tools_e2e/resources/target_cluster_files/target-cluster-worker-info-and-spark-props.yaml
Labels: bug, user_tools

#1783 Add support for L20 GPU in Tools
  core/src/main/scala/com/nvidia/spark/rapids/tool/GpuDevice.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/ProfilingAutoTunerSuiteV2.scala
Labels: feature request, core_tools

#1781 Allow users to specify driver instance type in target cluster file
  core/src/main/resources/targetClusterInfo/target-cluster-05.yaml
  core/src/main/scala/com/nvidia/spark/rapids/tool/Platform.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/Qualification.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/AutoTuner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/TargetClusterProps.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/ToolTestUtils.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/ClusterRecommendationSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/ProfilingAutoTunerSuiteV2.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/QualificationAutoTunerSuite.scala
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_tools/tools/core/qual_output_reader.py
Labels: feature request, user_tools, core_tools

#1772 Support "alias" feature via tuningTable yaml file
  core/src/main/resources/targetClusterInfo/target-cluster-06.yaml
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/AutoTuner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/QualificationAutoTuner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/TargetClusterProps.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/TuningEntry.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/TuningEntryDefinition.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/ToolTestUtils.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/BaseAutoTunerSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/ProfilingAutoTunerSuiteV2.scala
Labels: core_tools

#1794 Add option to report SQL-graphs in profiler
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileArgs.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileClassWarehouse.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Profiler.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/OutHeaderRegistry.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/SQLView.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/ViewableTrait.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/store/SQLPlanModelManager.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/StringUtils.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/ToolsPlanGraph.scala
  user_tools/src/spark_rapids_pytools/resources/profiling-conf.yaml
Labels: feature request, user_tools, core_tools, API change

#1804 Externalize AutoTuner constants via YAML and support user-defined tuning
  core/docs/sampleFiles/bootstrap/customTuningConfigs.yaml
  core/docs/sampleFiles/targetClusterInfo/targetCluster01.yaml
  core/docs/sampleFiles/targetClusterInfo/targetCluster02.yaml
  core/docs/sampleFiles/targetClusterInfo/targetCluster03.yaml
  core/docs/sampleFiles/targetClusterInfo/targetCluster04.yaml
  core/docs/sampleFiles/targetClusterInfo/targetCluster05.yaml
  core/docs/sampleFiles/targetClusterInfo/targetCluster06.yaml
  core/src/main/resources/bootstrap/tuningConfigs.yaml
  core/src/main/scala/com/nvidia/spark/rapids/tool/GpuDevice.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileArgs.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Profiler.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/Qualification.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualificationArgs.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualificationMain.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/AutoTuner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/QualificationAutoTuner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/QualificationAutoTunerRunner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/TunerContext.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/TuningConfigsProvider.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/ToolTestUtils.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/ClusterRecommendationSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/BaseAutoTunerSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/ProfilingAutoTunerSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/ProfilingAutoTunerSuiteV2.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/QualificationAutoTunerSuite.scala
  user_tools/src/spark_rapids_pytools/resources/profiling-conf.yaml
  user_tools/src/spark_rapids_pytools/resources/qualification-conf.yaml
  user_tools/src/spark_rapids_tools/cmdli/argprocessor.py
  user_tools/src/spark_rapids_tools/cmdli/tools_cli.py
Labels: feature request, user_tools, core_tools, autotuner

#1815 Add report yaml configurations for core output
  .gitignore
  core/src/main/resources/configs/reports/coreRawMetricsReport.yaml
  core/src/main/resources/configs/reports/profCoreReport.yaml
  core/src/main/resources/configs/reports/qualCoreReport.yaml
  core/src/main/resources/configs/reports/qualOutputTable.yaml
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/qualification/QualReportGenConfProvider.scala
  user_tools/build.sh
  user_tools/src/spark_rapids_pytools/rapids/tool_ctxt.py
  user_tools/src/spark_rapids_pytools/resources/dev/prepackage_mgr.py
  user_tools/src/spark_rapids_pytools/resources/generated_files/.gitkeep
  user_tools/src/spark_rapids_tools/tools/core/qual_table_loader.py
Labels: user_tools, core_tools, build

#1822 Support URI-prefixed file paths for target cluster info and handle zero GPU resource amount in AutoTuner
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/AutoTuner.scala
  user_tools/src/spark_rapids_pytools/common/prop_manager.py
  user_tools/src/spark_rapids_pytools/rapids/rapids_tool.py
Labels: bug, user_tools, core_tools

#1824 Add attempt-id to core app status report
  core/docs/qual_core_output.md
  core/src/main/resources/configs/reports/qualCoreReport.yaml
  core/src/main/resources/configs/reports/qualOutputTable.yaml
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileClassWarehouse.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Profiler.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/QualToolResult.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/qualification/Qualification.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/OutHeaderRegistry.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/qualification/QualToolReportGenerator.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/AppMetaData.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/OperationResult.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/RuntimeReporter.scala
Labels: core_tools, API change

#1829 Fix: Change spark.executor.resource.gpu.amount Datatype from Double to Long
  core/src/main/resources/bootstrap/tuningConfigs.yaml
  core/src/main/resources/bootstrap/tuningTable.yaml
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/AutoTuner.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/ProfilingAutoTunerSuiteV2.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/QualificationAutoTunerSuite.scala
Labels: bug, core_tools, autotuner
