Repository NVIDIA/spark-rapids-tools, pull requests merged in 2025-03, with the labels that each got.

#1567 Add sqlID column to failed_jobs.csv
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/DataWritingCommandExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileClassWarehouse.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/JobView.scala
  core/src/test/resources/ProfilingExpectations/jobs_failure_eventlog_expectation.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/HealthCheckSuite.scala
Labels: core_tools, API change

#1574 Add kryo related settings to the AutoTuner's Bootstrap conf
  core/src/main/resources/bootstrap/tuningTable.yaml
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/AutoTuner.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/ProfilingAutoTunerSuite.scala
Labels: bug, core_tools, autotuner

#1581 Support Bin and Slice expressions in Qual tool
  core/src/main/resources/operatorsScore-databricks-aws-a10G.csv
  core/src/main/resources/operatorsScore-databricks-aws-t4.csv
  core/src/main/resources/operatorsScore-databricks-azure-t4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-l4.csv
  core/src/main/resources/operatorsScore-dataproc-gke-t4.csv
  core/src/main/resources/operatorsScore-dataproc-l4.csv
  core/src/main/resources/operatorsScore-dataproc-serverless-l4.csv
  core/src/main/resources/operatorsScore-dataproc-t4.csv
  core/src/main/resources/operatorsScore-emr-a10.csv
  core/src/main/resources/operatorsScore-emr-a10G.csv
  core/src/main/resources/operatorsScore-emr-t4.csv
  core/src/main/resources/operatorsScore-onprem-a100.csv
  core/src/main/resources/supportedExprs.csv
Labels: feature request, core_tools

#1584 Qualx model updates from weekly KPI run 2025-03-09
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws_photon.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws_photon.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-aws_photon.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure_photon.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure_photon.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/databricks-azure_photon.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/dataproc.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/dataproc.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/dataproc.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/emr.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/emr.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/emr.metrics
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/onprem.cfg
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/onprem.json
  user_tools/src/spark_rapids_pytools/resources/qualx/models/xgboost/onprem.metrics
Labels: user_tools

#1558 Adds aggregation across metrics for failed/succeeded and non completed stages
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/AppSparkMetricsAnalyzer.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileClassWarehouse.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/EventProcessorBase.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/store/AccumInfo.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/store/AccumManager.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/store/StageModel.scala
Labels: bug, core_tools

#1578 Adjust maxPartitionBytes if the table scan stage had OOM task failures
  core/src/main/scala/com/nvidia/spark/rapids/tool/AppSummaryInfoBaseProvider.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ApplicationSummaryInfo.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileClassWarehouse.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/AutoTuner.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/QualificationAutoTuner.scala
  core/src/test/resources/spark-events-profiling/gpu_oom_eventlog.zstd
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/BaseAutoTunerSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/ProfilingAutoTunerSuite.scala
Labels: bug, core_tools, autotuner

#1592 Fix AutoTuner unit test with dynamic plugin JAR URL value
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/AutoTuner.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/ProfilingAutoTunerSuite.scala
Labels: bug, core_tools

#1591 Add insertIntoHiveTable to the WriteOps report
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/DataWritingCommandExecParser.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/HiveParseHelper.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/planparser/WriteOpMetaExtractorTrait.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/WriteOpsView.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/store/WriteOperationStore.scala
  core/src/main/scala/org/apache/spark/sql/rapids/tool/util/StringUtils.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/planparser/WriteOperationParserSuite.scala
Labels: core_tools, API change

#1593 AutoTuner recommends increasing shuffle partitions when shuffle stages have OOM failures on YARN
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ApplicationSummaryInfo.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileClassWarehouse.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/tuning/AutoTuner.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/BaseAutoTunerSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/tuning/ProfilingAutoTunerSuite.scala
Labels: feature request, core_tools, autotuner

#1548 [FEA] Add filtered diagnostic output for GPU slowness in Profiler tool
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/AppSQLPlanAnalyzer.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/StatisticsMetrics.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/util/DiagnosticMetrics.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/CollectInformation.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/DiagnosticSummaryInfo.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileClassWarehouse.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Profiler.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/SQLView.scala
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_filtereddiagnosticmetrics_expectation.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/AnalysisSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/ApplicationInfoSuite.scala
Labels: feature request, core_tools

#1600 Revert "Update version by jenkins-spark-rapids-tools-auto-release-111"
  core/pom.xml
  user_tools/src/spark_rapids_pytools/__init__.py
Labels: user_tools, core_tools, build

#1602 Revert "[FEA] Add filtered diagnostic output for GPU slowness in Profiler tool (#1548)"
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/AppSQLPlanAnalyzer.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/StatisticsMetrics.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/analysis/util/DiagnosticMetrics.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/CollectInformation.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/DiagnosticSummaryInfo.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/ProfileClassWarehouse.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/profiling/Profiler.scala
  core/src/main/scala/com/nvidia/spark/rapids/tool/views/SQLView.scala
  core/src/test/resources/ProfilingExpectations/rapids_join_eventlog_filtereddiagnosticmetrics_expectation.csv
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/AnalysisSuite.scala
  core/src/test/scala/com/nvidia/spark/rapids/tool/profiling/ApplicationInfoSuite.scala
Labels: core_tools, API change, performance
